[2015-08-27 07:00] gjn commented on #1593
This issue was moved to geoadmin/mf-geoadmin3#2606

[2015-08-27 11:19] gjn commented on #1599
I think this [mod_wsgi](https://github.com/GrahamDumpleton/mod_wsgi/issues/58) issue might be the reason for the 503. There seems to be a time-out occuring while apache is passing the request data (json) to mod_wsgi.

We might update mod_wsgi to see how it's handled now. @danduk82 What version of mod_wsgi are we currently running on our infrastructure?

[2015-08-27 11:41] gjn commented on #1599
I think the actual trigger of this might be an aborted profile request [1]. We do this sometimes when user draws quickly. In such a case, the upload of the json data stops, thus resulting in a read error in mod_wsgi, which isn't handled in our code and apache will issue a 503 in such cases. It's an assumption as of now as I was not able to reproduce this in dev.

I can try a patch that will catch

[2015-08-27 17:39] #1630 closed

[2015-09-02 06:09] gjn commented on #1602
Some errors might also be triggered by aborted print requests (our front-end allows to cancel prints). See related error for profile: https://github.com/geoadmin/mf-chsdi3/issues/1599

[2015-09-04 06:44] gjn opened #1638 "Apache crashes"
In our logs [1], I could see a couple of apache crashes due to out-of-memory exceptions. These could be observed only on our prod instances that server mapproxy and profile. (vpc-mf0-prod5 and vpc-mf0-prod6)

No analysis done yet.

[1] https://logs.bgdi.ch/kibana/#/dashboard/elasticsearch/apache%20crashes

[2015-09-04 13:02] ltclm opened #1639 "zeitreihen - get rid of meta_xx views"
As discussed today i have modified the materialized views:
- zeitreihen_master.public.tooltip_15
- zeitreihen_master.public.tooltip_20
- zeitreihen_master.public.tooltip_21
- zeitreihen_master.public.tooltip_22

These view do now contain a new fileld with an integer array of all release years:

[code]

The print meta service can now query the tooltip views.

The new database has been deployed to d

[2015-09-08 10:01] procrastinatio commented on #1638
The following 4 instances vpc-sphinxsearch-prod-2, vpc-sphinxsearch-prod-1, vpc-wms-prod-5 and vpc-wms-prod-4 are responsible for 2/3 of the crashes...

[2015-09-08 10:04] procrastinatio commented on #1610
Well it is a UserWarning. More disturbing is the fact that it is requesting the geocat `int` instance.

[2015-09-08 10:54] procrastinatio commented on #1599
We have:
[code]

[2015-09-08 13:07] #1600 closed

[2015-09-08 13:11] #1603 closed

[2015-09-08 13:12] #1610 closed

[2015-09-09 06:36] ltclm opened #1641 "feature service supports simplified geometry"
**Problem**
Some layers have huge original geometries (number of vertices per feature) which are slowing down the overall performance of the database access stack (wsgi,sqlalchemy,etc.). We should be able to provide generalized and simplified geometry columns for these layers.
Now we have some workarounds, see:
https://github.com/geoadmin/mf-chsdi3/pull/1624
https://github.com/geoadmin/mf-chsdi3/p

[2015-09-09 09:49] cedricmoullet commented on #1641
It looks good to me. @davidoesch @procrastinatio @loicgasser @gjn thoughts ?

[2015-09-09 09:50] davidoesch commented on #1641
Ok - we already have the same approach for Swiss boundaries...

On Wed, Sep 9, 2015 at 11:49 AM, Cédric Moullet <notifications@github.com>
wrote:

[2015-09-10 07:12] #1594 closed

[2015-09-10 13:06] #1522 closed

[2015-09-11 14:24] procrastinatio commented on #1641
Depending on scale and dataset, you may also:
- clip the bbox of `mapExtent`
- round the coordinates to meter or less

[2015-09-15 07:06] gjn commented on #1641
Doesn't this apply to all services returning a geometry?

So I would apply to reduced geometry as default geometry (also for intersection, etc) and (if desired) keep the full geometry on a new separate row. Frankly, I can't see a use case where we want to keep huge geometries in the db, so why keep them at all and add complexity to the models/requests?

[2015-09-15 08:53] procrastinatio commented on #1528
PR https://github.com/geoadmin/mf-chsdi3/pull/1531 merged, sol closing this issue.

[2015-09-15 08:53] #1528 closed

[2015-09-15 11:22] ltclm commented on #1641
yes, if the geometry reference of the model is just used for the spatial selection query and the highlight in chsdi, we could just use a simplified geometry source in the database. I will prepare a column in the database and make a pr for ch.swisstopo.geologie-geocover.
We still need the original geometry in the database for mapserver (wms,wfs, tile generation, etc.).

[2015-09-15 19:14] ltclm commented on #1641
I have replaced the geometry source of ch.swisstopo.geologie-geocover on dev.
The identify request with the simplified geometry is about 3 times faster (2s) than with the original geometry (5s), the simplified geometry response is 200kB, the original geometry response is 900kB.

https://mf-chsdi3.dev.bgdi.ch/rest/services/ech/MapServer/identify?geometry=639250,148850&geometryFormat=geojson&geometr

[2015-09-16 06:37] gjn commented on #1641
I think that's the correct approach. Do we do the same for all the other problematic layers?

[2015-09-16 08:31] gjn opened #1654 "Add doc for terrain 'service'"

[2015-09-16 09:15] cedricmoullet commented on #1599
We'll see after the deploy

[2015-09-16 09:51] gjn commented on #1641
@ltclm Will all other problematic layers be treated as well? If so, please let us know and also indicate which db's we need to deploy to production.

[2015-09-16 10:15] ltclm commented on #1641
No we have to decide this for each layer. Some of them have a db access via views, no big problem here, others have direct table access, we have to change the model definition in this case.
Furthermore it would be good to know how the planned postgres->geojson change impacts the whole system before any further changes.

For now we just have to deploy stopo to int and prod.

[2015-09-16 13:28] gjn commented on #1641
ok. Well, code guard against to big geometries is still in place. User won't get any geometry for those at all.

[2015-09-18 09:54] ltclm commented on #1593
the problem still exists
https://s.geo.admin.ch/670b35edff
**reproduce as follows:**
* activate both layers
* select by rectangle an area containing features of both layers
* close object information window
* deactivate the the layer with line features
* repeat the same select by rectangle

**Result:**
* lines and points are highlighted

**Expected Result:**
* only points are highlighted

![image]

[2015-09-18 11:54] oterral commented on #1593
@ltclm  it's only because geoadmin and chsdi have not been deployed since we fix th issue see in [dev](https://mf-geoadmin3.dev.bgdi.ch/?X=153550.00&Y=640700.00&zoom=4&topic=ech&lang=de&bgLayer=voidLayer&layers=ch.swisstopo.geologie-gisgeol-punkte,ch.swisstopo.geologie-gisgeol-linien)

[2015-09-18 12:52] ltclm commented on #1593
@oterral thanks for the feedback.
@mariokeusen will be fixed with next deploy.

[2015-09-18 12:52] #1593 closed

[2015-09-22 05:19] alcapat opened #1669 "Error with wmtsgettile.test_epsg2056"
Hello Marc.

There is a jenkins test failed with chsdi.tests.e2e.test_wmtsgettile.test_epsg2056
http://mf-chsdi3.ci.bgdi.ch/1.0.0/ch.astra.ivs-nat-verlaeufe/default/20100416/2056/17/5/6.png
Tileset (bod) is correct.
Can you please investigate ?

[2015-09-22 07:29] procrastinatio commented on #1669
The issue is with the source data delivered in a format Mapproxy is not expecting.

`curl -I https://wmts8.geo.admin.ch/1.0.0/ch.astra.ivs-nat-verlaeufe/default/20100416/21781/15/0/3.png`

We hava again:

[code]

Has to be an image format, `image/png` in this case

[2015-09-22 07:48] cedricmoullet commented on #1669
How to solve this ?

[2015-09-22 07:59] procrastinatio commented on #1669
This was solved long time ago, but the config got lost in the varnish 3 to 4 migration or in the aftermath.

So @danduk82 has a ticket for that.

This is now an issue because of (https://github.com/geoadmin/mf-chsdi3/pull/1658), mapproxy reducing the image size with `img.quantize(colors, Image.FASTOCTREE)`, the delivered image has to be in a correcte image type.

Many non-web aplications will choc

[2015-09-22 08:02] gjn commented on #1669
But why is `ch.astra.ivs-nat-verlaeufe` the only layer affected? It's the only test that fails, all other layers for 2056 are ok.

[2015-09-22 13:24] procrastinatio commented on #1669
All tile pngs are:

`(256x256, 32-bit RGB+alpha, non-interlaced, 99.7%`

but `ch.astra.ivs-nat-verlaeufe`which is

 `(256x256, 16-bit grayscale+alpha, non-interlaced, 97.1%)`

Enought to make `Pillow` choke.

[2015-09-22 13:35] gjn commented on #1669
Fixable for tomorrow?

[2015-09-22 14:49] procrastinatio commented on #1669
No, no idea what to try for now. I did try requesting a custom format, desativating the quantizer and various other things in the config. The trouble is, many options are only global and affect all images of the same type.

Using the WMS as a source ?

Small note, mapproxy has only requested about 140 tiles last month

[2015-09-22 14:56] gjn commented on #1669
I'd use wms for quick fix.

[2015-09-22 14:57] gjn commented on #1669
wms as source, that is.

[2015-09-22 17:27] procrastinatio commented on #1669
It's neither quick nor a fix. I give up. Sorry

[2015-09-23 06:56] gjn commented on #1669
There's no easy fix. We'll fix the test and deploy this anyway. At least this layer will be broken for other configurations (it's not requested often, we we should be able to live with this for some time).

Issue stays open and we try to solve it after deploy.

[2015-09-23 07:19] gjn commented on #1669
I've quickly tested all layers visually. I've found 2 other layers with same issue:

`ch.swisstopo.vec25-eisenbahnnetz`
`ch.swisstopo.swissbuildings3d`

[2015-09-23 07:20] gjn commented on #1669
@ltclm just to keep you updated on this issue. We'll deploy mapproxy today where those 3 layers won't work.

[2015-09-24 06:52] ltclm opened #1676 "tooltips on vd amografik layers do not work anymore"
Apparently https://github.com/geoadmin/mf-chsdi3/commit/cc4c8c8f4f39a1fea73b509fe4d31cf837f197b5 has broken the amographik tooltips of the following layers:

ch.swisstopo-vd.geometa-nfgeom
ch.swisstopo-vd.geometa-grundbuch
ch.swisstopo-vd.geometa-gemeinde

The same column ``the_geom_gen50``is used for wms and tooltip hilighting, thats why i dont want to simplify the geometry too much. Do you have

[2015-09-24 07:18] davidoesch commented on #1676
Already got a Customer complaint --- Prio 1 bug

[2015-09-24 12:04] AFoletti commented on #1676
posted a PR to correct it. Took some time to dig out the problem

[2015-09-24 12:59] gjn commented on #1676
Will be deployed to prod today.

[2015-09-24 12:59] #1676 closed

[2015-09-24 13:39] procrastinatio opened #1679 "CadastralWebMap inconsistencies"
The MISTRA folks did observe that tiles borders sometime did not maatch at the border (WMTS/WMTS). See print screen. For more info, contact Mr Surka.

![mistra](https://cloud.githubusercontent.com/assets/1236739/10074757/1dfb8fd6-62d2-11e5-9cb1-5cf34242e712.jpg)

Contact bei MISTRA: martin.surka@astra.admin.ch

Via @beat-github

[2015-09-24 13:44] cedricmoullet commented on #1679
@ltclm ?

[2015-09-24 14:11] ltclm commented on #1679
I have contacted martin surka to get more infos.

[2015-09-25 04:13] cedricmoullet opened #1680 "MapProxy 50x"
Request to  http://wmts12.geo.admin.ch/1.0.0/ch.swisstopo.vec25-eisenbahnnetz/default/20090401/2056/17/5/6.png produces this issue: https://logs.bgdi.ch/kibana/#/dashboard/elasticsearch/20150925_Issue50x

is produced by:

[Fri Sep 25 03:35:51 2015] [error] No handlers could be found for logger "mapproxy.wsgiapp"
[Fri Sep 25 03:35:51 2015] [error] [client 10.220.6.245] Traceback (most recent call l

[2015-09-25 09:01] ltclm opened #1683 "strange list of default layers for topic ech"
If you open map.geo.admin.ch without parameters you will find the following layers in the layer tree, selected but not activated:
* ch.swisstopo.zeitreihen
* ch.bfs.gebaeude_wohnungs_register
* ch.bafu.wrz-wildruhezonen_portal
* ch.swisstopo.swisstlm3d-wanderwege

[2015-09-25 09:58] cedricmoullet commented on #1683
It's a feature ;-) (of the new layer manager in order to avoid that users have to search within the catalog tree..

[2015-09-25 09:58] #1683 closed

[2015-09-25 13:27] procrastinatio commented on #1680
This is described in https://github.com/geoadmin/mf-chsdi3/issues/1669

These three layers are mixing image type (problems arise when a tile is converted to greyscale):

`ch.swisstopo.vec25-eisenbahnnetz`
`ch.swisstopo.swissbuildings3d`
`ch.astra.ivs-nat-verlaeufe`

[2015-09-25 13:31] gjn commented on #1680
I'll close the other as duplicate (tests have been temporarely fixed), but this issue needs to be fixed ....somehow...

[2015-09-25 13:31] #1669 closed

[2015-09-30 16:43] procrastinatio opened #1689 "Missing legend image for ch.bafu.bundesinventare-amphibien_anhoerung"
[code]

Makes print break.

[2015-09-30 18:06] loicgasser commented on #1689
@alcapat can you add the missing legend?

[2015-10-01 10:01] procrastinatio commented on #1679
Both our WMS and WMTS are using `‚http://wms.cadastralwebmap.ch/WMS`as a source. We do not cache anything locally (except in varnish).

The only strange thing is  the `Cache-Control`header:
[code]

[2015-10-01 12:42] procrastinatio opened #1692 "Test test_mapservice.test_extendedhtmlpopup_valid_lubis fails"
[code]

[2015-10-01 13:42] ltbam opened #1694 "Search Layer Objects with Spatial filter (circle, rectangle, polygon) + SearchText"
For our Client we need following feature when searching for layer objects:

- Filter objects within a (circle, rectangle, polygon).
- Filter objects using a search text.

Example use case:
The user draws a polygon or circle representing a mission critical area, then enters “health” in the search box criteria, performs the search. It will receive back all health troupe available in the specified ar

[2015-10-01 14:38] davidoesch commented on #1694
Can we take this offline? We need here to follow the process -> anforderungsklaerung .

[2015-10-04 21:03] procrastinatio commented on #1679
Still waiting for response to my request for more informations from MISTRA side.

[2015-10-04 21:34] procrastinatio commented on #1638
This is a general issue on *all* prod servers. They all crash one day or another:_puppetmaster, wms-prod, shpinx sphinxsearch-prod, mf0-prod and mf0-stateless_.

As Apache act as a proxy for many services (mapserver, wsgi, tomcat) it should be configured to protect the backends.
The cluster _mf0-prod_ with its three memory hogs services is clearly underpowered.

[2015-10-05 19:49] procrastinatio commented on #1599
According to the link from @gjn, this issue is fixed in *mod_wsgi 4.4.0*
In Debian Jessie we have *apache 2.4.0* and *mod_wsgi 4.3.0*, and we are stille using *wheezie*.

At least I have a test case that reproduce the error.

To solved it, we do not have many options, as profile/height is part of chsdi3. I would try another wsgi server, like gunicorn or uwsgi, and let run chsdi3 on mf0-prod with t

[2015-10-05 21:48] procrastinatio commented on #1599
The interesting fact is that you may crash all our services sending buggy POST requests!

[2015-10-06 06:56] #1680 closed

[2015-10-06 08:59] procrastinatio commented on #1599
So solutions so far:
* Upgrade to apache 2.4 and mod_wsgi 4.4+
* Use a different wsig server
* Filtering POST request with HAProxy

[2015-10-12 08:37] cype opened #1702 "Wrong Attribute-Name in Extended Tooltip in ch.bfe.windenergieanlagen"
In the first table of the extended tooltip, there should be written "Name" instead of "tt_ch.bfe.abgeltung-wasserkraftnutzung_name".

Check both extended tooltips, turbine and facility:

https://api3.geo.admin.ch/rest/services/ech/MapServer/ch.bfe.windenergieanlagen/turbine_56/extendedHtmlPopup?lang=de

https://api3.geo.admin.ch/rest/services/ech/MapServer/ch.bfe.windenergieanlagen/facility_SCH/ex

[2015-10-13 12:39] loicgasser opened #1703 "Use date format for date columns"
We have a lot dates that are in text format. We should change those and use the proper type.
(Date or DateTime for instance)

See for instance:
https://github.com/geoadmin/mf-chsdi3/blob/master/chsdi/models/vector/uvek.py#L889
https://github.com/geoadmin/mf-chsdi3/blob/master/chsdi/models/vector/uvek.py#L890
https://github.com/geoadmin/mf-chsdi3/blob/master/chsdi/models/vector/uvek.py#L854

bgdi_c

[2015-10-14 13:42] AFoletti commented on #1703
as a rule of thumb, we do not use much a date format in our tables and we tend to use text instead.
What do you think? Will it be a problem setting them to date format in the model and leave them as text in the tables?
@ltclm : would it make sense to check our tables and change the column format too?

[2015-10-14 13:42] AFoletti commented on #1702
@daguer, I'll let you handle this translation problem

[2015-10-14 13:48] AFoletti commented on #1689
posted PR

[2015-10-14 14:06] AFoletti commented on #1492
@pfanguin , could you please add some info about you work about this ticket until now?

Some more info about the tooltip ( @davidoesch correct me if I miss something):
- please implement the possibility to filter the departures per "label" et "destination".
- the tooltips (normal and extended) should have a way to filter by those two attributes (something like a drop-down menu?).
- according to th

[2015-10-14 14:51] davidoesch commented on #1492
Filter for
-- line number
-- direction
-- departure time ( countdown !)

[2015-10-14 14:57] AFoletti commented on #1492
line number = label
direction = destination
departure time: do you really want a filter on that? Something like set the clock and see the next three connections starting from that time?

[2015-10-14 15:02] davidoesch commented on #1492
from a UI perspective there I assume are 3 colums, so a filter (A-Z and Z-A) in the head row for all three rows make sense and easier to use...

[2015-10-15 06:14] gjn commented on #1492
Departure time is most important info; so we need to be able to filter on it on db side. It's like http://www.timeforcoffee.ch/ but with interactive map.

[2015-10-15 06:23] chregu commented on #1492
JFYI: We're currently trying to add more real-time departure data to the timeforcoffee API. Maybe it's of interest for you

[2015-10-15 09:35] gjn opened #1709 "Layer search: words in title with more weight than in description"
When doing a search with type `layers`, the words in the layer title should weight more than the words in the description.

It should be in a way that part-word matches in the title weight slighlty more than full word matches in the description.

[2015-10-19 07:42] #1689 closed

[2015-10-20 07:54] loicgasser commented on #1703
Dates should be dates, do we need to argue on that?

[2015-10-20 07:54] pfanguin commented on #1492
Test link:

https://mf-geoadmin3.dev.bgdi.ch/fap_oev/?lang=fr&topic=ech&bgLayer=ch.swisstopo.pixelkarte-farbe&layers=ch.bav.haltestellen-oev&layers_opacity=0.75&X=152084.00&Y=538184.00&zoom=9

[2015-10-20 08:06] davidoesch commented on #1492
Tooltip does not show / activated on mobile  ios / safari / chrome

On Tue, Oct 20, 2015 at 9:54 AM, pfanguin <notifications@github.com>
wrote:

[2015-10-20 08:49] pfanguin commented on #1492
It's work now. Staging actually :

- 10 next departures
- no refreshing
- Destination
- Type transportation
- Line number

[2015-10-20 09:41] davidoesch commented on #1492
Ah nice

@pfanguin

A) departure info is missing
http://www.awesomescreenshot.com/image/677338/92825274de2554ef88a3d3a3f4321366
for https://mf-chsdi3.dev.bgdi.ch/fap_oev_service/shorten/67afdc4c70
-> in such cases, if there is really no info (check sources): create a
msgid display: no data available

B) Type transportation icon  in first row: not needed , line number is
enough, sapce saved

C) rep

[2015-10-20 11:06] procrastinatio commented on #1703
And number should be float or integer...

[2015-10-20 11:09] procrastinatio commented on #1679
Still no anwser. Resent request for more infos today.

[2015-10-20 17:21] loicgasser commented on #1703
that too

[2015-10-21 11:31] gjn opened #1715 "JS API: search results with restricted result"
When a client duplicates our [example search](http://api3.geo.admin.ch/examples/geoadmin_search.html) and he is outside of BundNetwork, any address results will not have any geometrical informations. This results in the API zooming in to an 'undefined' point, which is completely outside of Switzerland.

The API should be able to handle 'no geometry' results from the search service in this example.

[2015-10-21 11:31] gjn commented on #1715
Or maybe something for @rfrancel

[2015-10-27 05:40] cedricmoullet opened #1721 "Corrupt MuliPDF"
URL: https://map.geo.admin.ch/?topic=ech&lang=fr&bgLayer=voidLayer&layers=ch.swisstopo.zeitreihen&layers_timestamp=18641231&X=240463.40&Y=638094.97&zoom=7&time=1864
Print settings:
![image](https://cloud.githubusercontent.com/assets/319676/10750426/84055d22-7c75-11e5-8178-35bd0ed44262.png)

This configuration generates a corrupted PDF

[2015-10-27 05:45] cedricmoullet opened #1722 "Wrong years in Multipdf"
URL: https://map.geo.admin.ch/?topic=ech&lang=fr&bgLayer=voidLayer&layers=ch.swisstopo.zeitreihen&layers_timestamp=18641231&X=240048.59&Y=640049.86&zoom=5&time=1864
Print settings
![image](https://cloud.githubusercontent.com/assets/319676/10750454/01df4cbc-7c76-11e5-95df-7864964eb744.png)
This configuration generates a PDF starting in 1873, but the first 1:100'000 layer is in 1861 (https://map.geo

[2015-10-27 05:47] cedricmoullet commented on #1721
Same issue with https://map.geo.admin.ch/?topic=ech&lang=fr&bgLayer=voidLayer&layers=ch.swisstopo.zeitreihen&layers_timestamp=18611231&X=240710.00&Y=636970.00&zoom=6&time=1861
and
![image](https://cloud.githubusercontent.com/assets/319676/10750513/8b42e6a8-7c76-11e5-81e1-3fc9f35d5e6c.png)

[2015-10-27 07:38] oterral commented on #1721
The 2 links works by me. May be it was a problem during downloading.

[2015-10-27 07:42] gjn commented on #1721
I've had this sometimes as well when using 'show' instead of 'download' in IE11. Somehow, IE11 attempts to show the file before it's done downloading.

Anyhow, I was able to reproduce it in chrome. The error occurse during the download (it finishes downloading the file but reports an error during download). The file on the infrastructure exists.

Still investigating.

[2015-10-27 12:32] gjn commented on #1722
I've analysed a bit. Last change of this was in this PR: https://github.com/geoadmin/mf-chsdi3/pull/1635 to fix https://github.com/geoadmin/mf-chsdi3/issues/1628.

I think the correct solution is between those 2. Before the above PR, the query to the db was correct (we used point to query the release years), but the model chosen for the query was wrong (because we didn't correclty calculate the __

[2015-10-28 10:35] cype commented on #1702
push

[2015-10-28 13:06] loicgasser commented on #1694
Yes, you can use a circle, a rectangle or any polygon in an identify request and you can use the where clause of the “Object info” tool in geoadmin.
Both can be used together as multiple filters.

For instance (where parameter) for the search text:
where=startofconstruction+>%3D+%272015-10-14%27+and+state+ilike+%27%25A%25%27

For the geometry:
geometry=533000,141000.00000000006,567000,175500.00000

[2015-10-28 13:06] loicgasser commented on #1694
where parameter is not documented

[2015-10-28 19:57] ltclm commented on #1722
what's the url of the service which is collecting the years?
It would be helpful to reproduce what exactly happens in the database.

[2015-10-28 21:05] ltclm commented on #1722
are you sure that the imageDisplay parameters passed to the release service are correct?
The Link above is executing the following request:
http://api3.geo.admin.ch/rest/services/ech/MapServer/ch.swisstopo.zeitreihen/releases?imageDisplay=11602,7667,96&mapExtent=625893.611111,230691.388889,654186.388889,249388.611
[code]

This request is executing the following query in the database
[code]

The vi

[2015-10-29 10:13] AFoletti commented on #1703
@ltclm and I we discussed the issue a little. Our proposal is to integrate every new layer with the correct data type in the DBs, but not altering the old tables immediately. They will be processed one by one on occasion of a data update.
Is that acceptable to you?

[2015-10-30 06:22] ltclm commented on #1722
As discussed yesterday, i have fixed the meta and tooltip views in the database.
https://github.com/geoadmin/db/commit/a86acee0d1dc2e4e3aa6aeed60125d837e83b841

Database has been deployed to dev.

[2015-10-30 09:08] gjn commented on #1722
In total, there were 3 problems leading to the wrong selection of years to print.

a) The meta views used to determine the years didn't contain the last data update. They needed to be adapted (see @ltclm comment above). This will require a deploy of the zeitreihen db.
b) Wrong selection of meta model based on print settings. The wrong parameters were passed to the releases service. We didn't accou

[2015-10-30 09:10] cedricmoullet commented on #1722
Is there any chance to make tests in order to avoid regressions in future ?

2015-10-30 10:08 GMT+01:00 Gilbert Jeiziner <notifications@github.com>:

--
Twitter: http://twitter.com/cedricmoullet
Linked In: http://www.linkedin.com/in/cedricmoullet

<http://twitter.com/cedricmoullet>

[2015-10-30 09:14] gjn commented on #1722
Yes. For the first time, we know what the `should`is and tests will be adapted accordingly.

[2015-10-30 09:14] gjn commented on #1722
It never worked correctly in RE3 before...

[2015-11-02 07:53] ltclm opened #1730 "cadastralwebmap link to canton fribourg"
the url of the geoportal of canton fribourg has changed. The new url is:
http://map.geo.fr.ch
This should be changed in the tooltip template of the cadastralwebmap layer.

[2015-11-02 07:58] ltclm opened #1731 "translate drawing layer name in layer selector"
The name of the drawing layer is not translated in the layer selector:
![image](https://cloud.githubusercontent.com/assets/5286659/10876740/c9a0bda8-813f-11e5-95ff-151caad42407.png)

[2015-11-02 08:06] davidoesch commented on #1731
duplicate of https://github.com/geoadmin/mf-geoadmin3/issues/2811

[2015-11-02 08:06] #1731 closed

[2015-11-03 07:16] pfanguin commented on #1492
Test link https://mf-geoadmin3.dev.bgdi.ch/fap_oev/
Staging :
- refresh page every seconds
- waiting time

Next step :
Filter by destination

[2015-11-03 07:38] davidoesch commented on #1492
Nice

-my comment: takes quite a while the tooltip connection loads ( use eg 2G
emulation under chrome)

-Filtering : ask oterral/jeiziner how it was done in "object information"
so we can use the same interface . for each col add a simple button
http://fortawesome.github.io/Font-Awesome/icon/sort/ which activates on
first click sorting on col (make sort icon on this col red) and  inverts on
secon

[2015-11-03 07:41] gjn commented on #1492
Can't wait to have this in!

It seems that left-click does not always work. On same point, it sometimes work, sometimes doesn't. In the network tab, I see requests to transports service being made.

A request every second is quite heavy. Is this a must or can it be reduced? (We should use server side events for this...but I doubt our infra is ready for it)

[2015-11-03 07:42] gjn commented on #1492
The requests continue, even when I close the htmlpopup. We should stop the requests in such a case.

[2015-11-03 07:54] AFoletti commented on #1492
plus, if you close the tooltip the requests are not stopped

[2015-11-03 07:57] davidoesch commented on #1492
why not solve this on client side? load the the data of the next ten
minutes and  let the countdown be done in tooltip. after 10 minutes (or
when no conenctions are left to show: load then from server new data)

On Tue, Nov 3, 2015 at 8:41 AM, Gilbert Jeiziner <notifications@github.com>
wrote:

[2015-11-03 15:29] oterral commented on #1492
You can put a refresh button on top of the list, to avoid the infinite request.

[2015-11-03 15:33] davidoesch commented on #1492
Na --- in 2015 refresh Button- come on: Why not solve it on client side? Download once the next ten minutes. Then show a timeout. On mobile: continuing requests won't work anyway--- so IMHO go for a client side approach

On Tue, Nov 3, 2015 at 4:29 PM, oterral <notifications@github.com> wrote:

[2015-11-04 10:01] gjn commented on #1492
Long term, we need server-side events for this kind of data.

Now, we do reasoable polling on client. Every second is way too much. Every minute should be enough for this kind of data.

[2015-11-04 10:29] procrastinatio commented on #1721
No, the PDF is fine in all case. It is the way IE is handling the PDF. To reproduce:
1. Close IE
2. Print a big Multi-PDF and choose 'open'. Adobe complains the PDF is corrupt.

However, if you first choose 'Save PDF', it works fine. After this, even 'Open' works... It also always works if you succeed opening any PDF. Only trying to open a big PDF from start geht nicht.

[2015-11-04 10:36] pfanguin commented on #1492
Staging :

- Filtering by destination
- Refresh every minute
- Stop refresh after 20 request
- Next five departures by destination

Next :
- If empty data return "no data"
- Code optimization

Test link : https://mf-geoadmin3.dev.bgdi.ch/fap_oev/

[2015-11-04 10:47] davidoesch commented on #1492
The Filter position has to be improved- below station name

Then we need the filter as well applicable for the line number. See timeforcoffe.ch .

As regarding the spec: the filter makes more sense than the sort.

The loading on mobile takes very long (20sec)

Since this tooltip is mainly used on mobile : keep loading performs bin mind

On Wed, Nov 4, 2015 at 11:36 AM, pfanguin <notifications@gith

[2015-11-04 12:45] #1702 closed

[2015-11-04 14:37] #1722 closed

[2015-11-06 10:20] cype opened #1742 "Date-format dd.mm.yyyy in Layer ch.bfe.energiestaedte"
Please change the date-format to dd.mm.yyyy

Layer: ch.bfe.energiestaedte

standard object-info and extended HTML Popup

thanks!

[2015-11-10 08:30] procrastinatio opened #1752 "Remove EPSG:900913 from WMTS GetCapabilities"
as it is not anymore in the proj.4 definition. Use exclusively `EPSG:3857`.

[2015-11-11 10:19] #1694 closed

[2015-11-12 08:13] loicgasser commented on #1692
Should be fixed with geoalchemy update. @procrastinatio could you check and close if ok?

[2015-11-12 08:15] loicgasser commented on #1654
doc about the service will be in 3d-forge, doc about the process in confluence. Agree?

[2015-11-12 08:17] gjn commented on #1654
No. Terrain service we want to officially release, like WMTS service. But this is relatively small documentation.

Technical documentation in 3d-forge/confluence.

[2015-11-12 08:37] ltclm opened #1755 "lk100 fullres viewer backlink to map.geo.admin.ch is not visible"
When opening the fullres viewer in firefox
https://api3.geo.admin.ch/historicalmaps/viewer.html?lang=de&layer=ch.swisstopo.zeitreihen&release_year=1975&title=kartenwerk_lk100&height=8250&width=11400&bildnummer=bv80032241&x=5700.00&y=4125.00&zoom=2&rotation=0

the backlink to map.geo.admin.ch should be visible, see screenshot:
![image](https://cloud.githubusercontent.com/assets/5286659/11113895/b9d

[2015-11-12 17:32] loicgasser commented on #1654
Ah ooook. np will do when the time comes

[2015-11-13 07:20] pfanguin opened #1760 "[Historical maps] Adapt css mako for mobile device"

[2015-11-13 07:21] AFoletti commented on #1742
fixed.

[2015-11-13 07:21] #1742 closed

[2015-11-13 07:22] pfanguin commented on #1760
The text is cut on mobile device
![13-11-2015 08-16-50](https://cloud.githubusercontent.com/assets/6862714/11140869/a11bacd2-89df-11e5-8bab-7fc9b6c55d52.png)

[2015-11-19 10:10] davidoesch opened #1764 "Linked data service SPARQL"
Linked data access
provide a Linked data service (TBD)

Starting point
- Geosparql: http://www.opengeospatial.org/standards/geosparql -> implementation does not yet exists
- SPARQL by ordonance survey :http://data.ordnancesurvey.co.uk/docs/sparql  (examples http://data.ordnancesurvey.co.uk/ ) -> IMHO this should be our reference for the service
- LOD2 Stack http://stack.lod2.eu/blog/
- INSPIRE SmO

[2015-11-23 10:43] loicgasser opened #1769 "Map service tests failing for ch.bfs.gebaeude_wohnungs_register"
test_identify_valid
test_identify_valid_topic_all

Are we supposed to accepect localhost are shall we add an exception when coming accross this layer?

[2015-11-23 12:46] gjn commented on #1769
Can you point me to the jenkins job?

[2015-11-23 12:54] loicgasser commented on #1769
For instance:
https://jenkins.ci.bgdi.ch/job/PR_chsdi3/1033/console

[2015-11-23 12:58] gjn commented on #1769
Why did it start to fail?

[2015-11-23 13:23] loicgasser commented on #1769
My guess is that it is infra related because nothing has changed in the code.

[2015-11-24 06:47] gjn commented on #1769
It's on nighlty builds as well now. So most likely infra changes.

@danduk82 What infra changes yesterday could have caused this on dev?

[2015-11-24 07:17] loicgasser commented on #1769
Related to geometry restrictions on addresses I believe. We could fix the tests, but I also would like to know why it broke so suddenly.

[2015-11-24 07:53] danduk82 commented on #1769
Could someone explain the problem more in detail? I don't get it from the error stack, sorry.
Anyway I do not see major modifications in the infra yestarday, so having more info could lead me into the good direction...

[2015-11-24 08:10] procrastinatio commented on #1769
Both tests check if "Content-Type: application/json", which is not anymore.. It is "Content-Type: application/json; charset=UTF-8"

[2015-11-24 08:12] gjn commented on #1769
@ltclm @AFoletti Did we update data on dev yesterday?

@loicgasser It seems that parsing db results is the problem. It fails after the request is made (see https://github.com/geoadmin/mf-chsdi3/blob/master/chsdi/tests/integration/test_mapservice.py#L112) and it's the esriencoder that fails to parse the results. Probably a data changed that pushed results over a given treshold?

[2015-11-24 08:17] ltclm commented on #1769
the esriencoder has probably a problem with 3d coordinate?
[code]

It would be good to know the name of the layer.

[2015-11-24 08:19] ltclm commented on #1769
yes that is possible that yesterday some data has changed, we have automatic data updates every day.

[2015-11-24 08:25] gjn commented on #1769
Is it possibly db changed from 2D point to 3D point?

[2015-11-24 08:37] loicgasser commented on #1769
yep no support of 3d coordinates in esriJSON encoder to my knowledge. @procrastinatio can you confirm and extend it as needed?

[2015-11-24 08:51] procrastinatio commented on #1769
Dic you check the tests ? Both tests mentionned above `test_identify_valid`and `test_identify_valid_topic_all`have the following assertion:
`self.assertTrue(resp.content_type == 'application/json')`

[2015-11-24 15:17] p1d1d1 commented on #1764
* http://d2rq.org/
* W3C Linking Geospatial Data: https://www.w3.org/2014/03/lgd/report
* INSPIRE-RDF-GeoSparql: https://web.imis.athena-innovation.gr/redmine/projects/geoknow_public/wiki/Inspire2RDF
* Example of a Geosparql endpoint: http://geodata.gov.gr/sparql/#editor
* https://ies-svn.jrc.ec.europa.eu/attachments/download/1188/ARE3NA-RDF_vocabulary_guidelines_Final.pdf - Interesting chapter 6.

[2015-11-25 07:19] #1769 closed

[2015-11-25 08:16] procrastinatio commented on #1721
Very hard to reproduce on a test plateform:
* On dev, never happed
* On int (cluster of two), also never happed
* Only big PDF are affected (>100MB)
* Generated PDF itself is perfectly fine.
* From time to time on prod. I a not even 100% convinced it is a server related issue, as if you manage to open one time a PDF, it never happed again...

[2015-11-25 10:03] #1721 closed

[2015-11-25 10:09] #1638 closed

[2015-11-25 10:09] #1599 closed

[2015-11-25 10:11] cedricmoullet commented on #1445
@ltclm do we plan to go in prod with this ?

[2015-11-25 10:13] #1628 closed

[2015-11-25 10:15] #1760 closed

[2015-11-25 10:16] #1692 closed

[2015-11-25 10:16] #1679 closed

[2015-11-25 11:58] gjn commented on #1654
@loicgasser The quantized mesh spec moved to github: https://github.com/AnalyticalGraphicsInc/quantized-mesh

[2015-11-25 18:07] loicgasser commented on #1654
Thanks for the info

[2015-11-25 21:14] davidoesch commented on #1492
first feeback added above
- countdown in minutes (not hours) and bold font as in timeforcoffee.ch otherwise it is not clear what the last col is (1:02 can be an actual hour)

- line number and a box around as in timeforcoffee : otherwise line number 10 could mean in 10min

[2015-11-27 06:47] ltclm opened #1782 "translation of haltestellen categories within swisssearch / gazetteer"
From https://github.com/geoadmin/service-sphinxsearch/pull/245

@mariokeusen

We need a translation for the Features in ch.bav.haltestellen-oev They are not the DIF, -> can you ask BAV to complete the DIF ? then we can also fix the legends translation as in https://api3.geo.admin.ch/static/images/legends/ch.bav.haltestellen-oev_de.png etc
features:
"Bedienpunkt Zug"
"Haltestelle Bus"
"Haltestelle

[2015-11-28 09:43] cedricmoullet opened #1785 "Error 500"
http://api3.geo.admin.ch/1448467480/rest/services/luftbilder/MapServer/ch.swisstopo.lubis-luftbilder_schraegaufnahmen/00006980200184/htmlPopup?coord=718950,94900&imageDisplay=1455,1012,96&lang=de&mapExtent=612250,63800,757750,165000

[2015-11-28 19:08] ltclm commented on #1785
We have some points in this data with unknown flightdate, they have ``18000101``as flightdate.
This is generating the following error in the tooltip mako code:
[code]

Since these points have an unknown flightdate, i have remove them from the view.

[2015-11-30 20:13] davidoesch commented on #1492
@pfanguin
Must for v2:( update 16 december)
- [ ] tooltip: change "Next departures from STATION" to " STATION :next departures to "
- [ ] expert tooltip: put link to object into footer as in https://api3.geo.admin.ch/rest/services/swisstopo/MapServer/ch.swisstopo.lubis-luftbilder_schwarzweiss/19652280023398/extendedHtmlPopup?lang=en
- [ ] resize icon to same size as in zoom=11 for zoom=12 and zoom

[2015-12-01 08:38] loicgasser commented on #1785
No this requests issue on a 404 error in dev which is what is expected now.

[2015-12-01 08:39] #1785 closed

[2015-12-01 14:49] mariokeusen commented on #1782
Most easy way to reach that would be to take the translations from the legends, which are available in 4 languages, not?

[2015-12-01 16:20] ltclm commented on #1782
Hello Mario

Yes thats the easy way indeed :-)
We got the following translations for the ms_class legends:
"haltestellen_luftseilbahn";"Luftseilbahn"
"haltestellen_luftseilbahn_zug";"Luftseilbahn_Zug"
"haltestellen_standseilbahn";"Standseilbahn"
"haltestellen_standseilbahn_bus";"Standseilbahn_Bus"
"haltestellen_standseilbahn_luftseilbahn";"Standseilbahn_Luftseilbahn"
"haltestellen_standseilbahn_zu

[2015-12-02 08:22] procrastinatio commented on #1752
Was done in https://github.com/geoadmin/bgdi-scripts/commit/59469c99fa96ee42b98c972ea2b7604183a45479 and deployed a while after.

[2015-12-02 08:44] procrastinatio commented on #1595
Don't understand the issue:

`curl -H "Accept-Language: ru"  "https://mf-chsdi3.int.bgdi.ch/testi18n"`
--> DE (default)

`curl -H "Accept-Language: ru,fr-FR;q=0.8,fr;q=0.6,en-US;q=0.4,en;q=0.2"  "https://mf-chsdi3.int.bgdi.ch/testi18n"`
--> FR (first available language)
`curl -H "Accept-Language: ru"  "https://mf-chsdi3.int.bgdi.ch/testi18n?lang=fr"`
--> FR (params overrides headers)

@alcapat Is

[2015-12-02 15:05] procrastinatio commented on #1595
Well, to test, your only language set in the browser preference has to be 'rm', with no or a bogus `lang`param set...

`curl -H "Accept-Language: rm" "https://mf-chsdi3.int.bgdi.ch/testi18n"` or
`curl -H "Accept-Language: rm" "https://mf-chsdi3.int.bgdi.ch/testi18n&lang=toto"`
   --> not translated

[2015-12-02 16:32] #1730 closed

[2015-12-03 15:00] mariokeusen opened #1795 "[Tooltip window]: remove "Information" row"
UC: open app, add a layer with a tooltip, click an object
Result: see screenshot. We have the window title "Objekt-Information" and then above the attribute content we have an additional row "Information"
Expected/question: as discussed with @davidoesch we could get rid of this row "Informatin" (because redundant with window title) in order to save space

@AFoletti @ltclm @cedricmoullet @gjn : doe

[2015-12-04 05:32] cedricmoullet commented on #1795
Fine for me.

2015-12-03 16:00 GMT+01:00 mariokeusen <notifications@github.com>:

--
Twitter: http://twitter.com/cedricmoullet
Linked In: http://www.linkedin.com/in/cedricmoullet

<http://twitter.com/cedricmoullet>

[2015-12-04 06:00] AFoletti commented on #1795
I think it makes sense.
I'll wait for @ltclm and @gjn answers and then remove it if accepted.

[2015-12-04 06:30] gjn commented on #1795
Fine with me.

[2015-12-07 08:48] mariokeusen commented on #1782
Hello Marcel,

We have received a new data delivery for this layer, which includes a bunch of new symbols. And what we also received is a complete list of object/symbol descriptions in 4 languages: see redmine:
https://redmine.prod.bgdi.ch/issues/5758

Update is rather urgent for Dec. 16th (Fahrplanwechsel).

Gruss
Mario

[2015-12-07 14:13] ltclm commented on #1782
should be coordinated with this change https://github.com/geoadmin/wms-bod/commit/7d018e1461f34e10021c253c20d2b1df525ffbfd

[2015-12-08 08:57] #1752 closed

[2015-12-09 13:21] #1409 closed

[2015-12-10 08:53] gjn opened #1808 "Store last access for shortened URL's"
...to eventually be able to delete urls that werene't accessed in x years.

@davidoesch @cedricmoullet Agree to add this feature?

[2015-12-10 08:58] cedricmoullet commented on #1808
+1

[2015-12-10 09:02] loicgasser commented on #1808
That's the only way. so +1

[2015-12-10 10:10] davidoesch commented on #1808
+1

for X years is 4

On Thu, Dec 10, 2015 at 10:02 AM, Gasser Loïc <notifications@github.com>
wrote:

[2015-12-11 09:44] loicgasser opened #1812 "Staging should be set in layers_js rather than dataset"
As we can now have several projection for the same layer staging can be different according to the SRID. With the current structure we can't do that.

So we should migrate this property from dataset to layers_js. The staging is also application specific and has nothing to do in dataset.

[2015-12-11 09:59] loicgasser opened #1813 "Remove image_format from layers_js"
I think this is not needed. Can you confirm and get rid of it? As we saw this information is already in tileset.

[2015-12-11 10:59] loicgasser commented on #1812
Additionnaly staging should be an ENUM

[2015-12-11 11:08] ltclm commented on #1812
is this change needed for the 3d deploy?

[2015-12-11 11:11] gjn commented on #1812
No.

[2015-12-16 04:29] #1654 closed

[2015-12-17 09:39] gjn opened #1821 "Opaque layer property"
I put this up for debate.

For 3D currently, we declare some layers as `opaque` [1]. When true, this means that this specific layer hide everything below them _when_ their opacity is 1.0. It's purely informational without any direct technical or visual implications.

I think we should have this information for every layer that we integrate. It will reduce traffice in 3D and can eventually be appli

[2015-12-17 15:10] davidoesch commented on #1821
+1 cc @mariokeusen

[2015-12-18 05:10] ltclm commented on #1821
Hello
Actually only 2 layers are 100% opaque, they are hiding ALL other layers in the bgdi due to their extent (in all zoomlevels):
* ch.swisstopo.pixelkarte-farbe-pk1000.noscale
* ch.swisstopo.swissimage (base layer)

``Opaque`` is not a layer property in my eyes, it is a property of a combination of this layer with  all other layers in the bgdi. So theoretically this property has to be updated w

[2015-12-23 11:20] gjn opened #1826 "Restricted services should not be cached"
Restricted services (those using X-SearchServer-Authorized headers) should never be cached by varnish using our general caching-with-numbers approach. Otherwise, it might leak undesired information.

Note: this might impact existing customers and also map.geo.admin.ch.

[2015-12-27 19:45] ltclm opened #1827 "tlm3d-karte wrong configuration of lowest lod"
It seems that there is something wrong with the lowest lod configuration of
ch.swisstopo.swisstlm3d-karte-farbe
ch.swisstopo.swisstlm3d-karte-grau

https://map.geo.admin.ch/?topic=ech&lang=de&bgLayer=ch.swisstopo.pixelkarte-farbe&layers=ch.swisstopo.swisstlm3d-karte-farbe,ch.swisstopo.swisstlm3d-karte-grau&lon=7.95610&lat=46.24804&elevation=2232&heading=170.341&pitch=-23.046

![image](https://clou

[2015-12-28 13:08] cedricmoullet commented on #1827
@ltclm @procrastinatio @gjn @danduk82 AFAIK, tiles have been generated for this layer. Do we have an issue in S3 ? Or wrong varnish config ?

[2015-12-28 13:08] cedricmoullet commented on #1827
Error is:
An error occurred in "": Failed to obtain image tile X: 266 Y: 59 Level: 8.

[2015-12-28 13:22] ltclm commented on #1827
this are 2d tiles served via mapproxy. they are fine in 2d. probably mapproxy config ?

[2015-12-28 17:27] gjn commented on #1827
As Marcel said, these are not the pre-generated tiles, but the mapproxy tiles of the 2D tiles.
So if this is an error, then it's a mapproxy config issue...and there from the start.
Am 28.12.2015 2:22 nachm. schrieb Clausen Marcel <notifications@github.com>:this are 2d tiles served via mapproxy. they are fine in 2d. probably mapproxy config ?

—Reply to this email directly or view it on GitHub.

[2016-01-04 05:59] mariokeusen opened #1828 "[extended tooltip] layout problems with firefox ch.bafu.wasser-teileinzugsgebiete_2km2"
UC: open extended tooltip (e.g. https://api3.geo.admin.ch/rest/services/ech/MapServer/ch.bafu.wasser-teileinzugsgebiete_2/7817/extendedHtmlPopup?lang=de ) with FF and then press print on the bottom right, in order to print a PDF of the extended Tooltip.

Result: PDF contains 2 pages, but only the first one has content, the second is empty
Expected: PDF contains 2 pages, the first with content as i

[2016-01-04 06:12] AFoletti commented on #1828
will have a look at it

[2016-01-12 11:41] mariokeusen opened #1841 "[ch.swisstopo.zeitreihen] FF: missing link to geoportal in quickview of 1:100 000 map material"
UC: open e.g. https://api3.geo.admin.ch/historicalmaps/viewer.html?lang=de&layer=ch.swisstopo.zeitreihen&release_year=1960&title=kartenwerk_lk100&height=8250&width=11400&bildnummer=bv80032185&x=5700.00&y=4125.00&zoom=2&rotation=0 or another quickview out of the tooltips of a map sheet in 1:100 000 scale in Firefox and watch the top right part of the window

Result: there is no permalink to the cor

[2016-01-19 05:44] #1782 closed

[2016-01-19 10:06] procrastinatio commented on #1827
Looks like it solved.

[2016-01-19 10:10] procrastinatio commented on #1826
Huke, why not use instead the not-cached version ? If we start with cached and not-cached timestamped versions, this is going to be a mess. I would simply revomed the timestamped version for these services.

[2016-01-19 15:22] loicgasser commented on #1827
I can confirm

[2016-01-19 15:22] #1827 closed

[2016-01-20 08:49] loicgasser opened #1854 "Deploying a snapshot uses the wrong configuration"
When one deploys a snapshot to prod or integration rather than using the file in

`deploy/deploy.cfg` of the snapshot being deployed it uses the configuration from which the command is being exectued from. (Most likely the use environment)

I believe this is dangerous and should be addressed.

@gjn @procrastinatio makes sense to you as I guess.

[2016-01-20 08:55] procrastinatio commented on #1854
Yes, fully agree.

The other issue is that the target list in the `deploy.cfg` should be dynamic (got from a service somehow), as the cluster size is sometime changing. For instance, for DBs, the deploy script uses a nightly generated config.

[2016-01-20 10:05] gjn commented on #1492
@pfanguin Can you update the states of the todo's in Dave's list?

[2016-01-20 10:09] gjn commented on #1445
Data is integrated in principle. See https://github.com/geoadmin/mf-chsdi3/pull/1829

@davidoesch What data formats do we want exactly to support a) for this data b) general for all data?

[2016-01-20 10:11] gjn commented on #1828
@AFoletti state?

[2016-01-20 10:15] gjn commented on #1715
@rfrancel Could you have a look. Don't hesitate to come asking.

[2016-01-20 10:17] #1703 closed

[2016-01-20 10:17] #1602 closed

[2016-01-20 10:19] #1595 closed

[2016-01-20 10:20] davidoesch commented on #1445
for a) this data
NetCDF http://www.unidata.ucar.edu/publications/factsheets/current/factsheet_netcdf.pdf

for b) general for other data : realtime data formats
all NTH
GTFS (traffic)
GRIB (wetaher data https://weather.gc.ca/grib/what_is_GRIB_e.html)
GIF animated ( yes, weather radar)
Streaming formats ATOM, KML

[2016-01-20 10:47] AFoletti commented on #1828
i'm working on it, but 'it quite strange if you ask me

[2016-01-20 10:58] rfrancel commented on #1715
Yes sure, thanks.

[2016-01-20 11:41] AFoletti commented on #1828
The various elements of the mako are OK, but FireFox is not correctly handling the content overflow from the first page.
I tried to force the overflow to no avail. A forced page break at the end of the table is useless too. I think I need help on this one :)

[2016-01-21 07:24] gjn commented on #1826
It's the search service and the restricted information is a rare case.

I'll try with the Vary header, if this doesn't work, we probably don't use the uncached version.

[2016-01-21 07:36] gjn commented on #1445
@ltclm as I understand, datasource for the wms getfeatuerinfo is the db. We have a model in chsdi for access of this data directly in chsdi3. So we would not need to wrap wms requests to support tooltip/featureInfo. If the user wants WMS GetFeatureInfo, then this needs to be done on the WMS side. What do you think?

@davidoesch Let's discuss this tomorrow. Because I think the tooltip/getfeatureInf

[2016-01-21 07:54] ltclm commented on #1445
the initial idea was to provide the whole time series (120 Monthly values) with wms getfeature info based on vrt files referencing several netcdf files. This is not possible without changing fixing mapserver. I can give you more detailed information if needed.
We now have all  the  raster data in the database, so chsdi can generate everything from there without mapserver->gdal->netcdf.

But it is

[2016-01-21 11:09] loicgasser commented on #1854
That would be nice @procrastinatio . You think it's doable without too much effort here?

[2016-01-21 12:32] oterral commented on #1828
We have discussed with @AFoletti  it's just a css bug.

[2016-01-21 12:37] #1828 closed

[2016-01-28 08:13] #1121 closed

[2016-01-28 08:13] #1340 closed

[2016-01-28 08:45] ltclm opened #1866 "tooltip bfs adressen is not working anymore"
Issue has been reported via webgis mailbox.

Tooltip is not working anymore on the aggregate layer ch.bfs.gebaeude_wohnungs_register

p.e click on house number 1 in this url
https://map.geo.admin.ch/?layers=ch.bfs.gebaeude_wohnungs_register&X=215104.30&Y=636241.70&zoom=13&lang=de&topic=ech&bgLayer=ch.swisstopo.pixelkarte-farbe

a click on this coordinate results in the following chsdi call
https:/

[2016-01-28 09:10] loicgasser commented on #1866
It must be related to layersConfig, I am having a look at it right now.

[2016-01-28 09:14] loicgasser commented on #1866
seems more like a geoadmin bug

[2016-01-28 09:44] loicgasser commented on #1866
`map.forEachLayerAtPixel` works on sublayers only....

[2016-01-28 09:46] loicgasser commented on #1866
Bug introduced by https://github.com/geoadmin/mf-geoadmin3/commit/266348b06bbb92d42e9a4aeeade2920486c2dceb#diff-620c4d1d708e7f9116bb7328f3e202ec

I propose that we use the serverLayerName and keep the current code.

[2016-01-28 09:49] loicgasser commented on #1866
mmh, but it's possible we have two sublayers with the same `serverLayerName` under the cursor.

[2016-01-28 10:33] gjn commented on #1866
In that case, only make the request once.

[2016-01-28 10:38] loicgasser commented on #1866
I have a patch but my own project is Forbbiden

[2016-01-28 12:23] #1866 closed

[2016-01-28 12:30] ltclm commented on #1866
thanks @loicgasser , that was at lightning speed!!

[2016-01-28 12:33] loicgasser commented on #1866
That was important, thks for noticing

[2016-01-28 12:41] loicgasser commented on #1841
Firefox version please, it's fine on Mozilla Firefox for Ubuntu version 44.0

[2016-01-28 14:02] loicgasser commented on #1813
@ltclm Did you have time to check that? I am referring to the `layers_js` table.

[2016-01-28 14:22] ltclm commented on #1813
i think for wmts layers this information is useless, the initial idea was to define the wms image format in this column. But im not sure if the code is using this information.

[2016-01-28 14:34] loicgasser commented on #1813
From what I recall, I don't think so. let's check it when we have time and are both in the office.

[2016-01-28 16:35] loicgasser commented on #1537
should actually be pretty straightforward. I'll do it soon.

[2016-01-29 07:01] gjn commented on #1537
@loicgasser this is already done.

See https://github.com/geoadmin/mf-chsdi3/pull/1615 and https://github.com/geoadmin/mf-geoadmin3/pull/2662

@davidoesch We can close this, no?

[2016-01-29 09:34] #1489 closed

[2016-01-29 09:37] davidoesch commented on #1537
no

What I expect if the user enter a corrct word like below and ther eis not even a fuzzy result
![unbenannt](https://cloud.githubusercontent.com/assets/4577727/12672093/18a57802-c674-11e5-830e-2a5c2d0dab22.PNG)

 in a new line in italic and bold not the grey background as "Ajouter a carte" the line is called: DE : "Meinten Sie ..." FR : "Vouliez-vous dire .. " EN " Did you mean ..." IT " Forse c

[2016-01-29 09:55] gjn commented on #1537
I don't fully understand. Only the `Did you mean` text should stay? It's odd to say `Did you mean...` without telling him also what he could have meant.

Shouldn't we simply say `No results found.` in that case?

[2016-01-29 10:01] loicgasser commented on #1537
From my understanding, we would replace the current texte `Aller à...` with `Vouliez-vous dire...` with a different style if result is fuzzy right (you may have several options)?

[2016-01-29 10:40] loicgasser commented on #1537
![whatdoyoumean](https://cloud.githubusercontent.com/assets/3306154/12673436/0f4ccdf6-c67d-11e5-9564-763f5201f9b8.png)

Yeah right @gjn this is what I thought.

[2016-01-29 10:41] loicgasser commented on #1537
so for me it's implemented as well.

@davidoesch Please provide a printscreen of what you want if not happy with it.

[2016-01-29 12:14] davidoesch commented on #1537
sorry my fault again : it is OK as it is, good job ( and I need to get off screen time now....free my brain)

[2016-01-29 12:14] #1537 closed

[2016-01-29 12:57] gjn commented on #1537
holzhacken!

[2016-01-29 12:58] ltclm commented on #1537
kuchenbaken!

[2016-01-29 16:45] davidoesch commented on #1537
Schlittschuhfahren hat geholfen
Am 29.01.2016 1:58 nachm. schrieb "Clausen Marcel" <notifications@github.com

[2016-01-29 17:35] #1795 closed

[2016-02-01 08:10] oterral commented on #1854
+1 for a generated config

[2016-02-02 15:57] loicgasser opened #1879 "Topic keywords in GeoCat"
Apparently we now have a topic entry in GeoCat with associated keywords.

It would be nice to have this data since it is useful for topic search.
See: https://github.com/geoadmin/mf-geoadmin3/issues/1666#issuecomment-178520713

@ltclm @AFoletti Once this has been done for the topics we'll probably need to put this info in the BOD.

[2016-02-02 16:03] AFoletti commented on #1879
yeah, keywords in geocat.
A keyword table is already there. Should not be too much trouble implementing the import

[2016-02-03 05:55] cedricmoullet opened #1880 "Make link clickable in layer information of ch.swisstopo-karto.skitouren"
![image](https://cloud.githubusercontent.com/assets/319676/12774217/13f77c74-ca43-11e5-93a5-fb21230e9e4e.png)

Link to http://www.sac-cas.ch/guides like for layer "Itinéraires en raquette"

[2016-02-03 07:50] AFoletti commented on #1880
Thanks to our geocat team, the entry was modified to include the HTML code.
Looks perfect in our infobox, but ugly in geocat because the code is not interpreted.

[2016-02-03 10:19] mariokeusen commented on #1841
42.0 (on chtopo computers)

[2016-02-03 12:53] ltclm commented on #1841
There is already an issue for this:
https://github.com/geoadmin/mf-chsdi3/issues/1755

[2016-02-03 12:53] #1841 closed

[2016-02-04 13:01] #1709 closed

[2016-02-04 13:02] #1339 closed

[2016-02-05 20:58] gjn opened #1887 "Cadastral weblink is not working anymore"
[As jenkins shows](https://jenkins.ci.bgdi.ch/job/cadastral_portal_links/376/console) since a couple of days, a cadastral web link to external site is not working anymore.

www.sit-valais.ch is down. Maybe they changed URL?

Can you have a look?

[2016-02-08 09:44] #1887 closed

[2016-02-08 09:46] #1880 closed

[2016-02-08 09:47] loicgasser commented on #1879
@mariokeusen Is that something you've planned to do?

[2016-02-08 09:48] loicgasser commented on #1300
@AFoletti is this still an issue? I feel we have been more attentive recently regarding this topic.
Shall we check them all or shall we close this issue?

[2016-02-08 10:13] loicgasser opened #1889 "[3D]: Use sublayer only in 3D for ch.bazl.luftfahrthindernis"
![image](https://cloud.githubusercontent.com/assets/3306154/12882696/adcaecb4-ce53-11e5-992d-72396eff7ae0.png)

This request https://wms4.geo.admin.ch/?layers=ch.bazl.luftfahrthindernis_point,ch.bazl.luftfahrthindernis_line,ch.bazl.luftfahrthindernis_poly&format=image%2Fpng&service=WMS&version=1.3.0&request=GetMap&crs=CRS:84&bbox=8.08593750000001,47.109375,8.437499999999996,47.4609375&width=512&he

[2016-02-08 11:58] loicgasser commented on #1889
Ok so I solved the issue in layers_js table by adding the following row:

428287804;458;"";"ch.bazl.luftfahrthindernis_3d";"ch.bazl.luftfahrthindernis";"wms";;;;"png";"ch.bazl.luftfahrthindernis_point,ch.bazl.luftfahrthindernis_line,ch.bazl.luftfahrthindernis_poly";"wms-bgdi_prod";FALSE;FALSE;FALSE;FALSE;TRUE;"2016-02-08 12:55:14.180867";"2016-02-08 11:24:52.383487";"pgkogis";"pgkogis";TRUE;"";"";

[2016-02-08 11:58] #1889 closed

[2016-02-08 14:39] AFoletti commented on #1300
yes, we were more attentive in the last months and I adapted a few.
Still, a comprehensive test of every legend image I think it would be good

[2016-02-08 14:58] mariokeusen commented on #1879
No, it was never planned or a "must" to have a geocat-entry per topic. May be better and faster to define some keywords per topic outside geocat and without customer interaction. Or what is exactly the goal here, @davidoesch ?

[2016-02-08 15:58] loicgasser commented on #1300
Ok I take it then.

[2016-02-08 15:59] loicgasser commented on #1879
May be better and faster to define some keywords per topic outside geocat and without customer interaction.

What's the goal of having this capability then?

[2016-02-08 16:05] davidoesch commented on #1879
" topic entry in GeoCat with associated keywords" ??? who's idea was this?

in gm03 geocat and the BGDITemplate is only the possibility to enter "keywords" not a "topic " per se,
Topics are not configured in geocat. it is purely for mf-geoadmin . on the first thought it makes sense to use a keyword in geocat for topic definition . But I wouldn't since the dataowner has control over it and he can b

[2016-02-08 19:32] ltclm commented on #1879
my thoughts:
topic should inherit the layer tags which are in this topic. We should ask the data owners to tag their layers and import these tags into the bod layer configuration. If needed we can add ourselves some extra tags for the topics.

[2016-02-09 06:45] davidoesch commented on #1879
Again: the topic is mf-geoadmin specific. We are planning to adapt the keywords during the data integration process. So: what is the idea behind the topic in geocat?  TBD @mariokeusen

[2016-02-09 13:02] procrastinatio opened #1900 "CadastralWebMap link update"
Die URL für die Weiterleitung von CadastralWebMap für den Kanton Jura hat geändert:
ALT:
http://mapfish.jura.ch/main/wsgi/theme/Cadastre?&map_x=576462.75&map_y=250151.5&map_zoom=8

NEU:
http://geo.jura.ch/main/wsgi/theme/Cadastre?&map_x=576462.75&map_y=250151.5&map_zoom=8

[2016-02-09 19:31] loicgasser commented on #1900
fixed via https://github.com/geoadmin/mf-chsdi3/pull/1888

[2016-02-09 19:31] #1900 closed

[2016-02-10 14:24] mariokeusen opened #1904 "[public transportation] blank row in object information with schedule"
UC: open the public transportation layer, open the tooltip of a stop with schedule information (not a Betriebspunkt), look at the layout of the tooltip window.
Result: there is a blank row on top of the informations (see screenshot below).
Expected: remove that blank in order to save space

![bav_obsolete_row](https://cloud.githubusercontent.com/assets/4577749/12949828/535c4f12-d00a-11e5-8075-b9c3

[2016-02-15 14:03] loicgasser opened #1910 "Gazetter (swissnames3d) detail too vague"
@davidoesch Is there a reason not to add the full details in the search field for swissnames 3d.

For example search for "La Berra"

Result

Skilift La Berra (FR) - La Roche
La Berra (FR) - La Roche
La Berra (FR) - Val-de-Charme
Sommet principal La Berra (FR) - La Roche

Now if you search for "sommet la berra" you get no results. This looks and feel like a bug to me.

Can you confirm it's a bug an

[2016-02-15 15:54] davidoesch commented on #1910
Not a very common use case that you search for sth like gipfel matterhorn but you search for "Haltestelle Eichholz" and here I expect a result. Looks like the soundex etc does only search in the first word but not in the second @Marcel can u confirm? If yes we should change this if possible

[2016-02-15 16:10] ltclm commented on #1910
swissnames objektart is not part of the detail and it is available in german only.
The translation of the objektategorie is done client-side.
https://github.com/geoadmin/mf-chsdi3/blob/246ce89db2532982c417c3fa5be622f6a27c8c1f/chsdi/locale/fr/LC_MESSAGES/chsdi.po#L126

So you will never find something if you look for ``sommet principal la berra``
We could add the german objektart to the detail. Wha

[2016-02-15 16:13] davidoesch commented on #1910
If search attribute then in all languages ...  For me NTH

[2016-02-15 16:20] ltclm commented on #1910
swisssearch index is not language-dependant.
so do you want the german objektart or no objektart?

[2016-02-15 16:56] davidoesch commented on #1910
Objektart is a pure technical description. Helpful to filter results but not in the search itself. Even av server side translation would not v improve it. Same use cases in Google maps search: no results neither. So - if we improve here the search : we rather improve it without taking the Objektart into account

[2016-02-16 08:45] mariokeusen opened #1911 "[ch.bazl.luftfahrthindernis] make attribute searchable"
Hi Marcel,
as discussed bazl wants to have one attribute searchable over all-in-one:
https://redmine.prod.bgdi.ch/issues/3770

Thanks in advance

[2016-02-16 08:49] loicgasser commented on #1910
What about Google, if you type "restaurant", "bus", "gare cff" it seems that it filters your results.
Then you have the "near" separator if you look for a particular object in a given location.

[2016-02-16 09:17] gjn commented on #1910
If we want to support 'filter' like behaviour in search, I would propose same syntax as is supported by google search. e.g. in google search, you can filter your search to apply only to a specific site using the `site: xxx` notation.

We could do the same with the already supported origins, with `origins: address` to only search addresses. Or (to be implemented) something like `type: gipfel`. Of c

[2016-02-16 09:19] gjn commented on #1911
@ltclm Will the auto-import alos trigger a sphinx update?

[2016-02-16 09:36] ltclm commented on #1911
yes, table deploys are triggering an update of all dependant sphinx indexes.

[2016-02-16 09:53] loicgasser commented on #1910
Not trivial indeed, but real nice and I agree we should keep the same syntax. Applying filters on swissnames3d as a start would be a good thing. Maybe @rfrancel would be intreseted in taking over this task under my guidance? I have ideas on how we could do that.
With the search now containing more and more data this will become more and more relevant.

[2016-02-16 10:12] davidoesch commented on #1910
ok for a poc. but keep in mind: the objektart is made from GIS/DB specialist for GIS/DB specialist. IF we get serious with this we need to work in thsi deirectionhttp://www.geonames.org/export/codes.html  or even better use http://schema.org/docs/schemas.html
@gjn it is about LinkedData and SEO as well

[2016-02-16 10:20] loicgasser commented on #1910
Great!

[2016-02-16 10:28] rfrancel commented on #1910
Yes I would be very interested! Thanks for proposing!

[2016-02-16 14:24] ltclm commented on #1911
https://github.com/geoadmin/service-sphinxsearch/pull/263

[2016-02-17 08:16] #1591 closed

[2016-02-17 08:16] #1287 closed

[2016-02-17 08:19] loicgasser commented on #1167
Solved via https://github.com/geoadmin/mf-chsdi3/commit/bc852847c12585b225196bfa3f46443cbb65bdbc#diff-10dd1aff3770717dfc4c7a0d88eb461d

[2016-02-17 08:19] #1167 closed

[2016-02-17 13:02] procrastinatio opened #1917 "Data issue: ch.bafu.hydroweb-messstationen_zustand"
Messtation: `Mühlbach - Chur (2632)"` has coordinates `0,0` which is probably wrong.

https://api3.geo.admin.ch/ogcproxy?url=https://data.geo.admin.ch/ch.bafu.hydroweb-messstationen_zustand/ch.bafu.hydroweb-messstationen_zustand_fr.json

[2016-02-17 14:21] AFoletti commented on #1917
Most probably I would say.
But that's an automatically updated json layer. Maybe it would be good to ping the datenherr.
@mariokeusen , could you please ask your contact @ BAFU?

[2016-02-18 13:55] mariokeusen commented on #1917
Ok, I'll inform them. Did you detect any further objects with such weird coordinate values amongst the 7 hydroweb-layers?

[2016-02-19 20:05] gjn opened #1924 "WSGI configurations in new Makefile setup"
In buildout setup, the *.ini file used for the mod_wsgi was as follows:

for dev/int/prod in main, it was always production.ini
for user specific environments, it was always development.ini
(was `config-file` paramter of [modwsgi] buildout section.

With Makefile setup, it's as follow:
for dev and all user specifics, it's development.ini
for int/prod it's productions.ini

I think it should be prod

[2016-02-20 12:48] loicgasser commented on #1924
Agreed, we don't need debugging in main.

[2016-02-22 08:24] mariokeusen commented on #1911
This is done and works fine. Thanks

[2016-02-22 08:24] #1911 closed

[2016-02-24 16:13] #1924 closed

[2016-02-24 16:13] #1338 closed

[2016-02-24 16:14] #1854 closed

[2016-02-24 19:08] gjn commented on #1338
Ding ding.

[2016-02-24 19:33] loicgasser commented on #1338
probably as happy your are.

[2016-02-25 10:11] loicgasser opened #1939 "Missing table kantone25plus cadastralwebmap"
@AFoletti @ltclm @alcapat @daguer

ch.kantone.cadastralwebmap-farbe
kantone25plus

Some Jekins tests are failing because of missing columns on bafu updated layers (which is fine):
https://github.com/geoadmin/mf-chsdi3/pull/1935

But we're also mssing an entire table.
[code]

could you tell me where it comes from and what you've planned to do?

[2016-02-25 10:56] ltclm commented on #1939
my mistake,  i have restored the table.

[2016-02-25 12:02] loicgasser commented on #1939
:+1:  Thank you!

[2016-02-25 12:13] #1939 closed

[2016-03-01 16:36] loicgasser opened #1956 "Create tilematrixset factory using gatilegrid"
We can get rid of a lot of templates by simply using gatilegrid module and a single
mako template for tileMatrixSet.
https://github.com/geoadmin/mf-chsdi3/tree/master/chsdi/templates/wmtscapabilities

[2016-03-02 08:41] mariokeusen opened #1957 "[extended tooltips] layout is broken"
UC: open app, select and add a layer with an extended tooltip, pick an object and open extended tooltip
Result: the usual layout of the ext. HTML-tooltip has disappeared. It seems to be fully missing
Expected: extended tooltips are layouted as usual and as designed.

Recognized on Chrome and IE and for all ext. tooltips I tested (ca. 10). Important examples:
Teileinzugsgebiete: https://api3.geo.ad

[2016-03-02 08:49] gjn commented on #1957
@AFoletti what happened?

[2016-03-02 15:58] loicgasser opened #1960 "Remove format from layersConfig when type is geojson"
Also timeBehaviour

[2016-03-02 19:16] loicgasser commented on #1957
css are missing I think. I ll fix it.

[2016-03-02 19:21] loicgasser commented on #1957
@alcapat what about a squashTM test on one of those

[2016-03-03 10:08] gjn commented on #1957
Fixed and deployed.

[2016-03-03 10:08] #1957 closed

[2016-03-07 16:18] loicgasser opened #1965 "Remove esrijson hack and papyrus"
TODO create a pypi module for esriJSON

[2016-03-09 17:48] loicgasser opened #1969 "Why are those layers supposed to have searchable features and don't have an index"
Jenkins fails because of these 2 layers.

ch.swisstopo.geologie-gravimetrischer_atlas.metadata
ch.swisstopo.skitourenkarte-50.metadata

@ltclm @AFoletti @daguer @alcapat Any idea why?

[2016-03-10 05:31] ltclm commented on #1969
i have set both layers to searchable false in the bod and i have deployed the bod to dev:

**ch.swisstopo.skitourenkarte-50.metadata** is not supposed to be searchable according to ap, i will fix the bod.

**ch.swisstopo.geologie-gravimetrischer_atlas.metadata**  @rfrancel please prepare a sphinx pr with a sphinx pr for this layer. this layer has to be searchable. after the merge of this pr you ca

[2016-03-10 06:28] gjn commented on #1969
They also have the dev wms set. So other tests also failed.

[2016-03-11 07:01] davidoesch commented on #1764
GeoSPARQL with virtuoso http://geodata.gov.gr/sparql/#editor

[2016-03-11 12:22] loicgasser opened #1977 "Split mapservice test file"
At the moment this https://github.com/geoadmin/mf-chsdi3/blob/master/chsdi/tests/integration/test_mapservice.py

tests the views in
https://github.com/geoadmin/mf-chsdi3/blob/master/chsdi/views/features.py
and
https://github.com/geoadmin/mf-chsdi3/blob/master/chsdi/views/layers.py

We perform a lot of tests in this file and it's actually quite long at the moment.
could you split this file in 2 sma

[2016-03-12 12:22] loicgasser opened #1981 "Load extended tooltips deps on a case by case basis"

[2016-03-15 15:35] loicgasser commented on #1889
@oterral @gjn
This is fixed in dev because we always take all the layers per default, in prod it does not work because the view actually needs to be adapted. @ltclm will fix that now.

[2016-03-15 15:56] loicgasser commented on #1977
@rfrancel Maybe you would do that?

[2016-03-15 16:05] rfrancel commented on #1977
yes, sure.

[2016-03-16 07:19] gjn opened #1985 "Code Pen example: rectangle hidden"
In our rectangle codepen example, when choosing a different scale, the rectangle is hidden behind the selected layer.

It should be visible, as it was in the previous example. This is probably a z-index error or layer order error.

@rfrancel Could you try to fix it?

[2016-03-16 07:31] gjn commented on #1985
https://github.com/geoadmin/mf-chsdi3/blob/master/chsdi/static/doc/examples/README.md

[2016-03-16 08:32] rfrancel commented on #1985
Yes I'll have a look

[2016-03-16 08:59] loicgasser opened #1986 "Link to CadastralPortal: Lucerne uses LV95 and not LV03"
See:
http://www.geo.lu.ch/map/grundbuchplan/?FOCUS=196000.0:465000.0:5480304.0

[2016-03-16 13:25] loicgasser opened #1988 "Link to object in not user dependent"
And might as well not be, I put it there for discussion.

[2016-03-16 16:58] rfrancel commented on #1985
Th example works again. The rectangle was added as a new layer, and layers are shown on radio click. I replaced it as a feature overlay,

[2016-03-16 17:00] gjn commented on #1985
Well done. And fast.

Thanks alot, @rfrancel .

[2016-03-16 17:00] #1985 closed

[2016-03-18 17:59] procrastinatio commented on #1826
@gjn did you tried `Vary: Referer`?

[2016-03-18 18:28] gjn commented on #1826
No.

[2016-03-21 07:59] #1715 closed

[2016-03-21 07:59] #1969 closed

[2016-03-21 15:21] procrastinatio commented on #1965
Related issue https://github.com/geoadmin/mf-chsdi3/issues/1336

[2016-03-31 13:25] ltclm commented on #1639
it would be probably better to work on this now in order to avoid future problems with the meta_views
as described here https://github.com/geoadmin/mf-chsdi3/pull/2013#issuecomment-203902735

[2016-03-31 13:50] gjn commented on #1639
+1.

I tried once, but didn't fully understand the data behind it. Might be tricky.

[2016-04-05 14:45] loicgasser commented on #1445
@davidoesch status here? https://github.com/geoadmin/wms-bgdi/pull/42 was reverted.
What do we really need to implement? This is still not clear for me...

[2016-04-06 12:09] AFoletti opened #2018 "Strange behaviour of baseURL by printing WMS layers"
The baseURL for WMS layers in the request payload by printing behaves strangely with some staging/wms combinations

**WMS set to wms-bgdi_prod. Layer staging = int**
Protocol is cut from baseURL. WMS used is on dev. --> NOK
[code]

**WMS set to wms-bgdi_dev. Layer staging = prod**
Protocol is there again. WMs level is correct. --> OK
[code]

**WMS set to wms-bgdi_prod. Layer staging = prod**
Proto

[2016-04-06 12:58] gjn commented on #2018
The wms requests in the application are correct?

[2016-04-06 13:02] AFoletti commented on #2018
wms visualization works fine in application

[2016-04-06 13:02] gjn commented on #2018
Are the URLs requests correct? Domains as expected?

[2016-04-06 13:16] AFoletti commented on #2018
ah sorry, I misunderstood.
And no, it's not correct. Same staging level issue, but protocol is there

[2016-04-06 13:45] davidoesch commented on #1445
for now we can run this layer like this, but for the future ( longterm we will have requests like in https://github.com/geoadmin/mf-chsdi3/issues/1445#issuecomment-173160895 )

[2016-04-06 14:21] loicgasser commented on #2018
I'll investigate

[2016-04-06 15:28] loicgasser commented on #1956
once https://github.com/geoadmin/mf-chsdi3/pull/1980
@rfrancel you think you can do it?

[2016-04-07 07:26] rfrancel commented on #1956
Yes I'll have a look!

[2016-04-07 10:58] gjn commented on #1492
ping @pfanguin

[2016-04-07 10:59] #1821 closed

[2016-04-07 11:42] #1977 closed

[2016-04-07 13:50] loicgasser commented on #2018
Related code is https://github.com/geoadmin/mf-chsdi3/blob/master/chsdi/models/bod.py#L124

Basically we currently create agnostic links in dev and int.

I don't remember why we decided to do so.
I guess links should always be agnostic and we should add the the protocol before sending the config to the print server. (most likely http:// should be enough).

Also graticule wms url is hard coded here

[2016-04-07 13:50] loicgasser commented on #2018
@gjn some thoughts?

[2016-04-07 14:07] gjn commented on #2018
Thanks for the analysis!

Not sure print can handle https. So yes, I  would propose to add http to the URL.

In general, I think we have a conflict in that we specify the wms resource in different places. It's in the bod (`wms-bgdi_dev`, `wms-bgdi_int` and `wms-bgdi_prod`), we adapt it depending on staging and configuration used in the bod (bod.py code linked by @loicgasser). But this code is igno

[2016-04-07 14:38] ltclm commented on #1639
I have removed the  deprecated tables and views from zeitreihen_master.
https://github.com/geoadmin/db/commit/6b068b796022ef87da3db933576d1db5982be84f
the cleaned db can be deployed after the deploy of code.

[2016-04-08 07:21] gjn commented on #1639
@ltclm The db change you are refering too broke some of our tests. zeitreiehen and historical maps related.

[2016-04-08 07:32] gjn commented on #1639
The box2d attribute was removed from the view, but it's still needed in the models for the historical maps.

[2016-04-08 07:45] ltclm commented on #1639
sorry about that, i fixed the database and deployed it to dev.
https://github.com/geoadmin/db/commit/ffbaf7dbdaa8bb3978cf50fb891d623cf7120657

[2016-04-08 07:58] gjn commented on #1639
Thanks for the quick fix. Next time quick testrun with such important change ;=)

[2016-04-08 08:46] loicgasser opened #2026 "Some links to bfe don't work"
For instance ch.bfe.sachplan-uebertragungsleitungen_kraft

for this popup
/rest/services/ech/MapServer/ch.bfe.sachplan-uebertragungsleitungen_kraft/fa38/htmlPopup?imageDisplay=1334,1095,96&lang=fr&mapExtent=553776.3722368001,48871.36078512028,887276.3722368001,322621.3607851203

All links
Sachplan Übertragungsleitungen (SÜL), Konzepte und Sachpläne (Art 13 RPG) - Hauptband
are broken

This is a pr

[2016-04-08 08:55] AFoletti commented on #2026
I'll take care of this issue

[2016-04-08 14:16] #1276 closed

[2016-04-11 05:54] pfanguin commented on #1492
Todo :
- Filter (column) ?
I don't know if it is still actual ? @davidoesch ?

[2016-04-11 06:31] davidoesch commented on #1492
Filter by col not needed.

[2016-04-11 08:06] AFoletti commented on #2026
@loicgasser , the links seem to work again today. Can you confirm that?

[2016-04-13 09:45] loicgasser commented on #2026
No this is still an issue probably on their side though.
http://www.bfe.admin.ch/php/modules/publikationen/stream.php?extlang=de&name=de_709743059.pdf

[2016-04-13 09:48] loicgasser commented on #1495
https://github.com/geoadmin/mf-chsdi3/pull/2013

[2016-04-13 09:49] loicgasser commented on #1986
@procrastinatio feel like it?

[2016-04-13 09:51] AFoletti commented on #1986
I'll take this if you agree

[2016-04-13 10:37] rfrancel opened #2030 "https://mf-chsdi3.int.bgdi.ch/dev page not uptodate"
a few links give a 400 error, others are redirected to features that not exist anymore..
I could take care of the update, if you agree, @gjn ?

[2016-04-13 11:26] p1d1d1 opened #2031 "[SHOP] - Implement new design for tooltip"
Be aware of sync of Paper Maps and Fertigsprodukte

[2016-04-13 11:27] p1d1d1 opened #2032 "[SHOP] - Use shop price service for paper maps"

[2016-04-13 11:36] loicgasser commented on #2030
+1

[2016-04-13 11:37] loicgasser commented on #1986
sure you need to transform cooridnates server side that's all.

[2016-04-13 11:38] loicgasser commented on #2031
Where is the new design?

[2016-04-13 11:44] loicgasser commented on #2032
If you could provide info about the interface (getPrice API) or a link it would be nice.

[2016-04-13 12:30] p1d1d1 commented on #2032
Puzzle is currently modifying the service according to our discussion with them last week.
As soon as we have a stable service you will be informed

[2016-04-13 12:32] loicgasser commented on #2032
ok thanks

[2016-04-15 07:27] ltclm opened #2034 "grid approach for ch.bfe.solarenergie-eignung-daecher tooltips"
With the introduction of the new grid layer type we could change the ch.bfe.solarenergie-eignung-daecher tooltips now.
The raster part of the tooltip information could be accessed from s3.

This would mean that we can replace the tables:
* bfe.solarenergie_raster
* bfe.solarenergie_raster_files_sisdir
* bfe.solarenergie_raster_files_sis
* bfe.solarenergie_raster_values_sisdir
* bfe.solarenergie_ra

[2016-04-15 12:59] gjn commented on #2034
In general yes, but I have one question.

We keep 10 years but only need 12 months? Why?

[2016-04-15 13:42] ltclm commented on #2034
raster data in the filesystem is for the last 10 years, in the tooltip we just need 12 months. That's why we should remove this data from the database and adapt the import scripts. @AFoletti can you confirm?

[2016-04-15 13:43] gjn commented on #2034
+1 from me then.

[2016-04-19 07:32] AFoletti commented on #1986
@loicgasser the tooltip works fine by me. Could you please test again and, if needed, better describe the problem you are facing?

[2016-04-19 07:42] loicgasser commented on #1986
You're right it seems to work well from geoadmin. I wonder how I got this URL in the first place.
Maybe https://github.com/geoadmin/mf-chsdi3/commit/bd8b960c1dcf31478c620a89ea1e53fb7681e0c8#diff-ba767b78ad55b55512dc1c46d43bdfed fixed it

[2016-04-19 07:42] #1986 closed

[2016-04-19 07:57] procrastinatio commented on #2018
Mapfish Print needs a protocol. I have to check, but https://wms.geo.admin.ch will work, but _https://wms-bgdi.dev.bgdi.ch_ will not.

[2016-04-19 08:05] procrastinatio commented on #2018
Yes, we have to find a way to split entirely application development and layer integration.

So if you want to test specific settings, you have to have a custom branch for WMS, getting it's config from a custom mf-chsdi3 branch pointing to a custom BOD, the whole being used by a custom mf-geoadmin3 branch ?

[2016-04-20 10:03] gjn commented on #2018
@procrastinatio Yes, that's what I would expect to have. Everything completely seperated on branches until we merge it to master.

We can already deploy wms branches - now we need to be able to tell mf-chsdi3/mf-geoadmin3 to use this wms branch. What would be the best approach to configure this?

[2016-04-20 10:35] mariokeusen opened #2038 "[ch.bav.haltestellen-oev] departures are not displayed in map.geo.admin.ch"
UC: open app, load the layer ch.bav.haltestellen-oev, click an object, look at the tooltip
Result: no next departures available
Expected: next departures are listed as designed

Info: geops reported me that they have no issues on their systems providing the data.

@pfanguin @alcapat : could you please take care of that with high prio? Thanks

[2016-04-20 12:03] alcapat commented on #2038
Hi. Import script was desable next week.
Now the job run again and data are available since 14h00.

[2016-04-20 12:04] alcapat commented on #2038
@mariokeusen : can you check and close this issue if it's ok for you.
Best regards,
Patrick

[2016-04-21 05:57] mariokeusen commented on #2038
Works. Thanks for the fix.

[2016-04-21 05:57] #2038 closed

[2016-04-21 06:45] loicgasser opened #2039 "ch.bazl.luftfahrtkarten-icao should not be queryable"
@AFoletti @alcapat

According to the current set up in geoadmin this layer should not be queryable but it seems this has changed in DB since the daily Jenkins tests fail because of

======================================================================
FAIL: Failure: AssertionError (ch.bazl.luftfahrtkarten-icao)
----------------------------------------------------------------------
Traceback (most

[2016-04-21 06:55] rfrancel commented on #2039
No it will be queryable from next week. This error won’t show after the merge of my PR (#2036)

De : Gasser Loïc [mailto:notifications@github.com]
Envoyé : jeudi 21 avril 2016 08:45
À : geoadmin/mf-chsdi3 <mf-chsdi3@noreply.github.com>
Objet : [geoadmin/mf-chsdi3] ch.bazl.luftfahrtkarten-icao should not be queryable (#2039)

@AFoletti<https://github.com/AFoletti> @alcapat<https://github.com/alcapa

[2016-04-21 07:15] gjn opened #2040 "Use price service for all shop layers"
The prices we display in the shop layer tooltips should come from the shop directly using their service. Details of the service are specified in their mail and service page.

Once they support the existing shop layers, we should adapt our tooltip/makos to use this service to get the price.

[2016-04-21 07:24] gjn commented on #2039
This shouldn't be a problem anymore once the new bod dev process is established. I'll close it as I assume the PR mentioned is close to being merged (need some adaptions still)

[2016-04-21 07:24] #2039 closed

[2016-04-21 08:04] loicgasser commented on #2034
+1, but does it mean we have to update grid cells automatically on S3 when new raster arrive?
I didn't get if those layers were shipped automatically sorry.
And what would still some from the DB? (Expect the metadata of course)

[2016-04-21 12:55] ltclm opened #2043 "search inconsistency"
Since the last deploy, the layer search behaves inconsistent:
[Testurl ](https://api3.geo.admin.ch/rest/services/ech/SearchServer?searchText=WGS84&lang=de&type=layers)

Open this url with cache disabled some times, the result is not always the same.

[2016-04-21 13:14] loicgasser commented on #2043
I think only one sphinx server has been updated.
Deploying the bod snapshot from last deploy to prod should fix this issue.

[2016-04-21 13:15] loicgasser commented on #2043
commands are in remember to deploy google doc

[2016-04-21 13:19] ltclm commented on #2043
thanks loic, it is solved.
i have manually updated bod related sphinx indexes on both prod instances.
[code]

[2016-04-21 13:19] #2043 closed

[2016-04-21 13:36] ltclm commented on #2043
no idea db deploy logs are not available anymore. The last bod deploy to prod was 2016-04-13 13:16:01

[2016-04-21 13:37] gjn commented on #2043
Smells like a weakness in our db deploy/sphinx update process.

We should try to track it down. @loicgasser as you did the deploy, could you try to find out what happened?

[2016-04-21 13:56] loicgasser commented on #2043
Not easy without any logs. Let's be extra vigilant during next deploy.
It would be nice to have 2 instances on int as well if this were to be tested.

[2016-04-21 14:38] ltclm commented on #2043
Obviously there have been two overlapping deploys on the instance 10.220.5.210:
[code]
On the second instance 10.220.6.242 there has been only one deploy:
[code]

Strange that there have been two deploys on the first instance. @loicgasser did you notice something special during db deploy? It is hard to analyze, especially without /var/log/messages from the db instance.

[2016-04-21 17:38] gjn commented on #2043
Looks like aborted deploy.

Thanks alot for the analysis.

[2016-04-26 14:49] rfrancel commented on #1956
@loicgasser the file is factorized using gagridtile.
The scales (calculated with a dpi 90.7) are a little bit different than those currently online, probably because the precision was a little bit different. I let you assess if you think I need to use another dpi.
test link:
http://mf-chsdi3.dev.bgdi.ch/frr_tilematrixset/rest/services/api/1.0.0/WMTSCapabilities.xml

[2016-04-26 16:56] gjn commented on #1956
Can we have a sample diff of the different outout compared to master?

[2016-04-27 07:06] ltclm opened #2048 "remove queryable, selectbyrectangle from bod model"
Please remove the attributes
`selectbyrectangle` and `queryable` from the LayersConfig  model. The attribute `tooltip` can be used in the related code.
These attributes are redundant copy of tooltip and can be removed from the view afterwards.

[2016-04-27 07:25] gjn commented on #2048
Both attributes can be removed already. Front-end code does not depend on them anymore.  We are using the `tooltip` attribute to determine if we should issue an identify request on click. We use the `queryableAttributes` array to determine if the layer is queryable in the query tool.

[2016-04-27 09:48] loicgasser commented on #2048
+1, we remove it from the code and then from the views.

[2016-04-27 11:08] loicgasser commented on #1223
@rfrancel since you are working on the wmts, there tests we have to add to control the integrity of the WMTS getCap document.

In `Themes` check that for each `LayerRef` there is an associated `Identifier` in `Contents-Layer` .
Check that in each layer `Contents-Layer` the `TileMatrixSet` can be found in the `TileMatrixSet-Identifier` section.

http://www.gdal.org/frmt_wmts.html

Look if we could

[2016-04-27 11:09] rfrancel commented on #1223
Yes I guess. I'll look into it.

[2016-04-27 15:14] oterral opened #2052 "Feedback service: problem with absolute filepath in attached filename from IE"
See https://github.com/geoadmin/mf-geoadmin3/issues/2640

[2016-04-28 07:03] oterral opened #2053 "Clean LayersConfig"
It's a proposal, couldn't we remove all `false` attributes form the `LayersConfig`.
That reduce the file from 2300 lines and in frontend if an attribute exists or is false, it's the same.

Another improvment, couldn't we remove `wmsUrl`, styleUrl` and `geojsonUrl` and defines the template url in index.mako.html, like we do for WMTS urls.

[2016-04-28 07:23] loicgasser commented on #2053
And Timebehaviour last

[2016-05-11 12:57] loicgasser opened #2071 "Improve data modelling of Geocover and GeoAtlas"
See reference here: https://github.com/geoadmin/mf-chsdi3/pull/2046

ch.swisstopo.geologie-geocover
ch.swisstopo.geologie-geologischer_atlas

[2016-05-12 10:07] gjn commented on #2053
I like to be explicit.

What I would prefer is a 'default' configuration containing most key/values used with reasonable defaults. Then all configurations only need to specify the key/values that are not the same as the 'default' configuration, all others are inherited from the default configuration. On front-side, it would be trivial to be used.

Thoughs on that, @loicgasser @oterral ?

I agree w

[2016-05-12 10:18] loicgasser commented on #2053
A default is a good idea

we would have to adapt a few things though in several projects and services.

[2016-05-13 14:24] procrastinatio commented on #2053
Eventually, it would be nice to get the config for one or a few layers (in the API for instance)

[2016-05-13 15:44] loicgasser commented on #2053
+1 could be easily implemented. why don't you implement that?

[2016-05-17 06:51] oterral commented on #2053
Agree for a configuration, it's a good idea

[2016-05-18 07:02] AFoletti commented on #2026
Just to mention it: BFE is checking the issue with the internal IT service. No news until now

[2016-05-18 07:04] AFoletti commented on #1917
Problem is still present
@mariokeusen , any news?

[2016-05-18 08:04] gjn opened #2079 "Use price service for shop layers"
Currently, the price information for the shop layers is coming from the db.

We should use the webshot price service to get this information. Interface description was send out by email.

Note: special care need to be taken regarding availability of the service on different staging areas. Get in touch with puzzle regarding this.

[2016-05-18 08:54] #2040 closed

[2016-05-18 08:55] gjn commented on #1492
@davidoesch Can we close this?

[2016-05-18 08:58] #2018 closed

[2016-05-18 15:54] #1492 closed

[2016-05-24 06:58] oterral opened #2086 "Identify on swissimage product returns always esrijson"
https://mf-chsdi3.dev.bgdi.ch/ltteo/rest/services/ech/MapServer/identify?geometry=633000,215250&geometryFormat=geojson&geometryType=esriGeometryPoint&imageDisplay=1326,931,96&layers=all:ch.swisstopo.swissimage-product&mapExtent=328500,-42750,991500,422750&returnGeometry=false&tolerance=10

[2016-05-24 12:53] procrastinatio commented on #2086
Request with returnGeometry=true [linki](https://mf-chsdi3.dev.bgdi.ch/ltteo/rest/services/ech/MapServer/identify?geometry=633000,215250&geometryFormat=geojson&geometryType=esriGeometryPoint&imageDisplay=1326,931,96&layers=all:ch.swisstopo.swissimage-product&mapExtent=328500,-42750,991500,422750&returnGeometry=true&tolerance=10)

Attributes in properties list, as :
[code]

otherwise as `attributes

[2016-05-25 05:58] mariokeusen opened #2089 "[extended tooltip] empty map window"
UC: open app, chose a layer with a map in the ext tooltip (e.g. those from the permalink below) click an object, open the extended tooltip, watch the map window
Result: no map visible (blank)
Expected: map is visible as designed for each extended tooltip

This is a prio1 imho! thanks for taking care accordingly

[2016-05-25 05:59] mariokeusen commented on #2089
https://map.geo.admin.ch/?topic=ech&lang=de&bgLayer=ch.swisstopo.pixelkarte-farbe&X=164500.00&Y=626970.00&zoom=3&layers=ch.bafu.wasser-teileinzugsgebiete_2,ch.bazl.luftfahrthindernis&layers_opacity=0.75,1

[2016-05-25 06:06] AFoletti commented on #2089
does not work on DEV either, but I get no error message
I tested it outside the Bundesnetz too, and the problem is still there

I'll look further into it

[2016-05-25 06:13] AFoletti commented on #2089
ok, found the issue

var map = new ga.Map --> ga is not defined

I have no idea why this should not work anymore. Trying a git bisect :stuck_out_tongue_closed_eyes:

[2016-05-25 06:31] gjn commented on #2089
Introduced with https://github.com/geoadmin/mf-chsdi3/pull/1980/files

Deployed on April 27th.

@AFoletti is taking care of it. Should be fixed after today's deploy.

[2016-05-25 06:59] AFoletti commented on #2089
fixed in the referenced PR

I checked every single extended tooltip and each one looks "fine" to me.
"Fine" because every extended tooltip works, but we sould maybe took half a day to improve the layout of some of them :)

[2016-05-25 07:14] #2089 closed

[2016-05-25 09:17] oterral commented on #2032
@p1d1d1 is this fixed ?

[2016-05-25 09:17] oterral commented on #2031
@p1d1d1 is this fixed ?

[2016-05-25 09:19] oterral commented on #2079
Duplicate of #2032

[2016-05-25 09:24] #2031 closed

[2016-05-25 09:27] #2032 closed

[2016-05-25 15:42] procrastinatio opened #2093 "Wrong TileMatrixSet for LV95"
WMTS [GetCapabilities](http://wmts20.geo.admin.ch/EPSG/2056/1.0.0/WMTSCapabilities.xml) for LV95 is miss aligned.
![missalinged_lv95](https://cloud.githubusercontent.com/assets/1236739/15546329/c8ad58b4-229f-11e6-9e6a-1b146bf32471.png)

[2016-05-25 16:08] ltclm opened #2094 "pkxx.noscale tooltips"
Not sure if this is a feature or a bug,
But why are the pk25, pk50, pk100, pk200 configured as higlightable = false ?

https://map.geo.admin.ch/?lang=de&topic=ech&bgLayer=ch.swisstopo.pixelkarte-farbe&layers=ch.swisstopo.pixelkarte-farbe-pk25.noscale&X=187200.00&Y=636800.00&zoom=3

[2016-05-25 17:54] gjn commented on #2094
Feature.
Shop functionality (rectangle selection) does conflict with feature highlight. Also, shop will have other selections (commune, canton, map) that mist be handled differently (will be coming later).
Am 25.05.2016 6:20 nachm. schrieb Clausen Marcel <notifications@github.com>:Not sure if this is a feature or a bug,
But why are the pk25, pk50, pk100, pk200 configured as higlightable = false ?

[2016-05-25 18:44] ltclm commented on #2094
🙈

[2016-05-26 09:58] procrastinatio commented on #2093
Two independant people did report this issues, but this was **before** the change in PR https://github.com/geoadmin/mf-chsdi3/pull/2047 were deployed in production.

I now cannot reproduce this problem, using the very same QGis project as gestern.

[2016-05-26 11:18] mariokeusen opened #2097 "[ch.swisstopo.gas25-papierkarte.metadata]: map sheet at wrong location"
UC: load the layer ch.swisstopo.gas25-papierkarte.metadata, go to 751'000.0, 176'700.0, look at the map
Result: the sheet Ambri/Piotta is obviously at the wrong location in the canton of Grisons
Expected: sheet is located in Ticino

Workaround: could you please investigate where this error comes from?

![ga25-paper_issue1_sheetatwronglocation](https://cloud.githubusercontent.com/assets/4577749/155

[2016-05-26 11:23] mariokeusen opened #2098 "[ch.swisstopo.geologie-geologischer_atlas]: tooltip of papermap appearing in no data area"
UC: open app, load layer ch.swisstopo.geologie-geologischer_atlas, click into the empty area @ 750'800.0, 177'150.0, see what happens
Result: the tooltip of the papermap 	Ambrì-Piotta (CN 1252) appears, which is from a different layer (ch.swisstopo.gas25-papierkarte.metadata)
Expected: "no information" popup at this coordinates

Workaround: will probably be solved with #2097

![ga25_pixel_issue_mi

[2016-05-26 11:29] mariokeusen opened #2099 "[tooltip] issue on raster layer with tooltip in "no information" areas"
UC1: open app e.g. with the layer ch.swisstopo.pixelkarte-farbe-pk25.noscale, zoom out to a whole Switzerland view, click outside the map data perimeter (white areas)
UC2: click again in an area where there is some map material
UC3: load an additional (vector) layer and try to get the tooltip
Result1: a popup appears with a message: "No further information" (so far it's correct)
Result2: the same

[2016-05-26 12:03] procrastinatio commented on #2093
Cannot reproduce (QGis and ArcMap), Kt SH has now no issue (QGis).

[2016-05-26 12:32] p1d1d1 opened #2100 "[SHOP] - Disable "rectangle" in mobile"
See issue title

[2016-05-26 12:36] rfrancel commented on #2097
The geometry was wrong it is fixed now.

[2016-05-26 12:36] p1d1d1 opened #2101 "[SHOP] - Avoid order of "no data""
UC: load e.g. ch.swisstopo.pixelkarte-farbe, select by rectangle, draw a rectangle on a the white part (no data)
Result: one can buy "no data"
Expected: "Order" is disabled

[2016-05-26 12:36] rfrancel commented on #2098
The geometry was wrong it is fixed now.

[2016-05-26 13:13] mariokeusen commented on #2098
Yes, thanx!

[2016-05-26 13:13] #2098 closed

[2016-05-26 13:13] mariokeusen commented on #2097
Yes, thanx!

[2016-05-26 13:13] #2097 closed

[2016-05-26 13:14] oterral commented on #2100
Rectangle stuff is hidden on small screen, isn't it?

[2016-05-26 13:17] p1d1d1 commented on #2100
on iPhone 6 "rectangle" is available in the menu

[2016-05-26 14:45] procrastinatio commented on #2093
[Using OL3 with GetCapabailities](http://codepen.io/procrastinatio/details/vKBjNz/)

[2016-05-27 06:43] gjn commented on #2093
Very strange. Do you have an approach?

[2016-05-27 06:47] #2094 closed

[2016-05-27 09:39] gjn commented on #2093
Does x/y switch in 2056 compared to 21781?

[2016-05-27 11:44] procrastinatio commented on #2093
No, but there are no _x_ and _y_ in LV95, only _eastings_ and _northings_.

[2016-05-27 11:47] gjn commented on #2093
see my comment https://github.com/geoadmin/mf-geoadmin3/commit/43a820abc5f5704d3754a68a65c7efcc481ed0a6

[2016-05-27 14:37] gjn commented on #2079
It's done for all published layers. So I close this.

[2016-05-27 14:37] #2079 closed

[2016-06-01 12:01] Jenselme opened #2110 "License"
I'm doing some checks on which license the project we use rely on. During this process, I saw that there is no license file for the python api.

I saw [here](https://github.com/geoadmin/mf-chsdi3/blob/61c2e62766bd2bbbf0051621e5172013a8d8bfd4/chsdi/static/doc/source/api/faq/index.rst#what-is-the-license-of-the-geoadmin-api) that the javascript api is BSD licensed but we are not using this.

I also

[2016-06-02 07:46] gjn opened #2113 "Swissbuildings3D 2.0 uses wms of dev in production"
https://map.geo.admin.ch/?topic=ech&lang=de&bgLayer=ch.swisstopo.pixelkarte-farbe&layers=ch.swisstopo.swissbuildings3d-2.metadata&layers_opacity=0.75

This can also be seen in failed jenkins tests:
https://jenkins.prod.bgdi.ch/job/chsdi3/525/console

pint @AFoletti @rfrancel

[2016-06-02 08:23] rfrancel commented on #2113
ok, the layer is configurerd to use wms-prod in the bod but I'll investigate why it's not

[2016-06-02 08:33] mariokeusen opened #2114 "[map background layers WMTS/WMS swisstopo] add LK10 layers on zoomlevels 25 to 27"
UC: add grey and color map bg-layer from WMTS and WMS swisstopo
Result: map material till zoomlevel 23 with LK25 is available
Expected: also LK10 is available from zoomlevel 25 to 27

[2016-06-02 08:33] gjn commented on #2099
@mariokeusen Should be fixed now.

[2016-06-02 08:33] #2099 closed

[2016-06-02 08:48] gjn commented on #2114
28 as well? Currently, in map.geo.admin.ch, we only have 27. 28 is client zoomed only.

[2016-06-02 09:07] rfrancel commented on #2113
no I was wrong, it was not the case everywhere.. I redeployed the bod to dev.

[2016-06-02 09:09] gjn commented on #2113
ok. will be ok on prod on next deploy. thanks.

[2016-06-02 09:09] #2113 closed

[2016-06-02 09:35] mariokeusen commented on #2114
Wasn't aware of that: IMHO we should do it exactly the same way as in map.geo.admin.ch, then we get rid of differences like that and it's easier to have the whole managed.

[2016-06-02 09:37] #2110 closed

[2016-06-02 09:37] gjn commented on #2110
BSD 3-clause License added.

[2016-06-02 09:46] Jenselme commented on #2110
Thanks!

[2016-06-02 14:43] #2086 closed

[2016-06-02 14:43] #1981 closed

[2016-06-02 14:59] loicgasser commented on #2101
This is a problem on the shop side. There obviously not calling the cut service when we're requesting a price.
Take for instance an extent outside a product will generate the following getPrice request:
https://beta.shop.swisstopo.ch/shop-server/resources/products/price?layer=ch.swisstopo.pixelkarte-farbe-pk25.noscale&geometry=871250,112250,885250,136750

So the extent is:
871250,112250,885250,136

[2016-06-02 15:01] loicgasser commented on #2101
ping @pauloamado

[2016-06-03 13:01] procrastinatio commented on #2114
We have:
* ch.swisstopo.pixelkarte-farbe-pk(25|50|100|200|500|1000).noscale
* ch.swisstopo.pixelkarte-farbe   and
* ch.swisstopo.landeskarte-farbe-10

WMTS does not know `aggregate`layers. WE have to manually copy the missing level from `ch.swisstopo.landeskarte-farbe-10`to `ch.swisstopo.pixelkarte-farbe`if you want to see them in WMTS.

[2016-06-03 13:04] procrastinatio commented on #2093
So is this fixed ?

[2016-06-03 13:08] procrastinatio commented on #1808
* Impact on performance...
* We need to split de DB into 3, as we only have a prod DB.

[2016-06-06 07:14] mariokeusen commented on #2099
Jep. Looks good now.

[2016-06-06 15:41] loicgasser opened #2122 "Always cast/use the correct mapping type"
ping @daguer @alcapat @ltclm  @gjn @rfrancel @pfanguin @AFoletti

We are using a lot of views, ok...

But we really need to be aware of the fact that the type mapping must be correct at all time which is not the case. (escpecially with `autload=False`)

For instance take:
`tlm.swissboundaries_gemeinden` type is defined as an integer in the model but looking at the view we actually have a double pr

[2016-06-07 12:25] ltbam opened #2125 "Lk 1:10'000 in ch.swisstopo.pixelkarte-farbe group"
Hi,

When I use the layer ch.swisstopo.pixelkarte-farbe from the WMTS interface, I've got all pixelkarte from 1:1'000'000 to 1:25'000, but the new 1:10'000 does not appear. Is it possible to have the 1:10'000 in the ch.swisstopo.pixelkarte-farbe layergroup?
@mariokeusen

Thank you

[2016-06-07 13:31] loicgasser commented on #2125
ping @AFoletti any idea?

[2016-06-08 06:45] ltclm commented on #2125
this layer has been integrated as replacement for the tlm-karte-farbe which was not in this group too.

[2016-06-08 07:10] rfrancel commented on #2122
jenkins test

[2016-06-08 07:48] loicgasser commented on #2125
Yes thks but I think it makes sense for it to be part of the group. Can we do that ?

[2016-06-08 09:46] gjn commented on #2125
Duplicate of https://github.com/geoadmin/mf-chsdi3/issues/2114. It will get done.

[2016-06-08 09:46] #2125 closed

[2016-06-08 12:10] loicgasser commented on #2114
+1 we should copy `ch.swisstopo.landeskarte-farbe-10` at the last zoom levels using the `current` timestamp. Then we can change `ch.swisstopo.pixelkarte-farbe` configuration as we don't need a layer group anymore.

[2016-06-08 13:34] ltclm commented on #2114
the aim was to replace tlm-karte with lk10. thats exactly what has been done. the aggregate base layers exist already for years. there was always that difference between map.geo.admin and pure wmts.

[2016-06-08 14:27] gjn commented on #2114
That's true. There was an assumption by the datenherr that the integration of LK 10'000 would automatically extent the pure wmts `ch.swisstopo.pixelkarte-farbe` and `ch.swisstopo.pixelkarte-grau` layers with the LK10 on levels 25 to 27. As it was just assumed and not clearly specified as part of the data integration, it was not done.

Now we have to do it.

[2016-06-08 16:25] ltclm commented on #2114
lk10 tiles are png (default for overlay layers), ch.swisstopo.pixelkarte-farbe|grau tiles are jpeg. so we have to calculate all the tiles again...

[2016-06-09 05:52] gjn commented on #2114
Any way to estimate the cost of it? (man hours, cloud costs?)

[2016-06-14 07:49] procrastinatio commented on #2114
@ltclm And you have to change the name from **lk10** to **pk10**...

[2016-06-14 07:51] procrastinatio commented on #2093
According to https://groups.google.com/d/msg/geoadmin-api/6ienm9GO-3M/S8r7FgjpBAAJ looks like it solved.

[2016-06-14 07:52] procrastinatio commented on #1956
This one can be closed, from my point of view.

[2016-06-14 07:53] #1956 closed

[2016-06-15 13:48] #2122 closed

[2016-06-15 13:52] loicgasser commented on #1254
@procrastinatio this has been opened for a year and half, do we still need to address it?

[2016-06-15 13:52] #2093 closed

[2016-06-15 13:52] loicgasser commented on #2093
yes solved

[2016-06-15 13:53] loicgasser commented on #2048
Fixed in code via https://github.com/geoadmin/mf-chsdi3/commit/61bee52a5f7d7b5733882f5e8aca79cef92f445d#diff-2e90e144f9058f27411cceaa0039ca9d

Views still need to be adapted

[2016-06-15 13:54] #2030 closed

[2016-06-15 14:08] loicgasser opened #2134 "Update python libs"

[2016-06-16 05:28] ltclm commented on #2048
Hi Loic

View layers_js has been modified and deployed to dev.
https://github.com/geoadmin/db/commit/2989b1cec0a01b763dc3f9163a52953bf9ea2e6a
https://github.com/geoadmin/db/commit/57ca2fac291084e6ef76c84661b770b0f169c396

[2016-06-16 11:41] procrastinatio commented on #1254
I don't get these email anymore.

[2016-06-16 15:37] gjn commented on #1254
There's a new list for this. You should have received an invitation...

On Thu Jun 16 13:41:32 2016 GMT+0200, procrastinatio wrote:

[2016-06-16 16:09] rfrancel opened #2136 "Content-Type missmatch in data.geo.admin.ch"
Some data have the wrong Content-Type.

[code]

[2016-06-17 06:12] loicgasser commented on #2136
Yes they handle that themseleves. It doesn t break the app but it should be fixed.
Ping @davidoesh if you can tell them

[2016-06-23 09:50] ltbam opened #2139 "Swiss summits are shifted in location search"
Search Matterhorn in map.geo.admin.ch and take the summit from the result. You will see the pin point is shifted from the summit. I dont know which scope this problem has but you can easily see all other summits shifted too.

https://map.geo.admin.ch/?topic=ech&lang=fr&bgLayer=ch.swisstopo.pixelkarte-farbe&layers=ch.swisstopo.zeitreihen,ch.bfs.gebaeude_wohnungs_register,ch.bav.haltestellen-oev,ch.

[2016-06-23 12:58] mariokeusen commented on #2139
In the swissnames3D visualization it seems to be correct:
https://map.geo.admin.ch/?topic=ech&lang=de&bgLayer=ch.swisstopo.pixelkarte-grau&X=156583.79&Y=642957.65&zoom=10&layers=ch.swisstopo.swissnames3d&swisssearch=moench

[2016-06-23 14:17] gjn commented on #2139
It's the position of the label on lk10 that is displayed. This was triggered by a data update where we replaced part of the gazetter entries from tlm entries to lk10 entries.

I agree that for mountain peeks, this is sub-optimal.

@davidoesch ?

[2016-06-24 07:47] davidoesch commented on #2139
Reason is: the search results points now the center of the label in LK 10 for results whcih are visible in LK10

@ltclm : proposal/Discussion - for all point features we center not on the label but on the geometrie based on swissnames3d.

[2016-06-24 08:12] ltclm commented on #2139
exceptions are always welcomed :-)
We have the following tlm objekart and objektklasse data distribution in the lk10 data delivery [1]. We have to use this information for the selection of the geometry source.

So we can now decide again if we want to
* use annotation position for all features
* make a objektart/objektklasse dependant choose of the geoemetry source

If we choose the latter option,

[2016-06-25 12:03] gjn commented on #2139
There are probably more that would make sense:

TLM_EINZELOBJEKT
TLM_GEBAEUDE
TLM_HALTESTELLE

On 24.06.2016 15:20, David Oesch wrote:

[2016-06-25 12:11] davidoesch commented on #2139
ok for
- TLM_EINZELOBJEKT
-TLM_GEBAEUDE

TLM_HALTESTELLE those ones are taken from BAV dataset..

[2016-06-28 06:52] ltclm opened #2142 "zeitreihen lk25/lk50 fullres view fix backlink"
Since there are now fullres scans of lk25 and lk50 available,
we have to fix the zoomlevel of the backlinks.

lk25 backlink should zoom to zoomlevel 8
lk50 backlink should zoom to zoomlevel 7

https://github.com/geoadmin/mf-chsdi3/blob/master/chsdi/templates/historicalmaps/viewer.mako#L29

[2016-06-30 09:07] gjn commented on #2139
@ltclm Could you try to update the sphinx query accordingly for these classes? Would be great to have it in next deploy.

[2016-06-30 09:18] ltclm commented on #2139
i have modified the data import script and i have updated the data and sphinx index in the dev environment.
The following  categories
* TLM_NAME_PKT
* TLM_EINZELOBJEKT
* TLM_GEBAEUDE

are using the feature geometry now.
[testlink](https://mf-geoadmin3.dev.bgdi.ch/)

[2016-06-30 09:34] gjn commented on #2139
Looks good
[Matterhorn](https://mf-geoadmin3.dev.bgdi.ch/?swisssearch=matterhorn%20limit:%201)
[Hallenstadion](https://mf-geoadmin3.dev.bgdi.ch/?swisssearch=hallenstadion zürich%20limit:%201)

[2016-06-30 12:25] davidoesch commented on #2139
+1

[2016-06-30 12:51] ltclm opened #2147 "jenkins is not happy with koernermais"
Hi @alcapat
Could you please investigate why we have the following jenkins error:

[code]

[2016-06-30 14:00] gjn commented on #2147
I think the error is on my side. For production (api3.geo.admin.ch job), we use the latest github release tag for the build and test. Unfortunately, I didn't create this tag yesterday after the deploy, but just this morning.

I've re-launched the test and I assume it will be good now. Sorry for the noise.

[2016-06-30 14:00] #2147 closed

[2016-06-30 16:19] p1d1d1 opened #2150 "Spatial Reference System in feature resource output"
What about having the SRS in the feature resource output?

[2016-06-30 16:43] davidoesch commented on #2150
Is there any other agency /service which this is done?

[2016-07-01 05:35] p1d1d1 commented on #2150
How can users understand which SRS is used?
How can someone easily mashup with e.g. a leaflet.js
Do you see problems? Or do you have examples that don't do that?

Just for discussing

[2016-07-01 07:55] davidoesch commented on #2150
I see your point, but IMHO the SRS used should be in a GetCap ...

[2016-07-10 07:08] ltclm commented on #2114
@mariokeusen
this has been done

[2016-07-10 07:17] #2139 closed

[2016-07-11 07:44] mariokeusen commented on #2114
Yes, thanks!

[2016-07-11 07:44] #2114 closed

[2016-07-11 15:19] ltbam opened #2166 "Big geometries in Identify results"
An identify feature request on "ch.vbs.logistikraeume-armeelogistikcenter" and "ch.vbs.territorialregionen" returns huge geometries. It would be nice to simplify them.

[2016-07-11 15:49] loicgasser commented on #2166
@ltclm I think we could add a simplified geometry column for that and use the `__returnedGeometry__` option. We need to use the topology preserving simplification (e.g. same as what you did in vector forge).

[2016-07-12 09:04] ltclm commented on #2166
yes that would make sense, but we should use postgis/topology with caution.
it is adding a new schema and some new views/tables related to the table. this will break our table deploy. but we have to this case-by-case.
for now i would propose to try a simplify the geometries with fme or postgis and add a new geometry column to the tables. i will ask @Ariadnigaki to work on that.

[2016-07-12 19:20] gjn commented on #2139
@ltclm What needs to be done to have this on prod? Please keep @loicgasser in the loop for this.

[2016-07-12 20:34] ltclm commented on #2139
just deploy the following table tomorrow:
[code]
I have added the table to the remember to deploy doc.

[2016-07-13 10:00] loicgasser opened #2168 "Document WMS BGDI in API3 doc page?"
Any reason not to document WMS BGDI geo services on api3 page?
ping @gjn , @davidoesch

[2016-07-13 10:17] ltclm commented on #2168
what besides a getcap link do you want to document?

[2016-07-13 10:40] davidoesch commented on #2168
Folks
The official documentation for all portrayal services are on the Cms : https://www.geo.admin.ch/en/geo-services/geo-services/portrayal-services-web-mapping.html

Cms (since migration is now done)
To do:
-integrating listing  based on get cap for WMTS and WMS for all lang (task already assigned to Daniela...)
-Adding all FAQs
- rest services of api3: we should include it as iframe in the Cms

[2016-07-13 12:07] loicgasser opened #2169 "Unesco table in bak.public primary key starts at 0"
bgdi_id is the primary key and starts at 0

[2016-07-13 12:26] loicgasser commented on #2169
Also there is a topology schema which doesn't have the usal access rights. (same for the tables)

[2016-07-13 12:34] ltclm commented on #2169
Sorry Loic but i have no idea what you mean with this. Can you give me the raw error message?

[2016-07-13 12:35] loicgasser commented on #2169
I am talking about.
GRANT SELECT ON TABLE bla TO ...

[2016-07-13 12:37] loicgasser commented on #2169
It is not used so maybe remove it all together. I am not sure what was the goal of it. There is no generalization to my knowledge

[2016-07-13 12:45] ltclm commented on #2169
I have fixed the bgdi_id issue, furthermore there was no primary key and geometry index on that table. I have created them and deployed the table to dev/int/prod.

[2016-07-13 12:47] ltclm commented on #2169
the topology schema is in all our databases, it comes with the topology support of postgis.
What's the issue, i still dont understand.

[2016-07-13 12:58] loicgasser commented on #2169
Ok. then we should make sure it comes with the correct access rights in case we use it.
Wouldn't you agree? We should be coherent that's all. Not a problem generating an error at the moment but it might if we start using them as our app won't even have read acces on it.

[2016-07-13 13:15] ltclm commented on #2169
the apps dont need to access to this schema, the schema will be used in the background. You can add a topology geometry column to an existing table, which already has the right access constraints. This should be done with the [postgis topology management and constructor functions](http://postgis.net/docs/manual-dev/Topology.html#Topology_Constructors).
It should be noted that adding a topology to

[2016-07-13 13:32] loicgasser commented on #2169
Well when creating topogeometries the new column will have dependencies on the topology schema and table (faces, edges, nodes and relation) which will make it impossible for another user to access the column.

Yes I still need `stopo_master.tlm.prodas_spatialseltype_gemeinde_forge`.

[2016-07-13 14:04] loicgasser opened #2170 "Remove unwanted config3d and add DB constraint on config3d column"
2 layers don't work in 3d because of a configuration mistake (`config3d: " "`) see:

[code]

and

[code]

and try

We should make sure that all the config 3d keys start with `ch.` if we want to avoid this kind of errors.

You can also try:
[Test Link](https://map.geo.admin.ch/?topic=ech&lang=fr&bgLayer=ch.swisstopo.pixelkarte-farbe&layers=ch.bafu.gewaesserschutz-biologischer_zustand_diatomeen&laye

[2016-07-13 14:55] ltclm commented on #2170
i have fixed the data and added a constraint in the database to the column and some other columns too:
[code]

[2016-07-13 18:14] loicgasser commented on #2170
You rule ! And you are super reactive. Thanks

[2016-07-13 18:52] gjn commented on #2170
+1. Will be fixed on next deploy.

[2016-07-13 18:52] #2170 closed

[2016-07-13 18:58] gjn commented on #2169
Not sure I understand fully.

But is there a way to assure tables have primary key? Or doesn't that make sense?

When reviewing a data integration, shouldn't we also review the corresponding postgis tables, definitions and views? Is this done? If not, how could it be integrated to a review process?

[2016-07-13 19:13] gjn commented on #2168
I'm not a fan of including technical documentation as iframe in cms. We should use links. (and the css....). To cms visitor, api3 information is hard to find, this could be improved.

But, that doesn't mean we shouldn't/couldn't document wms in api3 as well. At least a list of available getcaps would make sense (as we do for wmts), describe the different projections, mention limitations, etc. A us

[2016-07-13 19:22] gjn commented on #2139
This is working well!

[2016-07-13 19:38] gjn commented on #2169
A big +1 from my side.

Are FME scripts reviewed? Should/Could be done as well.

[2016-07-13 20:32] davidoesch commented on #2168
Cms is just what is required by the law - one single entry point. In 4 languages. Data content centric. And it is seo optimized. So we have to at least link api3 where  possible in the Cms. The reason we started api3: updating the Cms (old and new) is not  dev friendly.... And we would have to first do it in DE FR IT before we can't even do it in EN.
And yes - just last week a major external compa

[2016-07-14 07:29] gjn commented on #2168
New CMS is missing lots of information...

Anyway, I close this one. I think it could make sense to add WMS information on api3 page as well. @mariavkourouni or @Ariadnigaki could try to add it.

[2016-07-14 07:40] ltclm commented on #2168
how will we update these wms getcap caches?

[2016-07-14 07:45] gjn commented on #2168
What do you mean? In the CMS? or in the api3 doc? In api3 doc, it's onyl a linke to the wms getcap.

[2016-07-14 08:02] ltclm commented on #2168
if its only a link to the different wms getcap languages its already answered.

but @davidoesch was speaking of the getcap content. I would just like to avoid that we have to manually update several getcap content caches in several systems after each wms deploy.

[2016-07-14 08:06] gjn commented on #2168
In old CMS, the getcap content was dynamially created using our official wmts getcap document (using javascript). But that's not possible anymore because of missing cms component....

But I agree with @ltclm , this should be automated in new CMS as well. Manual updates should be avoided mostly.

[2016-07-14 09:16] gjn opened #2172 "Wanderwege - duplication"
In our models, we have 2 models and 2 technical layers pointing to the exact same table with the same attributes.

[ch.swisstopo.swisstlm3d-wanderwege](https://github.com/geoadmin/mf-chsdi3/blob/master/chsdi/models/vector/stopo.py#L1560) and [ch.swisstopo-karto.wanderwege](https://github.com/geoadmin/mf-chsdi3/blob/master/chsdi/models/vector/stopo.py#L1621)

In bod, we don't have ch.swisstopo-kart

[2016-07-14 09:24] ltclm commented on #2168
yes, we should focus to document the things which are not visible in the getcap.
We should document that we have a getcap in several languages and how to acces them with url parameter ``&lang=(de|fr|it|rm|en)`` or as part of the uri path ``wms.geo.admin.ch/(de|fr|it|rm|en)/? `` [see here](https://github.com/geoadmin/wms-bgdi/pull/57).

[2016-07-14 09:46] gjn commented on #2172
@ltclm KIK is using ch.swisstopo.swisstlm3d-wanderwege for all of their requests.

[2016-07-14 17:23] davidoesch commented on #2168
in the new CMS Content of WMS is updated automatically [1] via GetCap...

[1] https://www.geo.admin.ch/de/geo-dienstleistungen/geodienste/darstellungsdienste-webmapping-webgis-anwendungen/web-map-services-wms.html

[2016-07-15 09:10] loicgasser commented on #2168
We could document and put a Getcap content in the api3 doc and put a link in the CMS until we can use javascript in the CMS or find a better solution.

[2016-07-15 12:15] davidoesch commented on #2168
JavaScript _can_ be used in our cms....

[2016-07-15 14:38] gjn commented on #2168
Yes, I was wrong.

I would still add the CMS in the api3 documentation. The same as for WMTS. WE could explain parameters, languages, etc as mentioned by @ltclm .

[2016-07-18 14:55] loicgasser opened #2178 "Ensure all geometriesin DB do not exceed max size"
With
https://github.com/geoadmin/mf-chsdi3/blob/master/chsdi/views/features.py#L698
and
https://github.com/geoadmin/mf-chsdi3/blob/master/chsdi/views/features.py#L710

it is assumed that our geometries don't have more than 1'000'000 parts.

This is not the case, with the current approach we simply skip all geometries that exceeds this arbitrary limit.
The client on the other hand excepts a respone

[2016-07-18 15:11] loicgasser commented on #2166
https://github.com/geoadmin/mf-chsdi3/pull/2179

[2016-07-18 15:12] loicgasser commented on #2166
case-by-case: needs to be formalized.

[2016-07-18 18:22] ltclm commented on #2178
hello,
i dont agree in changing / reducing the precision of the original geometry (tilegeneration, wms, etc.), this is data manipulation. But we can introduce a simplifed geometry column for chsdi highlights.
p.e.
https://github.com/geoadmin/mf-chsdi3/blob/master/chsdi/models/vector/lubis.py#L17

[2016-07-18 18:51] loicgasser commented on #2178
Sure that s what I had in mind sorry

[2016-07-19 07:54] gjn commented on #2178
The above was introduced to protect our infrastructure. Huge geometries lead to timeouts (actually, it was the creation of the JSON string) - which consumed the apache connections, which in turn brought down all services.

We need simplified geometries for the web.

[2016-07-19 08:03] loicgasser commented on #2178
I could easily detect all the tables where we have such geometries with a script. Then we need somebody to actually do the work.

[2016-07-19 11:39] #2100 closed

[2016-07-19 11:40] gjn commented on #1445
@cedricmoullet How to continue with this? It's first priority...

[2016-07-19 11:40] gjn commented on #2172
ping @daguer

[2016-07-19 11:43] gjn commented on #2142
https://map.geo.admin.ch/?topic=ech&lang=de&bgLayer=ch.swisstopo.pixelkarte-farbe&layers=ch.swisstopo.zeitreihen,ch.bfs.gebaeude_wohnungs_register,ch.bav.haltestellen-oev,ch.swisstopo.swisstlm3d-wanderwege&layers_visibility=true,false,false,false&layers_timestamp=20041231,,,&X=252774.72&Y=665638.48&zoom=3&time=2004

Click in the middle.

[2016-07-19 11:44] gjn commented on #2101
@pauloamado Could you discuss this with puzzle.

[2016-07-19 11:50] ltclm commented on #2142
there is no scanned fullres data for this image in the middle.
https://historicalmaps.geo.admin.ch/tiles/bv000826462/quickview.jpg

http://www.alexandria.ch/primo_library/libweb/action/dlSearch.do?institution=BIG&vid=ALEX&scope=default_scope&query=lsr07,contains,bv000826462

You have to ask rolf.

[2016-07-22 08:43] procrastinatio commented on #2178
Splitting or converting from `MULTI` to `SINGLE` large geometries is not an options ?

[2016-07-22 08:45] procrastinatio commented on #2150
Yes, at one point in the future we will have a mix of `LV03` and `LV95`

[2016-07-22 08:47] procrastinatio commented on #2136
The uploader is responsible for setting the right `Content-Type`. Some client are doing the magick, while other not.

[2016-07-22 08:54] procrastinatio commented on #2172
I think the original _ch.swisstopo-karto.wanderwege_ used to have footpath outside Switzerland, which was much loved.

[2016-07-22 14:52] ltbam opened #2186 "ch.vbs.armeelogistikcenter LV95 variable Symbol size"
When we consume the layer in LV95 (https://wmts20.geo.admin.ch/EPSG/2056/1.0.0/)

Sometimes the Symbols appear with different sizes.

![image](https://cloud.githubusercontent.com/assets/11943224/17060979/98d6da88-502c-11e6-98f3-5e6ae3202402.png)

We did not see this problem on any other layer

[2016-08-05 09:07] ltclm opened #2193 "publish new translations from geocat"
the translation has to be updated, there are a lot of new translations from geocat in the bod.

[2016-08-08 09:23] loicgasser opened #2196 "Remove unused columns from public.ms_class"
Remove columns

frm_classitem
frm_classitem

And from the wiki:
https://wiki.lt.admin.ch:8443/confluence/display/BGDI/12+-+Howto+integrate+Layer+in+BOD

[2016-08-22 14:57] p1d1d1 opened #2209 "WMS GetFeatureInfo tooltip for eMapis"
Most of eMapis use cases make use of WMS Import, e.g:

https://mf-geoadmin3.int.bgdi.ch/?topic=ech&layers=WMS%7C%7CHochbau%20(Query)%7C%7Chttps:%2F%2Fwms-bgdi.int.bgdi.ch%2F%3Fequery%3D(typ_code%3D41)%7C%7Cch.blw.emapis-hochbau&lang=de&bgLayer=voidLayer&X=184600.00&Y=622300.00&zoom=4

map.geo.admin.ch gives now the possibility to have a tooltip (based on GetFeatureInfo) on such layers.
Overall the

[2016-08-24 09:21] davidoesch commented on #2150
this _has_ to be part of the global lv03-lv95 migration strategy.. .

[2016-09-02 06:32] gjn opened #2220 "Update ol3 for js api"
We should update ol3 for js api and publish it as a preview. The current version is over 1 year old.

@oterral Could you give it a try?
https://github.com/geoadmin/ol3

[2016-09-02 07:08] oterral commented on #2220
Already on it  but compilation problems.

[2016-09-02 07:09] oterral commented on #2220
Ah sorry I thought you mean in map.ge.admin.ch.

[2016-09-02 07:24] oterral commented on #2220
@gjn  have you think putting this lib (loader.js and na dfile  in s3 ?
like map.geo.admin.ch we could have multiple static versions in it and avoid update problems of the users.

[2016-09-02 07:36] gjn commented on #2220
Yes, that would/could make sense.

Didn't think about it in detail, but probably loader would be kept in api, and the specific version in s3 forever. Then user could call loader.js with version parameter, e.g. api3.geo.admin.ch/loader.js?version=something and it would be forever there. (Could defer/redirect to statified loader.js in s3 together with the specific version)

But main problem we proba

[2016-09-02 09:12] oterral commented on #2220
Since now we use `current` timestamp  I don't think timestamps are an issue for future versions of the api.

Getting the new LayersConfig with old ol3 versions could be problematic if we change properties in LayersConfig.

[2016-09-02 09:25] procrastinatio commented on #2220
I mean 99% of users are only interested in pixelkarte or swissimage, so there is no issue to keep older layers config. But generally speaking, it make absolutely no sense to keep a previous version of tiles, because tooltips (and other service) are not versioned.

[2016-09-02 09:26] gjn commented on #2220
We have `current` timestamp only for a small selection of layers (even if most used layers). Most other layers have specific timestamps.

But we can also say that when you use old version of api, you also get old data. That could motivate users to upgrade.

I think both ways are possible, as with both solution we risk to run into incompatibilities...and breaking of the API app.

[2016-09-02 09:37] procrastinatio commented on #2134
Done. Tnak you.

[2016-09-02 09:37] #2134 closed

[2016-09-02 10:13] procrastinatio commented on #2186
See https://github.com/geoadmin/service-mapproxy/pull/40

[2016-09-06 11:20] #2172 closed

[2016-09-06 11:21] #2142 closed

[2016-09-06 11:24] gjn commented on #1445
Everything is in db now and auto-imported every week. So we can close this.

[2016-09-06 11:24] #1445 closed

[2016-09-06 11:27] gjn commented on #2220
Migration documentation
Create a preview
Create examples with preview

[2016-09-09 08:30] oterral opened #2225 "Bad results in identify"
This request should return 0 result:
https://mf-chsdi3.dev.bgdi.ch/rest/services/all/MapServer/identify?geometry=533750,136249.99999999994,550250,174249.99999999997&geometryFormat=geojson&geometryType=esriGeometryEnvelope&imageDisplay=1641,867,96&lang=fr&layers=all:ch.bav.haltestellen-oev&mapExtent=249750,-26750,1070250,406750&returnGeometry=true&tolerance=5&where=name+ilike+%27%25dietikon%25%27

[2016-09-09 09:12] ltclm commented on #2225
there are two resulting queries in the database:
[1] query: all stops with name like 'dietikon' gives 40 results
[2] query: all stops with name like 'dietikon' and bbox intersection gives no result

@loicgasser why do we make two db queries here. this beaviour results in an **or** condition of bbox and name, it should be **and** instead.

[1]
[code]
[2]
[code]

[2016-09-09 13:19] davidoesch opened #2228 "Object Service Description in api3.geo.admin.ch"
Hi Gilbert

Analogue to http://api3.geo.admin.ch/services/sdiservices.html#terrain-service
we need a minimal object service description

[2016-09-10 08:38] p1d1d1 commented on #2209
Any news on this?

[2016-09-12 12:50] procrastinatio commented on #2150
According to [ech-0056 v3](http://www.ech.ch/vechweb/page?p=dossier&documentNumber=eCH-0056&documentVersion=3.0), **CRS-01**, it has to be done

[2016-09-12 12:51] davidoesch commented on #2150
Yep... Today updated. Then go for it

[2016-09-13 06:11] loicgasser commented on #2225
It s always or per default when combining a spatial and attribute filter. It makes sense to change this behaviour.

[2016-09-14 18:49] ltclm commented on #2209
within map.geo.admin.ch we only have text/plain as getfeatureinfo format. You have to ask @oterral if we can support other formats.

it would look like this:
https://wms-bgdi.dev.bgdi.ch/ltclm/xx/?equery=(typ_code=41)&SERVICE=WMS&VERSION=1.3.0&REQUEST=GetFeatureInfo&FORMAT=image%2Fpng&TRANSPARENT=true&QUERY_LAYERS=ch.blw.emapis-hochbau&LAYERS=ch.blw.emapis-hochbau&INFO_FORMAT=text/plain&I=50&J=50&

[2016-09-15 09:07] loicgasser opened #2229 "Geomerty too big in wasser.flussordnungszahlen"
Layer id: ch.bafu.flussordnungszahlen-strahler

For bgdi_id 19691 we have a 509 Bandwidth Limit Exceeded

It would be good to check it out.

[2016-09-15 10:11] ltclm commented on #2209
wms-bgdi has been configured. you can test the translated tooltips of the query layer [here](https://mf-geoadmin3.int.bgdi.ch/?topic=emapis&layers=WMS%7C%7CHochbau%20(Query)%7C%7Chttps:%2F%2Fwms-bgdi.dev.bgdi.ch%2Fltclm%2Fde%2F%3Fequery%3D(typ_code%3D41)%7C%7Cch.blw.emapis-hochbau,ch.blw.emapis-hochbau&lang=de&bgLayer=voidLayer&X=237412.37&Y=575609.28&zoom=4&catalogNodes=1916)

wms-bgdi pr: https:

[2016-09-15 11:31] p1d1d1 commented on #2209
Marcel thanks. And also language dependent!
By the way for the tests with BLW we need the GetFeatureInfo request enabled in wms-bgdi.int.bgdi.ch

[2016-09-15 12:13] ltclm commented on #2209
translated emapis tooltips within wms-bgdi have been deployed to int, @daguer you're changes on emapis-zusammenfassung are on int too now.

note: the mf-geoadmin3 language selector has no impact on the getfeatureinfo language.

[2016-09-19 09:06] #1300 closed

[2016-09-20 16:57] p1d1d1 commented on #2209
@ltclm would it be possible to enable a further attribute in the GetFeatureInfo for the emapis layers?

DE: Massnahme = column kurzbez_de in the postgis table
FR: Measure = column kurzbez_fr in the postgis table
IT: Provvedimento = column kurzbez_it in the postgis table

[2016-09-20 18:35] ltclm commented on #2209
done and merged:
https://github.com/geoadmin/wms-bgdi/pull/96
please wms-bgdi related issues in this project.

[2016-09-21 11:16] loicgasser commented on #2229
@Ariadnigaki Do you think you can simplify these geometries?

[2016-09-22 10:14] loicgasser opened #2235 "Stationboard polling never stops"
For instance:
1. Open map.geo.admin.ch
2. Select Haltestellen
3. Click on a station or selection by rectangle
4. Observe requests in you browser

Resut:
Polling never stops.

Expected result:
Polling stops when popup is closed.

[2016-09-22 12:06] ltclm commented on #2229
**bak_master.public.unesco** has to be simplified:
[code]

**bafu_master.wasser.flussordnungszahlen** seems to be ok, the bandwidth limit error is strange.
[code]

[2016-09-22 14:09] procrastinatio commented on #2186
Please check https://web-wmts-test.dev.bgdi.ch/?host_tpl=https%3A%2F%2Fwmts%7B20-24%7D.geo.admin.ch&raw_tpl=0&timestamp=20150330&use_src=0&format=png&layer=ch.vbs.armeelogistikcenter&epsg=2056&lang=fr

[2016-09-22 14:17] p1d1d1 commented on #2209
@oterral Thanks to @ltclm we have "language enabled" WMS GetFeatureInfo.
But on map.geo.admin.ch it seems to me that the request doesn't use the language as set by the user.

[2016-09-22 15:35] loicgasser commented on #2209
Do you have a testlink with the layer that doesn t work on int ?

[2016-09-22 16:10] p1d1d1 commented on #2209
Here the link:
https://mf-chsdi3.int.bgdi.ch/shorten/6e7e00eabf

The GetFeatureInfo support lang, e.g.:
DE: https://goo.gl/TMDqqi
FR: https://goo.gl/iDoWR6

But in mf_geoadmin3 the request is sent without lang parameter

[2016-09-22 16:19] p1d1d1 commented on #2209
One more issue. The "object Information" window of a tooltip on a WMS layer (WMS Import) is not so nice: scoll bars and the link "profil erstellen".
Could we get rid of both?thanks

![screenshot_2016-09-22_18-16-43](https://cloud.githubusercontent.com/assets/1533649/18756576/c05d09c0-80f0-11e6-8e8c-5e9bc67d3266.png)

[2016-09-23 07:44] loicgasser commented on #2209
yes the profile stuff will disapear with the next release I made a PR.

[2016-09-23 07:58] loicgasser commented on #2209
Thank you for the link. The problem is that in the WMS getCap, you don't know what languages are avaible. Sure we can send the language we have in geoadmin, but we might end up with undesired side effects. We could also add an exception for in the WMS import for geoadmin WMS servers, but I don't like them.

How complex must the WMS queries be. We could use the badges in the layer tree (see zeitrei

[2016-09-23 08:37] p1d1d1 commented on #2209
@loicgasser let me try to address your points:

- GetFeatureInfo: no exception needed and I see no risks. Let's say a WMS Server supports the parameter "lang" but a specific language is not supported --> Server will answer with default.
Supported language: http://tinyurl.com/zdz3z32
Unsupported language: http://tinyurl.com/jb9ngzb
Case lang not supported --> the WMS Server will just ignore it and

[2016-09-23 08:40] loicgasser commented on #2209
GetFeatureInfo: no exception needed and I see no risks. Let's say a WMS Server supports the parameter "lang" but a specific language is not supported --> Server will answer with default.
Supported language: http://tinyurl.com/zdz3z32
Unsupported language: http://tinyurl.com/jb9ngzb
Case lang not supported --> the WMS Server will just ignore it and default will be returned.
So no risk to make langu

[2016-09-23 08:59] loicgasser commented on #2209
Profile link on WMS info tooltip fixed in https://github.com/geoadmin/mf-geoadmin3/pull/3502

[2016-09-27 12:08] #2101 closed

[2016-09-28 11:14] loicgasser commented on #2229
@ltclm I think the problem here is with the single geometry parts.

We could extend _bgdi_analyze_geometry to tell us the max number of single parts per geometry.

[2016-09-30 12:21] procrastinatio commented on #2186
@ltbam Coucou ?

[2016-09-30 12:48] #2225 closed

[2016-10-03 11:13] loicgasser commented on #2235
@gjn The tooltip here doesn't behave as a service.
We should do the same we did for windenergie, it would also solve the timeout issue.
See for instance:

https://api3.geo.admin.ch/1474375204/rest/services/ech/MapServer/ch.bav.haltestellen-oev/8504860/htmlPopup?coord=585750,161875.00000000003&imageDisplay=1920,647,96&lang=de&mapExtent=412000,99625,892000,261375

[2016-10-04 11:32] gjn commented on #2235
We try to solve it in iframe similar to windgeschwindigkeiten.

[2016-10-04 11:40] #1254 closed

[2016-10-04 11:42] #1206 closed

[2016-10-05 08:05] loicgasser opened #2247 "Doc build error should make the build fail"

[2016-10-05 09:50] oterral opened #2250 "Remove testi18n service"
We should add tests for tooltips translations, and remove this service used only for squash-tm test.

[2016-10-06 06:27] #2250 closed

[2016-10-06 08:07] p1d1d1 opened #2253 "eMAPIS: symbology, legends, feature info"
Here a list of fixes needed for eMAPIS:
- [x] which is the status of this? https://github.com/geoadmin/wms-mapfile_include/pull/58
- [x] Legend label for "Beizugsgebiet" in layer ch.blw.emapis-beizugsgebiet is OK in WMS (int) but not in map.geo.admin.ch. The static png should be regenerated
- [x] Legend label for "Beizugsgebiet" (NAME "5103") in layer ch.blw.emapis-zusammenfassung is wrong. Should

[2016-10-06 08:35] AFoletti commented on #2253
- First point should be OK. PR is merged
- About last point: that's not the only case where a technical layer is used but it should not show up in the GetLegendGraphic request, I think it would be good to find a way to handle that in the same way we use for the GetCap omission (DB-based). @loicgasser what do you think?

[2016-10-06 09:16] loicgasser commented on #2253
@AFoletti What about using the scale parameter in GetLegendGraphic

See for instance:

Without scale:
http://wms-bgdi.int.bgdi.ch/?request=GetLegendGraphic&layer=ch.blw.emapis-beizugsgebiet&style=default&service=WMS&version=1.3.0&format=image%2Fpng&sld_version=1.1.0&lang=fr

With scale 100:

http://wms-bgdi.int.bgdi.ch/?request=GetLegendGraphic&layer=ch.blw.emapis-beizugsgebiet&style=default&servi

[2016-10-06 09:17] gjn commented on #2253
+1

[2016-10-06 11:26] p1d1d1 commented on #2253
- First point: is a deploy needed? e.g. i don't see the new attribute here: https://mf-geoadmin3.int.bgdi.ch/?topic=ech&lang=de&bgLayer=ch.swisstopo.pixelkarte-farbe&layers=WMS%7C%7CStrukturverbesserungen%7C%7Chttp:%2F%2Fwms-bgdi.int.bgdi.ch%7C%7Cch.blw.emapis-zusammenfassung%7C%7C1.3.0

- Last point: the legend of this layer should show up, but now it has duplicated entries because of the 2 level

[2016-10-06 11:40] AFoletti commented on #2253
First point: I have to look at the code. Will do tomorrow :)

About GetLegend:
I don't understand why entering this info in the DB should be a hack. We already have this info for the !GetCap and let the translation script do the work for us. This could work the same way.
@loicgasser your solution "works" but you have to consider that a user will NOT add a scale parameter to his GetLegendGraphic. D

[2016-10-06 12:11] loicgasser commented on #2253
Users don't have to add it manually. It's activate when you click the info button automatically.
We could even imagine updating it when zooming in our out.

[2016-10-06 12:14] loicgasser commented on #2253
At least you'd have a legend for what you see.

[2016-10-06 12:20] loicgasser commented on #2253
First point yes we probably have to update the mapinclude snippets in wms-bgdi. will check it later.

[2016-10-06 12:46] loicgasser commented on #2253
For the first point attributes haven't been included in `ows_include_items` so they won't show up.

[2016-10-06 13:05] loicgasser commented on #2253
It's not clear not me if you want translated title or a new attribute

[2016-10-06 13:11] loicgasser commented on #2253
Ok I have a test link for point 1;
https://mf-geoadmin3.int.bgdi.ch/?topic=ech&lang=de&bgLayer=ch.swisstopo.pixelkarte-farbe&layers=WMS%7C%7CStrukturverbesserungen%7C%7Chttp:%2F%2Fwms-bgdi.dev.bgdi.ch%2Fltgal%2F%7C%7Cch.blw.emapis-zusammenfassung%7C%7C1.3.0&X=240279.45&Y=590394.79&zoom=10

[2016-10-06 13:11] p1d1d1 commented on #2253
Marcel already did something:
https://mf-geoadmin3.int.bgdi.ch/?topic=emapis&layers=WMS%7C%7CHochbau%20(Query)%7C%7Chttps:%2F%2Fwms-bgdi.dev.bgdi.ch%2Fltclm%2Fde%2F%3Fequery%3D(typ_code%3D41)%7C%7Cch.blw.emapis-hochbau,ch.blw.emapis-hochbau&lang=de&bgLayer=voidLayer&X=237412.37&Y=575609.28&zoom=4&catalogNodes=1916

[2016-10-06 13:22] loicgasser commented on #2253
ok yes we simply need to add it to `ows_include_items` then

[2016-10-07 06:06] AFoletti commented on #2253
Again about the GetLegend issue:
of course you can make the geoadmin GetLegendGraphic scale-aware. You can even go further and make it fully context-aware by implementing the BBOX if you really want to have a legend of only what you are seeing.
But that was not the issue.
Issue was: **please do not show the unofficial symbolization but only the one defined in the data model.**
If that's really wha

[2016-10-07 07:28] mariokeusen opened #2254 "[lk10] mwa not visible on zoomlevels 0 to 9"
Mentioned on wednesday already...

UC: open https://s.geo.admin.ch/6ec962ee7f, zoom out to zoomlevel 9, 8
Result: the mwa object (bridge) is visible on zoomlevels 10 to 13, but not on 9 or smaller
Expected: mwa objects are present on the whole tile pyramid

My suspicion: we only have the new tiles on zoomlevels 10 to 13. Problem concerns the Lk10 "noscale" layers, not the bg-layers...

[2016-10-07 09:53] gjn commented on #2254
The now working levels are the ones we fixed for pixelkarte-farbe and grau. But obviously, we need all levels to get all MWA's on all levels.

@loicgasser Please discuss with @ltclm once he's back.

[2016-10-11 06:40] loicgasser commented on #2254
I know what this is. Can be fixed.

[2016-10-11 07:04] procrastinatio opened #2255 "RSS feed generation keeps failing"
[code]

[2016-10-11 07:16] procrastinatio opened #2256 "Identify test generate a HTTP 509 Error"
[code]

[2016-10-11 11:10] #1495 closed

[2016-10-11 11:14] p1d1d1 commented on #2253
@loicgasser status here?
Please consider that we'd need at least the first 4 points done within this month. Beginning November (1st to 3rd) we have a new tests round on "int".

[2016-10-11 13:32] gjn opened #2259 "Geometry too big"
http://api3.geo.admin.ch/rest/services/all/MapServer/identify?geometry=548945.5,147956,549402,148103.5&geometryType=esriGeometryEnvelope&imageDisplay=500,600,96&mapExtent=548945.5,147956,549402,148103.5&tolerance=1&layers=all:ch.bafu.gefahren-baugrundklassen

Results in error:

 509 Bandwidth Limit Exceeded
Feature ID 19691: is too large

@ltclm @rebert How can we avoid such huge geometries in our

[2016-10-11 16:50] loicgasser commented on #2253
1 is fixed, See PR above just need merge \ translate. 2 and 3 are pretty straightforward. The rest on the way.

[2016-10-12 10:30] gjn commented on #2256
fixed via https://github.com/geoadmin/mf-chsdi3/pull/2260

[2016-10-12 10:30] #2256 closed

[2016-10-12 10:32] gjn commented on #1535
@davidoesch New print arrow:
![image](https://cloud.githubusercontent.com/assets/2572317/19306841/d624b532-9077-11e6-89da-11995e584731.png)

Go?

https://github.com/geoadmin/service-print/pull/19

[2016-10-12 10:32] davidoesch commented on #1535
Clear go

[2016-10-12 10:39] loicgasser commented on #2254
This is fixed

[2016-10-12 10:39] #2254 closed

[2016-10-12 10:46] gjn commented on #1535
Will be deployed next week.

[2016-10-12 10:46] #1535 closed

[2016-10-12 10:59] gjn commented on #2254
Masterful. Thanks alot.

[2016-10-12 13:26] mariokeusen commented on #2254
Great! Thanks!

[2016-10-12 13:47] p1d1d1 opened #2262 "Identify and overlapping geometries"
Identify (feature tooltip) doesn't select all overlapping geometries.
Steps:

1. Go here: https://s.geo.admin.ch/6ee4705f72 --> 5080T and 5002T overlap
2. Click on the overlapping area --> 5002T is selected

Expected result: both 5002T and 5080T

Affected layers:
- ch.swisstopo.wk50-papierkarte-zusammensetzung.metadata
- ch.swisstopo.lk25-papierkarte-zusammensetzung.metadata
- ch.swisstopo.lk100-p

[2016-10-12 14:32] p1d1d1 opened #2263 "Shift highlight geometry"
1. Go here: https://s.geo.admin.ch/6ee4a7b35f
2. Click on a feature --> the highlight geometry is shifted

Affected browser: IE11

Affected layers:
- ch.swisstopo.pixelkarte-pk25.metadata
- ch.swisstopo.pixelkarte-pk50.metadata
- ch.swisstopo.pixelkarte-pk200.metadata
- ch.swisstopo.pixelkarte-pk100.metadata

[2016-10-12 17:10] loicgasser commented on #2262
This is by design, not a bug. https://github.com/geoadmin/mf-geoadmin3/blob/master/src/components/shop/ShopDirective.js#L116
We fix the limit to 1 per layer.
This probably needs adaptation in geoadmin

[2016-10-12 17:29] loicgasser commented on #2263
Not browser specific. Wrong grids in the background

[2016-10-12 17:34] loicgasser commented on #2263
I think the Wms source is shifted...

[2016-10-13 03:43] AFoletti commented on #2263
I can't reproduce in any browser... @loicgasser did you already fix that?

[2016-10-13 07:02] gjn commented on #2263
I can't reproduce. Can you attach a screenshot and the exact IE browsers version?

[2016-10-13 07:07] gjn commented on #2262
Yes, these are simply conflicting requirements.

How many per layer results should we allow? Remember, this should be a global setting, affecting all shop layers.

[2016-10-13 07:18] p1d1d1 commented on #2263
![image](https://cloud.githubusercontent.com/assets/1533649/19339833/10851d26-9126-11e6-91ea-2c049f6b9ca8.png)

[2016-10-13 07:26] gjn commented on #2263
Strange:

![image](https://cloud.githubusercontent.com/assets/2572317/19340029/22e97d76-9127-11e6-8edf-badb807cd217.png)

Maybe caching issue of your browser?

[2016-10-13 07:29] AFoletti commented on #2263
in @p1d1d1' image the highlight looks right (same and @gjn ) while the WMS image looks slightly shifted. I think we had someting similar with the zoom settings in the browser. @p1d1d1 could you check if you are using 100% zoom?

[2016-10-13 07:40] p1d1d1 commented on #2262
Affecting all shop layers... I'm not sure. The Shop directive as far as I can understand form the code deals with "digital products", meaning those layers in map.geo.admin.ch which have a "shop menu" in the tooltip.
And here the selection is "restricted" to one feature just because all selection geometries (map sheets and administrative units) are adjacent, meaning @ a specific point you can just

[2016-10-13 07:40] loicgasser commented on #2263
I can reproduce on chrome on my phone
![screenshot_20161013-093837](https://cloud.githubusercontent.com/assets/3306154/19340424/1d8e8a2c-9129-11e6-868e-2eb0a5846cfc.png)

[2016-10-13 07:42] AFoletti commented on #2263
wow, that's a very big shift

[2016-10-13 07:49] gjn commented on #2262
Maybe instead of limiting the result to 1, we should just put the tolerance to 0. Might be best of both worlds. Could be tried in a PR.

[2016-10-13 07:53] gjn commented on #2263
Browser zoom might be it. I can reproduce when I have browser zoom != 100%.

To me, this is minor bug as it's been like this since a long time and we never had bad feedback.

@p1d1d1 Can you adapt the original bug description to include that it's browser zoom related?

[2016-10-13 08:01] AFoletti commented on #2263
Tested on Chrome on my wife's smartphone (sony xperia E1). The more I zoom out, the more shift I get

On desktop I can't reproduce even with zoom != 100 (tested with chrome 53 and Edge)

[2016-10-13 08:03] p1d1d1 commented on #2263
@gjn for sure a minor, BTW I can reproduce at whatever zoom level.

[2016-10-13 08:04] p1d1d1 commented on #2262
Exactly.

[2016-10-13 08:19] gjn commented on #2263
I elevate this, because it not only affects the selection. But it also affects actual data where source is wms. This is a not-go.

It was just reported today by Adrian Wicht from the field, that they have the same behaviour with lfp2 layer:
[Testlink](https://map.geo.admin.ch/index.html?lang=fr&topic=ech&bgLayer=ch.swisstopo.pixelkarte-farbe&layers=ch.swisstopo.zeitreihen,ch.bfs.gebaeude_wohnungs_

[2016-10-13 08:41] AFoletti commented on #2263
As ifo: the issues does not look to affect layers coming from the WMS-import tool

Steps to reproduce:
- open https://s.geo.admin.ch/6ee88e116d with zoom == 100% on your browser
- set zoom !=100
- reload. Surprise!

[2016-10-14 09:06] p1d1d1 commented on #2209
@gjn @oterral got the following from customer:

![image](https://cloud.githubusercontent.com/assets/1533649/19381904/1197ebf2-91fe-11e6-808c-f89cc577c47e.png)

Any chance to get rid of this at least for our services?

[2016-10-14 09:32] p1d1d1 commented on #2209
@ltclm couldn't we apply a template in the mapfile for this?

[2016-10-14 10:20] p1d1d1 commented on #2209
@gjn @oterral @ltclm @loicgasser
Guys please put this in stand-by. I maybe found a way to use the standard tooltip with WMS layers and equery.

[2016-10-14 10:49] ltclm commented on #2259
we have to introduce to the data integration:
* use the geometry checker function
* if huge geometries exist, create a chsdi geometry column the_geom_highlight

[2016-10-17 06:41] ltclm commented on #2229
What do you mean with max number of single parts per geometry?
there is only one geometry per multigeom feature.

[2016-10-17 07:34] loicgasser commented on #2229
I mean that.
http://postgis.net/docs/ST_NumGeometries.html

[2016-10-17 09:22] loicgasser commented on #2253
This layer is not integrated in CHSDI. -> nothing to do in CHSDI.
I guess you had planned to use it only throught WMS Import. This is a layer that shows all the EMapis layers at the same time right? that's what I understand when I read the doc.

[2016-10-17 10:02] p1d1d1 commented on #2253
The layer is so far only used via WMS Import.
I'm waiting an answer from Christine to the proposal I did via email (using wms_url instead of WMS Import): if accepted either the layers goes in ch-sdi either it could be decommissioned.

[2016-10-17 11:00] loicgasser commented on #2253
Ok I wait for your feedback then.

[2016-10-17 12:53] loicgasser commented on #2253
https://github.com/geoadmin/wms-mapfile_include/pull/63
[LAST POINT TESTLINK](https://mf-chsdi3.int.bgdi.ch/shorten/6efe0f196f)

[2016-10-19 09:40] loicgasser opened #2273 "Shop layers names refactoring"
Here is a summary:

**Layers that have already been replaced.**

| Old name | New name |
| --- | --- |
| ch.swisstopo.lk200-papierkarte.metadata | ch.swisstopo.landeskarte200_papier.metadata |
| ch.swisstopo.lk500-papierkarte.metadata | ch.swisstopo.landeskarte500_papier.metadata |
| ch.swisstopo.gk300-papierkarte.metadata | ch.swisstopo.generalkarte300_papier.metadata |
| ch.swisstopo.wk25-papier

[2016-10-19 10:47] ltclm commented on #2263
seems to be related to the devices dpi.
if i open this link on a macbook with retina display i can confirm the offset, if i open it on my office laptop, there is no offset.

https://map.geo.admin.ch/?topic=ech&lang=de&bgLayer=ch.swisstopo.pixelkarte-farbe&layers=ch.swisstopo.swissimage-product,ch.swisstopo.images-swissimage.metadata&X=265067.45&Y=652296.05&zoom=4

[2016-10-19 10:59] loicgasser opened #2274 "Layer decomissioning ch.astra.ivs-reg_loc"
TODO after today's deploy

ch.kantone.ivs-reg_loc
ch.kantone.ivs-reg_loc.sub

This layer needs to be completly removed from the BOD.

@alcapat please put here what you have already done.

TO CHECKLIST:

Geocat:
- [ ] Remove entry

DB:
BOD (maybe more...)
- [x] catalog
- [x] dataset
- [x] geocat_data
- [x] abnahme
- [x] layers_js
- [x] translations

Geometries
- [ ] associated tables if not used by

[2016-10-19 12:12] oterral commented on #2263
@ltclm is right probably a pixel ratio issue. I can reproduce on the mac

[2016-10-19 12:14] gjn commented on #2263
WMS requests are affected. Maybe wms request is not constructed correctly. Not sure if singleTile WMS is also affected or only tiled WMS.

[2016-10-19 12:27] loicgasser commented on #2263
can you reproduce with pure ol3?

[2016-10-19 12:34] oterral commented on #2263
Not with master http://openlayers.org/en/master/examples/wms-custom-proj.html

[2016-10-19 12:44] oterral commented on #2263
It seems it's the gutter property which is responsible.

[2016-10-19 12:53] loicgasser commented on #2263
yes can't reproduce with single tile.
[Single tile](https://tool-wms.dev.bgdi.ch/viewer?wmsUrl=%2F%2Fwms-bod.dev.bgdi.ch&layerId=ch.swisstopo.pixelkarte-pk25.metadata&lang=de&format=image%2Fpng&time=)

[2016-10-19 15:18] oterral opened #2276 "Add tests for sitemap service"
In squash we test these links:

http://api3.geo.admin.ch/sitemap?content=index
http://api3.geo.admin.ch/sitemap?content=base
http://api3.geo.admin.ch/sitemap?content=topics
http://api3.geo.admin.ch/sitemap?content=layers
http://api3.geo.admin.ch/sitemap?content=addresses_33

Tell me if it's still necessary or if we should add tests in chsdi.

[2016-10-19 15:19] oterral opened #2277 "Add tests for i18n service"
In squash we test these links:

http://api3.geo.admin.ch/testi18n?lang=de
http://api3.geo.admin.ch/testi18n?lang=en
http://api3.geo.admin.ch/testi18n?lang=toto

Tell me if they are  necessary or if we should add test in chsdi3 ?

[2016-10-19 16:16] loicgasser commented on #2276
Oh I think we're good.
https://github.com/geoadmin/mf-chsdi3/blob/master/chsdi/tests/integration/test_sitemap.py

[2016-10-19 16:16] #2276 closed

[2016-10-19 16:19] loicgasser commented on #2277
https://github.com/geoadmin/mf-chsdi3/commit/518f07f2afe68d29d63215d4a7e6c5fcf3ed75e2#diff-1097e732e05bd11c2868df8e09ba0fcf

We have one. more could be good

[2016-10-20 06:09] oterral commented on #2276
thx I remove these links

[2016-10-20 06:48] oterral commented on #2263
Issue in ol #6001

[2016-10-20 08:14] gjn commented on #2277
Something for @Sgachet ? Adding more tests.

[2016-10-20 10:53] oterral commented on #2263
Fix ready https://github.com/openlayers/ol3/pull/6002

[2016-10-20 11:01] gjn commented on #2263
Just discussed with Fred, will be in next ol3 release.

[2016-10-20 11:26] oterral commented on #2263
@gjn do you want I deploy an emergency fix with the trick fedj told me in  openlayers/ol3#6001.

`serverType: 'mapserver' `

[2016-10-20 11:31] gjn commented on #2263
No. It's been like this since quite some time, affects WMS layers only and only on certain browsers.

I think we can wait for next ol3 release and update.

[2016-10-20 11:34] oterral commented on #2263
ok

[2016-10-21 13:41] procrastinatio opened #2278 "Tiled WMS + drucken"
**Tiled WMS**

https://map.geo.admin.ch/?X=199374.98&Y=599258.47&zoom=5&lang=de&topic=swisstopo&bgLayer=ch.swisstopo.pixelkarte-farbe&layers=ch.astra.unfaelle-personenschaeden_alle&layers_timestamp=

--> no print

**Non tiled WMS**

https://map.geo.admin.ch/?X=199374.98&Y=599258.47&zoom=5&lang=de&topic=swisstopo&bgLayer=ch.swisstopo.pixelkarte-farbe&layers=WMS%7C%7CUnf%C3%A4lle%20mit%20Personensch

[2016-10-24 12:31] loicgasser commented on #1965
`<broken repr (UnicodeEncodeError: 'ascii' codec can't encode character u'\xea' in position 218: ordinal not in range(128))>` that's the esri json object description you get at the moment....

[2016-10-25 07:52] loicgasser commented on #2274
Now, you just need to remove the snippet from https://github.com/geoadmin/wms-mapfile_include and we can close this isssue.
Thank you, it was very smooth. I don't know if there is something to do with geocat, but I would ask André/Mario.

[2016-10-25 08:07] loicgasser commented on #2273
1. Wait for protocol
2. @pfanguin will make the changes
3. @mariokeusen will adapt the catalogs
4. @pauloamado will create the migration script
5. Remember to deploy doc

[2016-10-25 11:11] gjn commented on #2262
Will be fixed tomorrow.

[2016-10-25 11:11] #2262 closed

[2016-10-25 12:07] AFoletti opened #2289 "2 BAZL layer decommission"
the BAZL layers
ch.bazl.heliports-gebirgslandeplaetze and ch.bazl.points-of-interest have to be decommissioned.
I already set their staging to "test"

Still ToDo:

Catalog:
- [x] Remove from googledocs

WMS:
- [x] Remove from wms-bod
- [x] Delete snippets in mapfile_include

CHSDI:
- [x] models
- [x] translations
- [x] makos
- [x] legends

BOD:
- [x] dataset
- [x] geocat_data
- [x] abnahme
- [x] l

[2016-10-25 15:15] loicgasser commented on #2289
`I already set their staging to "test"`

We may have to remove them from the catalog and sphinx (if searchable= for tomorrow's deploy. Otherwise I don't see any potential conflict with this change.

[2016-10-25 19:10] AFoletti commented on #2289
they are not searchable, so no problem on sphinx.
They are already removed from the catalog spreadsheet, but I have to check the import

[2016-10-26 13:56] gjn commented on #2263
This is fixed on prod now.

[2016-10-26 13:56] #2263 closed

[2016-10-26 14:28] loicgasser opened #2296 "Cadastral web map soleure link not working"
http://www.sogis1.so.ch/sogis/internet/pmapper/somap.php?karte=ortsplan&extent=42000.0,30000.0,350000.0,900000.0

@rebert can you adapt the link in
https://github.com/geoadmin/mf-chsdi3/blob/master/chsdi/templates/htmlpopup/cadastralwebmap.mako

?

you probably know what to do. :d

[2016-10-26 14:29] gjn commented on #2296
:=)

[2016-10-27 07:08] AFoletti commented on #2289
Redmine tickets: 4027 + 4028

[2016-10-27 09:25] loicgasser opened #2299 "Get staging dependent versions of services via parameter"
Because we need to cache the layersConfig and topics services for geoadmin (and mapproxy), we always need to deploy CHSDI first to access the productive configuration of these services. This is a source of errors and reduces our flexibility in general. (for instance with the activate mechanism in geoadmin)

My proposition is as follow when deploying a snapshot **ONLY** to integration, we should ha

[2016-10-27 09:44] loicgasser commented on #2299
If we go this way, we should consider caching all metadata services in S3 bucket.

[2016-10-27 10:59] gjn commented on #2299
We had exactly that until August 18th. The we changed it. See https://github.com/geoadmin/mf-chsdi3/commit/ad3e373460e1126c5ae4b28b9f9475ed88f90b80#diff-71610ca151165b33aa40aae226038574

We reverted to have int on int because of emapis and because in future, integration platform will be used as Abnahmeplatform. So either we have yet another staging for those uses cases (emapis, Abnahmeplatform) or

[2016-10-27 11:04] loicgasser commented on #2299
Yes that's more or less what I had in mind. So geodata_staging=prod should be configured in geoadmin for when deploying to int?

Yes that would be ideal. Keep integration for Abnahmeplatform and stable testing.

[2016-10-27 11:08] gjn commented on #2299
Yes, you would add `geodata_staging=prod` to the request here: https://github.com/geoadmin/mf-geoadmin3/blob/master/Makefile#L416

Mapproxy would do the same.

Per default, the geodata_staging would be int (because of the other use cases).

[2016-10-27 11:33] loicgasser commented on #2299
+1

But we may need to brainstorm IRL it a little before taking this decision as I see other potential use cases where this would be problematic. tomorrow or when we have time

[2016-10-27 11:40] gjn commented on #2299
Yes, agree.

[2016-10-27 11:40] loicgasser commented on #2255
This can be closed, pollution from Jessie instance and this is now fixed there anyway

[2016-10-27 11:40] #2255 closed

[2016-10-27 11:45] loicgasser commented on #2253
@p1d1d1 status about symbology here? Better, worth? I could make those even a little bigger. The thing is I don't know how many items we'll have in the end. If we won't have that many new items I would propose to go even bigger.

[2016-10-27 13:26] p1d1d1 commented on #2253
@loicgasser we're not expecting so many objects in the short term. So i'll go a little bigger too.
Then will check again when we'll have more objects.

[2016-10-28 12:44] #2193 closed

[2016-11-01 12:00] loicgasser opened #2306 "bod clean up"
After next deploy as reminder.

feature_info_mime_type and map_projection are always null in DB and never used in code.

[2016-11-02 09:48] ltclm commented on #2306
remove ``wms_url`` from bod_master.re3.view_layers_js after the deploy of
https://github.com/geoadmin/mf-chsdi3/pull/2308

[2016-11-04 13:26] #2296 closed

[2016-11-04 13:27] loicgasser commented on #2273
https://github.com/geoadmin/mf-chsdi3/pull/2313

[2016-11-04 13:29] loicgasser commented on #2273
https://github.com/geoadmin/mf-chsdi3/pull/2314

[2016-11-07 11:47] p1d1d1 opened #2317 "Search service: label positioning for ch.swisstopo-vd.ortschaftenverzeichnis_plz"
From helpdesk:

 Bonjour,
J'ai été surpris de découvrir que vous mentionnez Couvet comme étant situé dans le canton de Vaud (voir capture d'écran en annexe) :-) Cela arrive quand on cherche par numéro postal (2108).
Meilleures salutations,

So, use case:
* open map.geo.admin.ch
* search for 2108 --> the first entry is "ZIP 2108 - Couver (VD)"

![image](https://cloud.githubusercontent.com/as

[2016-11-08 12:29] gjn commented on #2274
@alcapat Can you verify the state (use the check mentioned by @loicgasser )

[2016-11-08 12:30] #1755 closed

[2016-11-08 14:33] oterral commented on #2278
Affect WMS timeEnabled layers.

[2016-11-08 16:25] loicgasser opened #2319 "Table column definition"
[code]

I don't know if it's a work in progress but could you please check @pfanguin ?

[2016-11-09 09:03] pfanguin commented on #2319
see : #2321

[2016-11-09 10:05] p1d1d1 commented on #2317
@gjn any feedback on this?

[2016-11-09 10:54] #2319 closed

[2016-11-09 11:03] loicgasser commented on #2317
``vd.gabmo_plz``` only has one geometry and those are always Polygons.

[2016-11-09 11:17] gjn commented on #2317
Couvet is a special case that the PLZ 2108 is in 2 cantons: VD and NE.

The point is ST_PointOnSurface of the polygon - I assume it's some kind of Schwerpunkt. No, this point intersects with canton VD, not NE. That's why there's a VD in the text.
https://github.com/geoadmin/service-sphinxsearch/blob/master/conf/search.conf.part#L238

To account for multi-canton PLZ (have VD and NE in the label, wh

[2016-11-09 11:56] p1d1d1 commented on #2317
The position of the label is on the original data, at least here: http://www.cadastre.ch/internet/kataster/de/home/services/service/plz.html

And it's not so nice to say that Couvet is in VD.

Please reconsider it.

[2016-11-09 11:58] p1d1d1 commented on #2317
PS: @gjn the ST_PointOnSurface is calculated by you, I guess with some PostGIS functions.
IMHO you should use the position defined in the original data.

[2016-11-09 12:54] #2278 closed

[2016-11-09 15:18] daguer opened #2323 "layer Ids needs to be remapped to new Ids"
This layer Ids needs to be remapped to new Ids
- ch.swisstopo.landeskarte1000_papier.metadata
  (old ch.swisstopo.lk1000-papierkarte.metadata)
- ch.swisstopo.geologie-gravimetrischer_atlas_papier.metadata
  (old ch.swisstopo.geologie-gravimetrischer_atlas.metadata)
- ch.swisstopo.geologie-grundwasservulnerabilitaet_papier.metadata
  (old ch.swisstopo.gkwvul500-papierkarte.metadata)

TO CHECKLIST:

[2016-11-10 05:48] ltclm commented on #2317
agree with @p1d1d1 , this information should come with the original data, but it is not.

We are intersecting the plz geometry (polygon input replaced with "pointonsurface") with the canton geometry. For performance reasons this has been done with a single point geometry (pointonsurface) [1].
We could extent this query and do an polygon/polygon intersection, which will return multiple results in s

[2016-11-10 07:04] ltclm commented on #2317
[TestUrl](https://mf-geoadmin3.dev.bgdi.ch/?topic=ech&lang=de&bgLayer=ch.swisstopo.pixelkarte-farbe&layers=ch.swisstopo.zeitreihen,ch.bfs.gebaeude_wohnungs_register,ch.bav.haltestellen-oev,ch.swisstopo.swisstlm3d-wanderwege&layers_visibility=false,false,false,false&layers_timestamp=18641231,,,&sdf&X=190887.11&Y=556057.74&zoom=3)

[2016-11-10 08:57] p1d1d1 commented on #2317
@ltclm first many thanks for your effort. Sorry but I still have some doubts.

In Chrome the result is quite weird:
![image](https://cloud.githubusercontent.com/assets/1533649/20170196/a42c21c6-a72b-11e6-95e0-3daebaec9a1f.png)

In IE seems ok:
![image](https://cloud.githubusercontent.com/assets/1533649/20170215/b55dfece-a72b-11e6-8191-c90fecc5b8c5.png)

But I still thinks that the position of the

[2016-11-10 09:32] ltclm commented on #2317
This is a cache issue, try to reload the application in chrome.
our data comes from vd and there is no such information.
@mariokeusen  can you ask the dataowner if they can add a label position ``PLZO_OSNAMEPOS``?

[2016-11-10 09:44] gjn commented on #2317
We miss this info the GDWH. So not possible.

But I think Marcel's approach is really good. It tells people that this PLZ is in 2 cantons - which is correct.

[2016-11-10 10:12] pfanguin opened #2324 "Regrouping layers shop"
sphinx : [#309](https://github.com/geoadmin/service-sphinxsearch/pull/309)
chsdi : [#2314](https://github.com/geoadmin/mf-chsdi3/pull/2314)

This layer Ids needs to be remapped to new Ids
- ch.swisstopo.wanderkarte50_papier.metadata
  (old ch.swisstopo.wk50-papierkarte.metadata)
- ch.swisstopo.landeskarte50_papier.metadata
  (old ch.swisstopo.lk50-papierkarte.metadata)
- ch.swisstopo.landeskarte25

[2016-11-10 12:26] p1d1d1 commented on #2317
PLZ  is in 2 cantons--> right, but the label position is wrong.

@gjn I did an extract of the dataset from the GDWH (link via business email).

- In Interlis you have a table  OrtschaftsName_Pos

- in shapefiles you have OrtschaftsName_Pos

- in CSV you also have Couvet;2108;0;Val-de-Travers;NE;2538608;1197417

So the info is in GDWH

[2016-11-10 13:12] #2235 closed

[2016-11-11 08:16] pfanguin commented on #2323
@daguer : missing metedata for ch.swisstopo.geologie-gravimetrischer_atlas_papier.metadata and tooltip for all layers must be activated.

[2016-11-11 08:48] daguer commented on #2323
This layer isn't in the geocat diff list.
That's why the metadata is empty...

[2016-11-11 09:26] pfanguin commented on #2323
because it is the same uuid as the old layer. You must remove the uuid from the old layer.

[2016-11-14 09:08] p1d1d1 commented on #2317
@gjn @ltclm any feedback here?

[2016-11-14 09:29] ltclm commented on #2317
@mariokeusen will inform the dataowner

[2016-11-14 10:33] p1d1d1 commented on #2317
For what?

[2016-11-14 10:36] ltclm commented on #2317
we have to change the source of our automatic data import. As soon as we get the new attributes, we will have to update the import scripts and use the exact label position for the sphinx query.

[2016-11-14 11:47] AFoletti commented on #2289
chsdi PR https://github.com/geoadmin/mf-chsdi3/pull/2325

[2016-11-14 12:40] AFoletti commented on #2289
Everything is done and I asked for the removal of the geocat entries

[2016-11-15 09:34] AFoletti commented on #2289
closing this since PR is merged

[2016-11-15 09:34] #2289 closed

[2016-11-15 17:19] loicgasser commented on #2169
FME scripts are a bit everywhere.
I don't think it's really reviewable but it would be good to have a central repo for all those scripts.

[2016-11-16 06:04] AFoletti commented on #2169
+1 for the review at the data (table/file) level.

FME scripts are a bit subjective (many ways for the same result, and we do not have clear ways to define what's better) and I, like @loicgasser, think that they will be difficult to review.
Much more interesting would be a sort of knowledge exchange about how to build a particular workbench or how to perform some bizarre task in them.
We also have

[2016-11-16 07:00] gjn opened #2333 "Document multi-version javascript API"
We should mention it in the docs at least. Only then we'll release it officially.

[2016-11-16 09:26] loicgasser commented on #2169
+1 for the review at the data (table/file) level.

I can take care of it with @ltclm . Organize it, Ideally automatize it.

As you are migrating from Redmine to Jira and you have a good knowledge/overview on how we handle these scripts, I think you are in the best position to organize that.
Could you make a proposal for that when you have time?

[2016-11-16 09:31] loicgasser commented on #2333
http://mf-chsdi3.dev.bgdi.ch/api/quickstart.html#include-the-geoadmin-javascript-api

It is in the quick start page.
We could mention it in the examples as well.

[2016-11-16 11:03] AFoletti commented on #2169
I'll discuss it with A. Kunz too and organize a global IGEB repo

[2016-11-16 12:10] loicgasser commented on #2169
Great! keep us in the loop.

[2016-11-16 13:23] loicgasser opened #2336 "Generate empty.po automatically on translate"
YAML http://pyyaml.org/wiki/PyYAMLDocumentation
Python built-in https://docs.python.org/2/library/functions.html
os python https://docs.python.org/2/library/os.html
https://docs.python.org/2/library/os.path.html
https://docs.python.org/2/library/__main__.html
https://docs.python.org/2.7/library/contextlib.html

- Add script usage https://docs.python.org/2/library/sys.html or https://docs.python.or

[2016-11-16 13:57] #2220 closed

[2016-11-17 11:53] AFoletti commented on #2317
@ltclm I rapidly checked the data we use for the import and the needed label points are there indeed.
What we missed is the fact that the point geometries for label placement are NOT in the same table as the labels themselves.
In the PLZ workbench we should add the PLZO_OSNAMEPOS table and merge it with the PLZO_OSNAME. The rest of the process can stay exactly the same, but we will maybe need to a

[2016-11-17 12:10] ltclm commented on #2317
great thank you @AFoletti
i will update the fme workbench, the table and the sphinx query.

[2016-11-17 14:10] p1d1d1 opened #2337 "Geologischer Atlas: bugs"
There is a bug in the following layers:

ch.swisstopo.geologie-geologischer_atlas_papier.metadata
ch.swisstopo.geologie-geologischer_atlas

Use Case:
- Load ch.swisstopo.geologie-geologischer_atlas_papier.metadata
- Search for 139 --> GA-DRG-139
- Click on the map sheet --> 139 and 149 are loaded in the tooltip (there are 2 geometries there)
- Text on map sheet is wrong (149 Buchs (LK 1135). Shoul

[2016-11-17 15:15] ltclm commented on #2317
the sphinx index has now the exact label positions from plz dataset.
[TestUrl](https://mf-geoadmin3.dev.bgdi.ch/?swisssearch=2108)

[2016-11-17 15:18] p1d1d1 commented on #2317
Perfect, many thanks.

[2016-11-17 15:44] ltclm commented on #2337
the toposhop table has two products:
'GA25-DRG-139', 'GA25-DRG-149' which are referenced with the same geometry in our stopo geometry table stopo_master.public.grid_ga25. Well in this table we have two entries with identical geometry.
We have to find out why both products have the same geometry in our geometry table.
@pauloamado do you have any idea why these products have the same geometry?

[2016-11-17 15:57] gjn commented on #2317
You are great!

What needs to be done to deploy this? Please mention it in the deploy db.

[2016-11-17 16:25] ltclm commented on #2317
once this pr is merged, we have to deploy the new sphinx config to int and prod, and afterwards stopo_master.vd.gabmo_plz.
i have remarked it in the remember deploy document for 2016-11-30.

[2016-11-18 07:19] davidoesch commented on #2337
@p1d1d1  tick should be in mf-geoadmin

[2016-11-18 07:50] ltclm commented on #2337
thanks to @pauloamado we could identify the issue.
we had duplicate entries in the geometry source table in stopo.
we have found the same issue with the sheets 148 and 138.
I have removed the duplicated entries and added a unique constraint.
the table has been deployed to prod.

[2016-11-18 08:47] p1d1d1 commented on #2337
@ltclm many thanks for the quick fix.
@davidoesch sorry, sometimes I have doubts on where to open tickets.

[2016-11-18 08:47] #2337 closed

[2016-11-18 09:49] loicgasser opened #2338 "Tests ogcproxy: download kml via ogcproxy url"
http://mf-chsdi3.dev.bgdi.ch/examples/bln-style.kmz

Should be stored oustide CHSDI.

chsdi.tests.integration.test_ogcproxy.TestOGCproxyView
Line 27

Upload and then replace URL

[2016-11-18 09:58] procrastinatio commented on #2338
You mean outside 'bgdi.ch' and 'geo.admin.ch' ?

[2016-11-18 10:28] loicgasser commented on #2338
I mean outside chsdi.

[2016-11-18 12:14] p1d1d1 opened #2339 "Bug Search Service?"
Use Case:

1) Search for CH327843320651 --> 2 results in the list with exactly the same text but 2 different locations on the map

![image](https://cloud.githubusercontent.com/assets/1533649/20429709/9d9c44f6-ad90-11e6-9ca7-34b1716bcda9.png)

[2016-11-18 13:53] loicgasser commented on #2339
Data issue.
https://api3.geo.admin.ch/1611161143/rest/services/ech/SearchServer?searchText=CH327843320651&lang=fr&type=locations

geometry seems different while parcel id is identical.

@ltclm we don't enforce parcel number in DB?

[2016-11-18 14:08] ltclm commented on #2339
the last number comes from the attribute egris_egrid
around 7% of the data (300'000 out of 4M) have duplicate egris_egrid numbers, i dont know if this is a data issue.

[2016-11-18 17:44] p1d1d1 commented on #2339
this last number is supposed to be unique over the entire Schweiz. Unique ID of a parcel.

[2016-11-18 19:37] ltclm commented on #2339
I have no idea about the content of egris_egrid. we are publishing 1:1 what we get from geoshop. this delivery has egris_egrid as optional field. please ask ibele about that.

[2016-11-21 13:15] pfanguin commented on #2324
Decommission chsdi : https://github.com/geoadmin/mf-chsdi3/pull/2342
Decommission sphinx : https://github.com/geoadmin/service-sphinxsearch/pull/311

[2016-11-21 13:34] loicgasser commented on #2324
yep, try:

[code]

[2016-11-22 12:31] #2323 closed

[2016-11-22 12:31] loicgasser commented on #2323
thanks @pfanguin

[2016-11-22 12:31] #2274 closed

[2016-11-22 12:40] #1071 closed

[2016-11-22 19:34] ltclm commented on #2306
i have removed the following columns ``feature_info_mime_type`` and ``map_projection`` from the table ``public.wms_metadata`` and the referencing views ``re3.view_wms_service_metadata_``.
The column ``wms_url`` has been removed from ``re3.view_layers_js``.

[2016-11-22 19:36] ltclm commented on #2306
for the files the sql migration script:
[code]

[2016-11-22 20:07] loicgasser commented on #2306
Excellent !!! I also applied my script, minus the catalog,  I am waiting for a feedback from @AFoletti

[2016-11-22 20:07] loicgasser commented on #2306
and minus enum for now

[2016-11-22 20:14] loicgasser commented on #2306
And added the delete trigger on the translations from ms_items and dataset

[2016-11-22 21:09] ltclm commented on #2306
perfect, thank you!

[2016-11-23 09:05] pfanguin commented on #2324
Done

[2016-11-23 09:05] #2324 closed

[2016-11-23 09:44] pfanguin commented on #2273
It's done

[2016-11-23 09:44] #2273 closed

[2016-11-23 12:25] p1d1d1 commented on #2253
@all any news on this?

[2016-11-23 12:40] loicgasser commented on #2253
Yes we have a testlink in dev:
https://mf-chsdi3.dev.bgdi.ch/shorten/6fbc8df41c

VS

https://mf-chsdi3.int.bgdi.ch/shorten/6fbc8e9ee2

[2016-11-23 13:13] p1d1d1 commented on #2253
Ok thanks. But what about points 4 and five? Have these been fixed?

[2016-11-23 15:01] loicgasser commented on #2253
5 yes see the above links.

For 4 I don't know this is a layer containing all the emapis layers apparently.

See:
https://github.com/geoadmin/mf-chsdi3/compare/gal_legends?expand=1

And a legend doesn't exist for this one yet. At least in chsdi.

[2016-11-23 17:27] loicgasser commented on #2306
@ltclm

I have a new one for you

[code]

[2016-11-23 17:30] loicgasser commented on #2306
I removed `ms_item_update_translation` because there were some inconsitencies in the column
`ms_item.pk_ms_item_name` where the BOD ID would also be in there.
It would be wise to add a check on this column as well.

[2016-11-23 17:30] loicgasser commented on #2306
and here is the proposed migration.

[2016-11-23 19:22] ltclm commented on #2306
hi @loicgasser
* ows_keyword_list_gemet
* contactposition
are  used for the translation of wms-ga [1] I dont think that we will ever again have to translate these two onegeology services but you never know....

the ms_item cleanup and the new trigger functions seem to be ok, thank you that's a great improvement.

[1] https://github.com/geoadmin/tool-wms/blob/646f4580ae5e7f6c415e05a92190a7b0efab7d5

[2016-11-23 20:21] loicgasser commented on #2306
I will make a couple of extra tests, create a bod snapshot and apply this migration tomorrow. Thanks for the review !

[2016-11-24 08:58] p1d1d1 commented on #2253
Many thanks.
5) the symbology is ok on map, but legend in infobox should be updated

4) this layer contains all emapis layers and is just a WMS layer that will be used via WMS-Import: https://mf-chsdi3.int.bgdi.ch/shorten/6fc0e76f00. The legend in the infobox is a GetLEgendGraphic request, but entries are duplicated.

[2016-11-28 06:34] ltclm commented on #2306
have you  already executed your migration script on bod_master?

[2016-11-28 08:38] loicgasser commented on #2306
not yet, in fact

[2016-11-28 09:23] loicgasser commented on #2306
It's done @pfanguin @ltclm let me know if encounter any difficulty.

[2016-11-28 11:19] ltclm opened #2351 "tooltip not working"
The tooltip (grid based) of the following layers is not working
* ch.bafu.gewaesserschutz-diffuse_eintraege_phosphor
* ch.bafu.gewaesserschutz-diffuse_eintraege_stickstoff

[2016-11-28 12:43] #2351 closed

[2016-11-29 13:37] p1d1d1 commented on #2150
@procrastinatio a request specifying the geometry type, e.g. ?geometryFormat=geojson, does not contain the SRS information.
Don't know if we can have it in GeoJSON: according to this https://tools.ietf.org/html/rfc7946#page-26 the "crs" is no more available in the GeoJSON specs.

[2016-11-29 16:43] loicgasser commented on #2306
And one more @ltclm

[code]

https://github.com/geoadmin/tool-wms/blob/master/scripts/bod2po.yaml#L23 we need to adapt.

[2016-11-29 17:48] procrastinatio commented on #2150
Like `KML`, `GeoJSON`will be `EPSG:4326` only  (see latest IETF GeoJSON draft.

So, either use something supporting LV95, like `ESRIJson`or `GML`, or completly ditch this LV95 thingy. WGS1984 to anything else, without any date information is a joke for high precision. For the record, the Atlantic Ocean widens up at the speed of 3-4 cm per year (about 1 meter since inception if I am correct).

 I

[2016-11-29 19:19] ltclm commented on #2306
hi loic
you could also add the following default values to the not null columns:

[code]
``ows_keywordlist_xx`` are used for the translation of wms onegeology (wms-ga). If you delete these columns, you can also delete the columns ``ows_keyword_list_gemet_xx, contactposition`` see comments above. @p1d1d1 do we still need wms onegeology?
please dont remove the column ``bgdi_id`` it is added automati

[2016-11-29 20:23] loicgasser commented on #2306
Yes absolutely add those default.
I won't remove anything that breaks prod.
It's a few keywords for onegeology.

[2016-12-05 06:30] AFoletti opened #2362 "Decommission ch.swisstopo.geologie-geolkarten500.metadata"
A stopo layer to decommission. Replaced by ch.swisstopo.geologie-geologische_karte_papier.metadata
BOD staging already set to "test"

Still ToDo:

Catalog:
- [x] Remove from MuM

WMS:
- [x] Remove from wms-bod
- [x] Delete snippets in mapfile_include

CHSDI:
- [x] models
- [x] translations
- [x] makos
- [x] legends

BOD:
- [x] dataset
- [x] geocat_data
- [x] abnahme
- [x] layers_js
- [x] translati

[2016-12-05 08:38] AFoletti commented on #2362
fully removed once the chsdi PR is merged.
I removed it from the catalog spreadsheet too.

Pending: removal from MuM (needs development MuM-side)

[2016-12-05 08:46] ltclm commented on #2362
is there any data we can remove, or is it only a renaming?

[2016-12-05 08:53] AFoletti commented on #2362
old layer used  public.gk500 for both visualization and tooltip info.
The new layer uses geol.view_gridstand_gkg500 so it's probably safe to remove the data too.
But I don't know stopo layers well enough to be sure...

[2016-12-05 09:25] ltclm opened #2365 "post shop and cartoweb cleanup in bgdi databases"
since we have introduced a whole bunch of new tables for the new shop layers and services and we have decomissioned cw-toposhop and cw-datenstand we will have to do some clean-up work in the stopo database:
* [x] identify and remove unused tables and views from **stopo_master** database
   *  check every datasource of cw-datenstand and cw-toposhop if it is still used in the shop layers or services

[2016-12-05 09:26] ltclm commented on #2362
we will have to do some clean-up work in the stopo database:
https://github.com/geoadmin/mf-chsdi3/issues/2365

[2016-12-06 08:07] procrastinatio opened #2371 "Missing htpasswd/htgroup on some target"
Fix it manually or wait for the puppet recipies

[code]

[2016-12-06 12:14] oterral commented on #2333
We need to address polyfill issue.  See feedbacks in google group.

[2016-12-06 12:14] oterral commented on #2253
Done in prod

[2016-12-06 12:14] #2253 closed

[2016-12-09 07:06] mariokeusen opened #2381 "[Tooltip]: dynamic links to feature attachments non available"
UC: open app, load the opendata AV layer (ch.swisstopo-vd.amtliche-vermessung), go to Solothurn, click on map
Result: tooltip appears with attributes as designed, but the links to download the SHAPE and ITF Files per municipality are not available anymore.
Expected: we have functional download links to the SHAPE and ITF Files available on S3

Remark: the files are still available in the folder str

[2016-12-09 07:14] mariokeusen commented on #2381
The links to the PDF's for e.g. ch.astra.ivs-nat, ch.astra.ivs-reg_loc do not work anymore as well. Seems to be a general issue with feature attachments.
Other examples like ch.bafu.typisierung-fliessgewaesser (Feature attachments on dav0) or ch.bak.bundesinventar-schuetzenswerte-ortsbilder (feature attachments on S3) still work normally.

[2016-12-09 07:34] ltclm commented on #2381
see https://github.com/geoadmin/mf-geoadmin3/issues/3651
will be solved with the deploy next week https://github.com/geoadmin/mf-chsdi3/pull/2380

[2016-12-09 07:35] mariokeusen commented on #2381
Duplicate with #3651

[2016-12-09 07:35] #2381 closed

[2016-12-09 08:55] mariokeusen opened #2383 "[ch.swisstopo.hangneigung-ueber_30] set default opacity to 0.4 instead of 0.75"
Customer request:
Please change the default config of the opacity parameter for this layer to 0.4 instead of 0.75. Like [1]
Thanks in advance

[1] https://map.geo.admin.ch/?topic=schneesport&lang=en&bgLayer=ch.swisstopo.pixelkarte-farbe&layers_opacity=0.4&catalogNodes=2352&X=141524.58&Y=618706.82&zoom=7&layers=ch.swisstopo.hangneigung-ueber_30

[2016-12-09 09:25] ltclm commented on #2383
done, will be deployed 2016-12-14

[2016-12-09 13:01] mariokeusen commented on #2383
Merci

[2016-12-12 15:07] ltclm commented on #2306
Hi @loicgasser
As discussed today
i will prepare a sql migraiton script which will:
* change structure re3.catalog
* change structure re3.xt_dataset_topic
* change view re3.view_catalog
* populate layer/topic/category mapping to re3.xt_dataset_wms

can i test the script in bod_test_master?

[2016-12-12 15:30] loicgasser commented on #2306
Hi thanks a lot for your help it is very much appriciated.
`bod_test_master` is a test bod I use to run the integration tests.

Instead, I would make a copy of the current bod and run the migration script there.

Meanwhile, I prepare a rest end-point to display and edit WMS configs and start migrating the catalog solution.

[2016-12-12 15:32] loicgasser commented on #2306
I meant the topic stuff.

[2016-12-12 20:30] loicgasser opened #2389 "kataster_belasteter_standorte_oev empty table?"
Something is wrong with this table / layer.

Tests keep failing.

@ltclm @pfanguin any idea who s working on that ?

[2016-12-12 20:36] ltclm commented on #2389
you have to ask @AFoletti

[2016-12-13 06:15] AFoletti commented on #2389
uvek.bav.kataster_belasteter_standorte_oev (and its oereb sister) are not empty. Which tests are failing?

[2016-12-13 06:57] loicgasser commented on #2389
Have a look at Jenkins.. http://jenkins.dev.bgdi.ch/job/PR_chsdi3/91/console
Search and layers (no feature was found in the table)

[2016-12-13 07:15] AFoletti commented on #2389
Something is fishy. Table is OK, and the layer works as defined
[maplink](https://s.geo.admin.ch/70226341e5)
[identify](https://api3.geo.admin.ch/rest/services/all/MapServer/identify?geometry=680466.3375970491,249199.93719575045&geometryFormat=geojson&geometryType=esriGeometryPoint&imageDisplay=1920,718,96&lang=en&layers=all:ch.bav.kataster-belasteter-standorte-oev&mapExtent=677946.3375970491,2482

[2016-12-13 07:25] ltclm commented on #2389
the layer is configured as ``searchable=True`` in the bod but there is no sphinx index.
i propose to set the layer to ``searchable=False``

[2016-12-13 07:29] loicgasser commented on #2389
+1

[2016-12-13 07:36] ltclm commented on #2389
done and bod deployed to dev
new build: http://jenkins.dev.bgdi.ch/job/PR_chsdi3/94/

[2016-12-13 08:04] oterral opened #2390 "No rm legend"
http://api3.geo.admin.ch/static/images/legends/ch.bakom.downlink1_rm.png

For all these layers there is bad legend for rm:

Update	Download ≥ 1 Mbit/s (ch.bakom.downlink1)
Update	Download ≥ 2 Mbit/s (ch.bakom.downlink2)
Update	Download ≥ 10 Mbit/s (ch.bakom.downlink10)
Update	Download ≥ 20 Mbit/s (ch.bakom.downlink20)
Update	Download ≥ 50 Mbit/s (ch.bakom.downlink50)
Update	Download ≥ 100 Mbit/s (

[2016-12-13 09:34] rebert commented on #2390
@oterral I will try

[2016-12-13 09:49] AFoletti commented on #2390
[Do. Or do not. There is no try](https://www.youtube.com/watch?v=iSpx92Xoukk)
I take care of that. Those are my layers after all...

[2016-12-13 10:01] rebert commented on #2390
@AFoletti : I just updated the table bod_master: public.ms_class for this issue - have fun :-)

[2016-12-13 12:45] loicgasser opened #2394 "Error in catalog for layer ch.bafu.karst-ausdehnung_grundwasservorkommens"
This layer is not connected in the catalog ping @AFoletti @mariokeusen @daguer

[2016-12-13 12:56] mariokeusen commented on #2394
Indeed it is part of the topics ech, inspire, bafu, gewiss and geol. But the tech. layername is ch.bafu.karst-ausdehnung_grundwasservorkommen instead of ch.bafu.karst-ausdehnung_grundwasservorkommens.

I have successfully imported it with the other 4 "karst" layers into the catalogs. And checked the layer positions on dev and int.

[2016-12-13 13:40] loicgasser commented on #2389
This is fixed thanks @ltclm

[2016-12-13 13:40] #2389 closed

[2016-12-14 06:45] ltclm commented on #2306
hi loic, the migration script for the catalog refactoring is ready and has been applied on bod_ltclm_master:
for further info please see the comments in the sql.
the most important changes:
* catalog view is not recursive anymore
* ``[parent_id, catalog_id]`` can be used as edge ids, the root edge has ``[NULL, id] `` p.e. topic are
[code]
* catalog_id and catalog_parent_id are integer now
* flat t

[2016-12-14 06:52] AFoletti commented on #2306
ok, I have to admin I did not go through the whole code but...

can you please explain in a few simple words if and how this impacts the integration process?

[2016-12-14 07:03] ltclm commented on #2306
the main goal is to get rid of the google spreadsheet and implement integrity checks on the catalog defintion. loic is working on a gui implementation (tool-wms) which will replace the google spreadsheet (@loicgasser , right?).

[2016-12-14 07:52] loicgasser commented on #2306
Yes, the goal is also to treat all topics the same way and cleanup unused code, add a new importer with integrity checks. This will give us more flexibility and info about topics is now much easier to retrieve.
I would like to avoid drop / create of the whole table every time.

[2016-12-14 07:56] loicgasser commented on #2306
It's also for BMD, where we need to be able to tell the belonging of a layer to a topic before they actually are in a catalog.

[2016-12-14 08:25] oterral commented on #2394
The extra 's' is just an error in the code of the test.

[2016-12-14 08:26] loicgasser commented on #2394
https://mf-geoadmin3.int.bgdi.ch/mobile.html?topic=bafu&lang=fr&bgLayer=ch.swisstopo.pixelkarte-grau&layers_visibility=false,false,false,false&layers_timestamp=18641231,,,

[2016-12-14 08:38] loicgasser commented on #2394
Catalogue bafu is still broken on int, my guess is that a category is still on int or Dev and layer on prod

[2016-12-14 08:47] mariokeusen commented on #2394
Just checked the topic config table for bafu once again: there is no category set on dev or int where there are layers on prod. Therefore this cannot be an issue on the topic config side....

[2016-12-14 09:30] oterral commented on #2394
@mariokeusen  there is problem with all the karst layers because you haven't validate the config after changing the category staging to prod. Can you do it now please ?

[2016-12-14 09:36] mariokeusen commented on #2394
Ok, I did that once again. Should have been on prod since Friday last week btw.

[2016-12-14 09:42] oterral commented on #2394
thx

[2016-12-14 09:54] ltclm commented on #2394
imho it should be possible and no normal to have prod layers in dev or int topics, loic?

[2016-12-14 09:57] oterral commented on #2394
arf sorry for the noise @mariokeusen.  The validation didn't work as expected. An SQL error were triggered but not display.

[2016-12-14 10:12] #2390 closed

[2016-12-14 10:12] #2383 closed

[2016-12-14 10:18] mariokeusen commented on #2394
no prob. So, issue is or can be solved? If so, please close this issue. Thanks

[2016-12-14 10:26] loicgasser commented on #2306
@ltclm It is now really good, much simpler and clearer.
Let's discuss it in detail tomorrow. Already started mapping the new structure.

[2016-12-14 10:28] loicgasser commented on #2306
we can maybe remove the recursive comment
[code]

[2016-12-14 11:05] loicgasser commented on #2394
It is fixed. closing

[2016-12-14 11:05] #2394 closed

[2016-12-14 11:12] loicgasser opened #2397 "Simplify geoms for ch.bafu.gefahren-baugrundklassen"
Some geometries are way too big

https://map.geo.admin.ch/?topic=ech&lang=en&bgLayer=ch.swisstopo.pixelkarte-farbe&X=152486.49&Y=568129.80&zoom=3&layers=ch.bafu.gefahren-baugrundklassen&layers_opacity=0.75

We need to improve that as half of the identify requests fail.

[2016-12-14 12:26] AFoletti commented on #2306
I love the main goal!
But still, since this is going to prod today, are there any immediate changes or we go on as we did until now for the moment?

[2016-12-14 12:34] loicgasser commented on #2306
This is not going to prod today. It's only applied in bod_ltclm_master and is intended to work with https://github.com/geoadmin/tool-wms/pull/48

[2016-12-14 12:37] AFoletti commented on #2306
ok, sorry for messing up then :)

[2016-12-14 13:15] ltclm commented on #2397
please add an additional geometry column ``the_geom_simplified``
as described here: https://wiki.lt.admin.ch:8443/confluence/pages/viewpage.action?pageId=313460400
with fme generalizer and adapt import script.

[2016-12-14 17:14] cedricmoullet opened #2402 "500 errors on search server"
https://api3.geo.admin.ch/1612141141/rest/services/aviation/SearchServer?se…0,353750&features=ch.bazl.luftfahrthindernis&timeEnabled=false&timeStamps=

deivers a 500 in https://map.geo.admin.ch/index.html?topic=aviation&lang=de&bgLayer=ch.swisstopo.pixelkarte-grau&layers=ch.bazl.luftfahrthindernis&catalogNodes=1379

![image](https://cloud.githubusercontent.com/assets/319676/21192496/11467690-c229-

[2016-12-14 17:28] loicgasser commented on #2402
Will look into it when I get home.

[2016-12-14 19:11] ltclm commented on #2397
[code]

[2016-12-14 19:43] loicgasser commented on #2397
It's in the pipeline, it was an update and it was already the case, we missed it but didn't have time to do it today as it would take too long to simplify. @rebert is ready ;)

[2016-12-14 21:25] loicgasser commented on #2402
issue is solved

[2016-12-14 21:54] loicgasser commented on #2402
I still see 500 errors on the search service. I can't reproduce right now. @ltclm @danduk82 We may have an issue with an instance.

[2016-12-14 21:55] loicgasser commented on #2402
the feature search mainly

[2016-12-15 05:47] AFoletti commented on #2362
MuM ability to remove layers will come in a future release.
I'll leave this ticket open so that I do not forget it. Redmine ticket will be closed
https://redmine.prod.bgdi.ch/issues/4309

[2016-12-15 06:46] loicgasser commented on #2402
Error 500 are gone but I leave it open as I can't tell why it was the case in the first place.

[2016-12-15 08:06] davidoesch commented on #2397
@mariokeusen Can we convince tha data owner to remove the tooltip ? (only 5% of users click on geometries...)

[2016-12-15 08:36] ltclm commented on #2397
the simplified geometry is ready and will soon be deployed.
so we could keep the identify, but yes no-tooltip is better ;-)

[2016-12-15 09:26] loicgasser commented on #2397
Or no highlight, it s possible as well

[2016-12-15 14:54] loicgasser commented on #2402
This is solved. AWS DNS exploded yesterday. This could explain that. http://status.aws.amazon.com/rss/ec2-eu-west-1.rss

[2016-12-15 14:54] #2402 closed

[2016-12-16 20:39] ltclm commented on #2365
this is the migration / cleanup script for stopo database, togehter with these tables and views we can get rid of some mapfile snippets too, see comments in the sql below
[code]

[2016-12-17 09:23] cedricmoullet commented on #2397
We see a lot of 509 like http://api3.geo.admin.ch/rest/services/all/MapServer/identify?geometry=646062.375,222355.4375&geometryFormat=geojson&geometryType=esriGeometryPoint&imageDisplay=1920,1123,96&lang=de&layers=all:ch.bafu.gefahren-baugrundklassen&mapExtent=645105.375,221788.4375,647025.375,222911.4375&returnGeometry=true&tolerance=10 so it seems users are clicking on features

[2016-12-17 09:54] cedricmoullet opened #2407 "503 error on https://api3.geo.admin.ch/admin/kml"

[2016-12-17 19:40] cedricmoullet opened #2408 "500 error on ch.bfe.windenergie-geschwindigkeit_h125"
http://api3.geo.admin.ch/rest/services/api/MapServer/identify?geometryType=esriGeometryPoint&geometry=516750%2C307656.25&geometryFormat=geojson&imageDisplay=671%2C600%2C96&mapExtent=492250%2C35000%2C827750%2C335000&tolerance=10&layers=all%3Ach.bfe.windenergie-geschwindigkeit_h125&lang=de&callback=_callbacks_._4iwtlnetm

[2016-12-19 07:56] rebert commented on #2397
PR #2406 -> dependancy on database bafu_master

[2016-12-19 08:59] loicgasser commented on #2408
The tooltip works when clicking in the grid, this point is way outside the grid. We should be returning an empty list instead though. I will fix that.

https://s.geo.admin.ch/7041a91f57

[2016-12-19 10:07] #2407 closed

[2016-12-19 10:08] #2371 closed

[2016-12-19 10:09] loicgasser commented on #2397
Will be fixed for next deploy @rebert don't forget The
REMBER TO DEPLOY document.

[2016-12-19 10:09] #2397 closed

[2016-12-19 10:10] loicgasser commented on #2365
Great thanks a lot the cleanup. Has it been applied yet? If yes you can close the issue.

[2016-12-19 12:32] loicgasser commented on #2408
Fixed via https://github.com/geoadmin/mf-chsdi3/pull/2410

[2016-12-19 12:32] #2408 closed

[2016-12-19 13:06] ltclm commented on #2365
This is the clean up script for bafu database
[code]

[2016-12-19 13:29] ltclm commented on #2365
this is the **clean up script for kogis_master**, do not apply before cw-toposhop decomissioning
[code]

[2016-12-19 17:14] loicgasser commented on #2306
@ltclm I would do the following changes based on your script.

[code]

So basically create a UNIQUE contraint on (catalog_id, fk_topic, fk_dataset) in xt_dataset_topics.
show_catalog is either True or False
and catalog_id can be null in xt_dataset_topics. (meaning no reference in the catalog), but still has a reference to the catalog table.

I think that with these modifications we can also remove

[2016-12-19 17:14] loicgasser commented on #2306
What do you think?

[2016-12-19 17:22] loicgasser commented on #2306
Here is the new sql for the view

[code]

[2016-12-19 17:44] loicgasser commented on #2306
Also since catalog_id is unique creating a foreign key on catalog_parent_id referencing catalog_id is enough.

[2016-12-19 17:50] loicgasser commented on #2306
order_key in topics is used to order the topics in mapgeoadmin

[2016-12-19 17:55] loicgasser commented on #2306
Also what about the access column? I think it's useless as it is always null....
[code]
at top of your script.

[2016-12-20 07:17] ltclm commented on #2365
this is the **clean up script for edi_master**
[code]

[2016-12-20 10:03] ltclm commented on #2365
this is the **clean up script for uvek_master**
[code]

[2016-12-20 10:20] mariokeusen opened #2411 "[copyright-tool] new BLW URL's due to a CMS change"
UC: open app, load any layer from ch.blw, click the link to BLW on the copyright tool
Result: link does not work anymore due to a CMS change @blw
Expected: user is lead to new blw website

Workaround: replace current URL's with the new ones [1]

[1]
BLW: https://www.blw.admin.ch/blw/de/home.html
OFAG: https://www.blw.admin.ch/blw/fr/home.html
UFAG: https://www.blw.admin.ch/blw/it/home.html
FOAG: h

[2016-12-20 10:22] ltclm commented on #2306
yes we can remove this column.
I have update the sql migration script above with your new view and the remove access statement.

[2016-12-20 11:56] ltclm commented on #2411
will be fixed with next deploy

[2016-12-20 13:35] ltclm commented on #2365
this is the **clean up script for vbs_master**
[code]

[2016-12-21 08:28] loicgasser commented on #2411
Fixed via https://github.com/geoadmin/mf-chsdi3/pull/2412

[2016-12-21 08:28] #2411 closed

[2016-12-21 08:33] loicgasser commented on #2306
cool, I think we could also use only boolean values for selected_open attr in re3.catalog table.
[code]

[2016-12-21 09:03] ltclm commented on #2306
yes, make sense, i have added the queries to the migration script above.

[2016-12-21 09:22] ltclm commented on #2306
@loicgasser the new re3.view_catalog query you provided only has 'layers'.
should that really be the case?

[2016-12-21 09:49] loicgasser commented on #2306
@ltclm no it was wrong. I just corrected it.

[2016-12-22 05:30] ltclm commented on #2306
where did you correct it, the view definition from the migration script above is still not working?

[2016-12-22 07:59] ltclm commented on #2306
the new re3.view_catalog view definition seems not to work, what exactly did you change in the view and why?

[2016-12-22 08:58] loicgasser commented on #2306
Not the migration script just in the single comment

[2016-12-22 09:00] loicgasser commented on #2306
here: https://github.com/geoadmin/mf-chsdi3/issues/2306#issuecomment-268023838

[2016-12-22 09:06] loicgasser commented on #2306
We shall really use git for that. :laughing:

[2016-12-22 09:09] loicgasser commented on #2306
That's what I changed and I removed the access collumn.
[code]
no need show_catalog

[2016-12-22 09:13] ltclm commented on #2306
yes, i checked the view, it is working now, thank you.

[2016-12-22 09:17] loicgasser commented on #2306
Can you prepare a PR in tool_wms with this script?
You simply create a folder migrations and copy-paste this script. you could call it mig_0.sql for instance, we start like that and we'll improve the system over time. What do you think?

[2016-12-23 10:27] #2333 closed

[2017-01-09 13:29] davidoesch opened #2416 "Wrong LV95 ( 4x 2x)"
"Ihre Suche über eine Postadresse funktioniert, aber die Suche über ein Grundstück weist als Resultat die doppelte LV95 Koordinate aus (4 Millionen, 2 Millionen statt 2 Mio, 1 Mio)."

Customer feedback ID : 2017010911441229

according to lttsb , @oterral is working on it

[2017-01-09 14:20] mariokeusen commented on #2362
This GDS has been removed from BMD4MuM now:
https://jira.swisstopo.ch/browse/BGDIDM_SB-288

[2017-01-09 14:28] AFoletti commented on #2362
thanks!

[2017-01-09 14:28] #2362 closed

[2017-01-09 17:07] ltclm commented on #2416
the csv geoshop export is now lv95. we have to change our import script. will deploy the data tomprrow.

[2017-01-09 17:21] davidoesch commented on #2416
Thanks for the update

[2017-01-09 19:47] ltclm commented on #2416
import script are fixed and data is deployed to prod.

[2017-01-09 19:57] davidoesch commented on #2416
Thanks, Helpdesk is informed to update customer with the news

[2017-01-09 19:57] #2416 closed

[2017-01-11 06:38] rebert opened #2419 "feature appears twice"
It seems that the features of the _Journey through Time_ are appearing twice: ![feature_appears_twice](https://cloud.githubusercontent.com/assets/2940619/21838143/b207c040-d7d0-11e6-8c18-5f896a421c3c.png)

[behaviour of identify service](https://api3.geo.admin.ch/rest/services/all/MapServer/identify?geometry=735750,172750.00000000003&geometryFormat=geojson&geometryType=esriGeometryPoint&imageDispl

[2017-01-11 06:43] rebert commented on #2419
@ltclm : do you spontaneous have an idea why _identify_ is behaving like that (it does not seem to be the data)?